<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.springboot.mapper.fdp.FdpDispatchJobPerformanceMapper" >
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.fdp.FdpDispatchJobPerformance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dispatch_order_id" property="dispatchOrderId" jdbcType="INTEGER" />
    <result column="dispatch_request_id" property="dispatchRequestId" jdbcType="INTEGER" />
    <result column="job_step_index" property="jobStepIndex" jdbcType="INTEGER" />
    <result column="job_step_description" property="jobStepDescription" jdbcType="VARCHAR" />
    <result column="work_condition_photo" property="workConditionPhoto" jdbcType="VARCHAR" />
    <result column="work_condition_photo_name" property="workConditionPhotoName" jdbcType="VARCHAR" />
    <result column="job_performance_version" property="jobPerformanceVersion" jdbcType="INTEGER" />
    <result column="flag_job_finish" property="flagJobFinish" jdbcType="BIT" />
    <result column="flag_is_last" property="flagIsLast" jdbcType="BIT" />
    <result column="job_performance_description" property="jobPerformanceDescription" jdbcType="VARCHAR" />
    <result column="voice_log_url" property="voiceLogUrl" jdbcType="VARCHAR" />
    <result column="voice_log_length" property="voiceLogLength" jdbcType="VARCHAR" />
    <result column="voice_log_time" property="voiceLogTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dispatch_order_id, dispatch_request_id, job_step_index, job_step_description, 
    work_condition_photo, work_condition_photo_name, job_performance_version, flag_job_finish, 
    flag_is_last, job_performance_description, voice_log_url, voice_log_length, voice_log_time, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fdp_dispatch_job_performance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fdp_dispatch_job_performance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platform.springboot.entity.fdp.FdpDispatchJobPerformance" >
    insert into fdp_dispatch_job_performance (id, dispatch_order_id, dispatch_request_id, 
      job_step_index, job_step_description, work_condition_photo, 
      work_condition_photo_name, job_performance_version, 
      flag_job_finish, flag_is_last, job_performance_description, 
      voice_log_url, voice_log_length, voice_log_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{dispatchOrderId,jdbcType=INTEGER}, #{dispatchRequestId,jdbcType=INTEGER}, 
      #{jobStepIndex,jdbcType=INTEGER}, #{jobStepDescription,jdbcType=VARCHAR}, #{workConditionPhoto,jdbcType=VARCHAR}, 
      #{workConditionPhotoName,jdbcType=VARCHAR}, #{jobPerformanceVersion,jdbcType=INTEGER}, 
      #{flagJobFinish,jdbcType=BIT}, #{flagIsLast,jdbcType=BIT}, #{jobPerformanceDescription,jdbcType=VARCHAR}, 
      #{voiceLogUrl,jdbcType=VARCHAR}, #{voiceLogLength,jdbcType=VARCHAR}, #{voiceLogTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.springboot.entity.fdp.FdpDispatchJobPerformance" >
    insert into fdp_dispatch_job_performance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dispatchOrderId != null" >
        dispatch_order_id,
      </if>
      <if test="dispatchRequestId != null" >
        dispatch_request_id,
      </if>
      <if test="jobStepIndex != null" >
        job_step_index,
      </if>
      <if test="jobStepDescription != null" >
        job_step_description,
      </if>
      <if test="workConditionPhoto != null" >
        work_condition_photo,
      </if>
      <if test="workConditionPhotoName != null" >
        work_condition_photo_name,
      </if>
      <if test="jobPerformanceVersion != null" >
        job_performance_version,
      </if>
      <if test="flagJobFinish != null" >
        flag_job_finish,
      </if>
      <if test="flagIsLast != null" >
        flag_is_last,
      </if>
      <if test="jobPerformanceDescription != null" >
        job_performance_description,
      </if>
      <if test="voiceLogUrl != null" >
        voice_log_url,
      </if>
      <if test="voiceLogLength != null" >
        voice_log_length,
      </if>
      <if test="voiceLogTime != null" >
        voice_log_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="jobDefineVersion != null" >
        job_define_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dispatchOrderId != null" >
        #{dispatchOrderId,jdbcType=INTEGER},
      </if>
      <if test="dispatchRequestId != null" >
        #{dispatchRequestId,jdbcType=INTEGER},
      </if>
      <if test="jobStepIndex != null" >
        #{jobStepIndex,jdbcType=INTEGER},
      </if>
      <if test="jobStepDescription != null" >
        #{jobStepDescription,jdbcType=VARCHAR},
      </if>
      <if test="workConditionPhoto != null" >
        #{workConditionPhoto,jdbcType=VARCHAR},
      </if>
      <if test="workConditionPhotoName != null" >
        #{workConditionPhotoName,jdbcType=VARCHAR},
      </if>
      <if test="jobPerformanceVersion != null" >
        #{jobPerformanceVersion,jdbcType=INTEGER},
      </if>
      <if test="flagJobFinish != null" >
        #{flagJobFinish,jdbcType=BIT},
      </if>
      <if test="flagIsLast != null" >
        #{flagIsLast,jdbcType=BIT},
      </if>
      <if test="jobPerformanceDescription != null" >
        #{jobPerformanceDescription,jdbcType=VARCHAR},
      </if>
      <if test="voiceLogUrl != null" >
        #{voiceLogUrl,jdbcType=VARCHAR},
      </if>
      <if test="voiceLogLength != null" >
        #{voiceLogLength,jdbcType=VARCHAR},
      </if>
      <if test="voiceLogTime != null" >
        #{voiceLogTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobDefineVersion != null" >
        #{jobDefineVersion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.fdp.FdpDispatchJobPerformance" >
    update fdp_dispatch_job_performance
    <set >
      <if test="dispatchOrderId != null" >
        dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER},
      </if>
      <if test="dispatchRequestId != null" >
        dispatch_request_id = #{dispatchRequestId,jdbcType=INTEGER},
      </if>
      <if test="jobStepIndex != null" >
        job_step_index = #{jobStepIndex,jdbcType=INTEGER},
      </if>
      <if test="jobStepDescription != null" >
        job_step_description = #{jobStepDescription,jdbcType=VARCHAR},
      </if>
      <if test="workConditionPhoto != null" >
        work_condition_photo = #{workConditionPhoto,jdbcType=VARCHAR},
      </if>
      <if test="workConditionPhotoName != null" >
        work_condition_photo_name = #{workConditionPhotoName,jdbcType=VARCHAR},
      </if>
      <if test="jobPerformanceVersion != null" >
        job_performance_version = #{jobPerformanceVersion,jdbcType=INTEGER},
      </if>
      <if test="flagJobFinish != null" >
        flag_job_finish = #{flagJobFinish,jdbcType=BIT},
      </if>
      <if test="flagIsLast != null" >
        flag_is_last = #{flagIsLast,jdbcType=BIT},
      </if>
      <if test="jobPerformanceDescription != null" >
        job_performance_description = #{jobPerformanceDescription,jdbcType=VARCHAR},
      </if>
      <if test="voiceLogUrl != null" >
        voice_log_url = #{voiceLogUrl,jdbcType=VARCHAR},
      </if>
      <if test="voiceLogLength != null" >
        voice_log_length = #{voiceLogLength,jdbcType=VARCHAR},
      </if>
      <if test="voiceLogTime != null" >
        voice_log_time = #{voiceLogTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.springboot.entity.fdp.FdpDispatchJobPerformance" >
    update fdp_dispatch_job_performance
    set dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER},
      dispatch_request_id = #{dispatchRequestId,jdbcType=INTEGER},
      job_step_index = #{jobStepIndex,jdbcType=INTEGER},
      job_step_description = #{jobStepDescription,jdbcType=VARCHAR},
      work_condition_photo = #{workConditionPhoto,jdbcType=VARCHAR},
      work_condition_photo_name = #{workConditionPhotoName,jdbcType=VARCHAR},
      job_performance_version = #{jobPerformanceVersion,jdbcType=INTEGER},
      flag_job_finish = #{flagJobFinish,jdbcType=BIT},
      flag_is_last = #{flagIsLast,jdbcType=BIT},
      job_performance_description = #{jobPerformanceDescription,jdbcType=VARCHAR},
      voice_log_url = #{voiceLogUrl,jdbcType=VARCHAR},
      voice_log_length = #{voiceLogLength,jdbcType=VARCHAR},
      voice_log_time = #{voiceLogTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectFirstVersionByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List" />
    from fdp_dispatch_job_performance
    where dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER}
    and job_performance_version = 1

  </select>

  <select id="selectNewVersionByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List" />
    from fdp_dispatch_job_performance
    where dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER}
    and flag_is_last = 1
    and job_performance_version != 1

  </select>
</mapper>