<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.fdp.FdpFaultOrderProcessTransferLogMapper" >

  <sql id="Base_Column_List" >
    id, fault_order_process_id, title, memo, process_person_id, process_time, flag_console
  </sql>


  <insert id="insertTransferLog" parameterType="java.util.HashMap">
      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID() AS id
      </selectKey>
  insert INTO
    fdp_fault_order_process_transfer_log

      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
              id,
          </if>
          <if test="faultOrderId != null">
              fault_order_id,
          </if>
          <if test="orgDealPersonId != null">
          org_deal_person_id,
         </if>
          <if test="newDealPersonId != null">
              new_deal_person_id,
          </if>
          <if test="transferType != null">
              transfer_type,
          </if>

          <if test="transferPersonId != null">
          transfer_person_id,
         </if>
          <if test="transferTime != null">
              transfer_time,
          </if>


      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="id != null">
    #{id,jdbcType=INTEGER},
    </if>

    <if test="faultOrderId != null">
      #{faultOrderId,jdbcType=INTEGER},
    </if>
    <if test="orgDealPersonId != null">
      #{orgDealPersonId,jdbcType=INTEGER},
    </if>
    <if test="newDealPersonId != null">
    #{newDealPersonId,jdbcType=INTEGER},
    </if>
    <if test="transferType != null">
      #{transferType,jdbcType=VARCHAR},
    </if>
    <if test="transferPersonId != null">
      #{transferPersonId,jdbcType=VARCHAR},
    </if>
    <if test="transferTime != null">
      #{transferTime,jdbcType=VARCHAR},
    </if>
      </trim>


  </insert>

</mapper>