<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.fdp.FdpFaultOrderRelatedDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fault_order_process_id" property="faultOrderProcessId" jdbcType="INTEGER" />
    <result column="fault_report_id" property="faultReportId" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="device_assign_id" property="deviceAssignId" jdbcType="INTEGER" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fault_order_process_id, fault_report_id, device_id, store_id, device_assign_id, 
    flag_deleted, update_time, update_person
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fdp_fault_order_related_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fdp_fault_order_related_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice" >
    insert into fdp_fault_order_related_device (id, fault_order_process_id, fault_report_id, 
      device_id, store_id, device_assign_id, 
      flag_deleted, update_time, update_person
      )
    values (#{id,jdbcType=INTEGER}, #{faultOrderProcessId,jdbcType=INTEGER}, #{faultReportId,jdbcType=INTEGER}, 
      #{deviceId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{deviceAssignId,jdbcType=INTEGER}, 
      #{flagDeleted,jdbcType=BIT}, #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice" >
    insert into fdp_fault_order_related_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="faultOrderProcessId != null" >
        fault_order_process_id,
      </if>
      <if test="faultReportId != null" >
        fault_report_id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="deviceAssignId != null" >
        device_assign_id,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="faultOrderProcessId != null" >
        #{faultOrderProcessId,jdbcType=INTEGER},
      </if>
      <if test="faultReportId != null" >
        #{faultReportId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="deviceAssignId != null" >
        #{deviceAssignId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice" >
    update fdp_fault_order_related_device
    <set >
      <if test="faultOrderProcessId != null" >
        fault_order_process_id = #{faultOrderProcessId,jdbcType=INTEGER},
      </if>
      <if test="faultReportId != null" >
        fault_report_id = #{faultReportId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="deviceAssignId != null" >
        device_assign_id = #{deviceAssignId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice" >
    update fdp_fault_order_related_device
    set fault_order_process_id = #{faultOrderProcessId,jdbcType=INTEGER},
      fault_report_id = #{faultReportId,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      device_assign_id = #{deviceAssignId,jdbcType=INTEGER},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--查询选中的设备信息-->
  <!--

  <select id="selectByProcessId" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.fdp.GetFdpRelatedDeviceList">
      SELECT
        fford.id,
        fford.fault_order_process_id faultOrderProcessId,
        fford.device_id deviceId,
        fford.store_id storeId,
        fford.device_assign_id deviceAssignId,
        dev.device_name deviceName,
		sys.username createPerson,
		dev.create_time createTime,
		dev.warranty_expire_date warrantyExpireDate,
        dev.brand,
        dev.model,
		dev.device_sn deviceSn,
		ddcr.asset_sn assetSn,
		cal.catalog_name catalogName,
		ass.assign_date assignDate
      FROM
      fdp_fault_order_related_device AS fford
      LEFT JOIN bif_device AS dev ON fford.device_id = dev.id
			LEFT JOIN cfg_device_type_catalog cal on dev.catalog_id = cal.id
			LEFT JOIN dmi_device_company_relation ddcr on ddcr.device_id = dev.id AND ddcr.flag_deleted = 0
			LEFT JOIN dmi_device_assign ass on ass.id = fford.device_assign_id
			LEFT JOIN sys_company_users sys on sys.id = dev.create_person
      WHERE
      fford.fault_order_process_id = #{processId,jdbcType=INTEGER}
      AND fford.flag_deleted = 0
  </select>

  -->
  <select id="selectByProcessId" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.fdp.GetBifDeviceList">
      SELECT
        fford.device_id id
      FROM
      fdp_fault_order_related_device AS fford
      WHERE
      fford.fault_order_process_id = #{processId,jdbcType=INTEGER}
      AND fford.flag_deleted = 0
  </select>
<!--查询未被选中的deviceid-->
  <select id="selectDeviceId" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice">
    SELECT
    device_id deviceId
    FROM
    fdp_fault_order_related_device
    WHERE
    fault_order_process_id = #{faultOrderProcessId,jdbcType=INTEGER}
    <if test="device != null and device.size() != 0">
    AND
    device_id IN
    <foreach collection="device" item="list" index="index" open="(" separator="," close=")">
      #{list.deviceId}
    </foreach>
    </if>
    AND flag_deleted = 0
    order by device_id
  </select>
  <!--编辑故障设备信息-->
  <update id="updateByProcessId" parameterType="com.company.springboot.entity.fdp.FdpFaultOrderRelatedDevice" >
    update fdp_fault_order_related_device
    <set >
      <if test="faultOrderProcessId != null" >
        fault_order_process_id = #{faultOrderProcessId,jdbcType=INTEGER},
      </if>
      <if test="faultReportId != null" >
        fault_report_id = #{faultReportId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="deviceAssignId != null" >
        device_assign_id = #{deviceAssignId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
    </set>
    where
    fault_order_process_id = #{faultOrderProcessId,jdbcType=INTEGER}
    <if test="device != null and device.size() != 0">
    AND device_id NOT IN
      <foreach collection="device" item="list" index="index" open="(" separator="," close=")">
        #{list.deviceId}
      </foreach>
    </if>

  </update>
  <select id="selectByStoreId" resultType="com.company.springboot.entity.fdp.GetBifDeviceList" parameterType="java.lang.Integer">
    SELECT
     deviceAssign.id AssignId,
    device.device_name AS deviceName,
    device.brand AS brand,
    model.model_name AS model,
    device.device_sn AS deviceSn,
    deviceCompanyRelation.asset_sn AS assetSn,
    typeCatalog.catalog_name AS catalogName,
    deviceAssign.id AS deviceStoreRelationId,
    deviceCompanyRelation.id AS deviceCompanyRelationId,
    deviceCompanyRelation.memo AS deviceCompanyRelationMemo,
    deviceAssign.update_time AS updateTime,
	device.warranty_expire_date AS warrantyExpireDate,
	device.create_time AS createTime,
	deviceAssign.assign_date AS assignDate,
    device.id AS id
    FROM
    bif_device device
    INNER JOIN bif_device_model model ON model.id = device.model_id
    INNER JOIN dmi_device_company_relation deviceCompanyRelation ON device.id = deviceCompanyRelation.device_id AND deviceCompanyRelation.flag_deleted = 0
    AND deviceCompanyRelation.flag_assign = 1
    INNER JOIN (dmi_device_assign deviceAssign LEFT JOIN dmi_store store ON store.id = deviceAssign.assigned_section_id
    LEFT JOIN dmi_organization organization ON organization.id = deviceAssign.assigned_section_id
    LEFT JOIN dmi_employee employee ON employee.id = deviceAssign.assigned_employee_id) ON device.id = deviceAssign.device_id
    AND deviceAssign.assigned_section_id = #{storeId,jdbcType=INTEGER} AND deviceAssign.flag_deleted = 0 AND assign_type = 'STORE'
    LEFT JOIN cfg_device_type_catalog typeCatalog ON device.catalog_id = typeCatalog.id
    WHERE
    device.flag_deleted = 0
  </select>
</mapper>