<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.trc.TrcFdpDispatchTimeChangeLogMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.trc.TrcFdpDispatchTimeChangeLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dispatch_order_id" property="dispatchOrderId" jdbcType="INTEGER" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="operator_type" property="operatorType" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="befor_time" property="beforTime" jdbcType="TIMESTAMP" />
    <result column="after_time" property="afterTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dispatch_order_id, operator_id, operator_type, reason, befor_time, after_time, 
    modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trc_fdp_dispatch_time_change_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trc_fdp_dispatch_time_change_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.trc.TrcFdpDispatchTimeChangeLog" >
    insert into trc_fdp_dispatch_time_change_log (id, dispatch_order_id, operator_id, 
      operator_type, reason, befor_time, 
      after_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{dispatchOrderId,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, 
      #{operatorType,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{beforTime,jdbcType=TIMESTAMP}, 
      #{afterTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.trc.TrcFdpDispatchTimeChangeLog" >
    insert into trc_fdp_dispatch_time_change_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dispatchOrderId != null" >
        dispatch_order_id,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operatorType != null" >
        operator_type,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="beforTime != null" >
        befor_time,
      </if>
      <if test="afterTime != null" >
        after_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dispatchOrderId != null" >
        #{dispatchOrderId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorType != null" >
        #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="beforTime != null" >
        #{beforTime,jdbcType=TIMESTAMP},
      </if>
      <if test="afterTime != null" >
        #{afterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.trc.TrcFdpDispatchTimeChangeLog" >
    update trc_fdp_dispatch_time_change_log
    <set >
      <if test="dispatchOrderId != null" >
        dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorType != null" >
        operator_type = #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="beforTime != null" >
        befor_time = #{beforTime,jdbcType=TIMESTAMP},
      </if>
      <if test="afterTime != null" >
        after_time = #{afterTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.trc.TrcFdpDispatchTimeChangeLog" >
    update trc_fdp_dispatch_time_change_log
    set dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER},
      operator_id = #{operatorId,jdbcType=INTEGER},
      operator_type = #{operatorType,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      befor_time = #{beforTime,jdbcType=TIMESTAMP},
      after_time = #{afterTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from trc_fdp_dispatch_time_change_log
    where dispatch_order_id = #{orderId,jdbcType=INTEGER}
  </select>
</mapper>