<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.springboot.mapper.trc.TrcQrLoginCodeLogMapper" >
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.trc.TrcQrLoginCodeLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="send_module" property="sendModule" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="avaliable_time" property="avaliableTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_token" property="userToken" jdbcType="VARCHAR" />
    <result column="flag_used" property="flagUsed" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, send_module, code, avaliable_time, user_id, user_token, flag_used, create_time, 
    use_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trc_qr_login_code_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.platform.springboot.entity.trc.TrcQrLoginCodeLog" >
    insert into trc_qr_login_code_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendModule != null" >
        send_module,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="avaliableTime != null" >
        avaliable_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userToken != null" >
        user_token,
      </if>
      <if test="flagUsed != null" >
        flag_used,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendModule != null" >
        #{sendModule,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="avaliableTime != null" >
        #{avaliableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userToken != null" >
        #{userToken,jdbcType=VARCHAR},
      </if>
      <if test="flagUsed != null" >
        #{flagUsed,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.trc.TrcQrLoginCodeLog" >
    update trc_qr_login_code_log
    <set >
      <if test="sendModule != null" >
        send_module = #{sendModule,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="avaliableTime != null" >
        avaliable_time = #{avaliableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userToken != null" >
        user_token = #{userToken,jdbcType=VARCHAR},
      </if>
      <if test="flagUsed != null" >
        flag_used = #{flagUsed,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据code查询-->
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from trc_qr_login_code_log
    where code = #{code,jdbcType=VARCHAR}
    AND send_module = "DISPATCH_HR"
  </select>
</mapper>