<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.dco.DcoDemandCustomerOrderOperationMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.dco.DcoDemandCustomerOrderOperation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="operation_type" property="operationType" jdbcType="INTEGER" />
    <result column="before_status" property="beforeStatus" jdbcType="VARCHAR" />
    <result column="after_status" property="afterStatus" jdbcType="VARCHAR" />
    <result column="need_assessment" property="needAssessment" jdbcType="BIT" />
    <result column="upgrade_urgency_status" property="upgradeUrgencyStatus" jdbcType="BIT" />
    <result column="deal_last_time" property="dealLastTime" jdbcType="INTEGER" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_person" property="operationPerson" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.company.springboot.entity.dco.DcoDemandCustomerOrderOperation" extends="BaseResultMap" >
    <result column="operation_content" property="operationContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, operation_type, before_status, after_status, need_assessment, upgrade_urgency_status, 
    deal_last_time, operation_time, operation_person
  </sql>
  <sql id="Blob_Column_List" >
    operation_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dco_demand_customer_order_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.dco.DcoDemandCustomerOrderOperation" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into dco_demand_customer_order_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="beforeStatus != null" >
        before_status,
      </if>
      <if test="afterStatus != null" >
        after_status,
      </if>
      <if test="needAssessment != null" >
        need_assessment,
      </if>
      <if test="upgradeUrgencyStatus != null" >
        upgrade_urgency_status,
      </if>
      <if test="dealLastTime != null" >
        deal_last_time,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationPerson != null" >
        operation_person,
      </if>
      <if test="operationContent != null" >
        operation_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=INTEGER},
      </if>
      <if test="beforeStatus != null" >
        #{beforeStatus,jdbcType=VARCHAR},
      </if>
      <if test="afterStatus != null" >
        #{afterStatus,jdbcType=VARCHAR},
      </if>
      <if test="needAssessment != null" >
        #{needAssessment,jdbcType=BIT},
      </if>
      <if test="upgradeUrgencyStatus != null" >
        #{upgradeUrgencyStatus,jdbcType=BIT},
      </if>
      <if test="dealLastTime != null" >
        #{dealLastTime,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationPerson != null" >
        #{operationPerson,jdbcType=INTEGER},
      </if>
      <if test="operationContent != null" >
        #{operationContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.dco.DcoDemandCustomerOrderOperation" >
    update dco_demand_customer_order_operation
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=INTEGER},
      </if>
      <if test="beforeStatus != null" >
        before_status = #{beforeStatus,jdbcType=VARCHAR},
      </if>
      <if test="afterStatus != null" >
        after_status = #{afterStatus,jdbcType=VARCHAR},
      </if>
      <if test="needAssessment != null" >
        need_assessment = #{needAssessment,jdbcType=BIT},
      </if>
      <if test="upgradeUrgencyStatus != null" >
        upgrade_urgency_status = #{upgradeUrgencyStatus,jdbcType=BIT},
      </if>
      <if test="dealLastTime != null" >
        deal_last_time = #{dealLastTime,jdbcType=INTEGER},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationPerson != null" >
        operation_person = #{operationPerson,jdbcType=INTEGER},
      </if>
      <if test="operationContent != null" >
        operation_content = #{operationContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getOrderRecordByOrderId" resultType="com.company.springboot.entity.dco.DcoDemandCustomerOrderOperationDetail" parameterType="java.lang.Integer" >
    select
    operation.id AS id,
    operation.order_id AS orderId,
    operation.operation_type AS operationType,
    operation.operation_content AS operationContent,
    operation.operation_time AS operationTime,
    operation.operation_person AS operationPerson,
    operation.deal_last_time AS dealLastTime,
    optType.operator_type AS operatorType,
    operation.operation_person AS operationPerson
    from dco_demand_customer_order_operation operation
    INNER JOIN dco_demand_customer_order_operator_type optType ON optType.user_id = operation.operation_person
    where operation.order_id = #{orderId,jdbcType=INTEGER}
    ORDER BY operation_time DESC
  </select>
</mapper>