<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.atm.AtmCommChargeBillTempListMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.entity.atm.AtmCommChargeBillTempList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="temp_bill_number" property="tempBillNumber" jdbcType="VARCHAR"/>
        <result column="charge_list_id" property="chargeListId" jdbcType="INTEGER"/>
        <result column="actual_fee" property="actualFee" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, temp_bill_number, charge_list_id, actual_fee
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from atm_comm_charge_bill_temp_list
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from atm_comm_charge_bill_temp_list
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.company.springboot.entity.atm.AtmCommChargeBillTempList">
        insert into atm_comm_charge_bill_temp_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tempBillNumber != null">
                temp_bill_number,
            </if>
            <if test="chargeListId != null">
                charge_list_id,
            </if>
            <if test="actualFee != null">
                actual_fee,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tempBillNumber != null">
                #{tempBillNumber,jdbcType=VARCHAR},
            </if>
            <if test="chargeListId != null">
                #{chargeListId,jdbcType=INTEGER},
            </if>
            <if test="actualFee != null">
                #{actualFee,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.atm.AtmCommChargeBillTempList">
        update atm_comm_charge_bill_temp_list
        <set>
            <if test="tempBillNumber != null">
                temp_bill_number = #{tempBillNumber,jdbcType=VARCHAR},
            </if>
            <if test="chargeListId != null">
                charge_list_id = #{chargeListId,jdbcType=INTEGER},
            </if>
            <if test="actualFee != null">
                actual_fee = #{actualFee,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="show" resultType="com.company.springboot.entity.ret.atm.atmCommChargeBillTempList.ShowRet" parameterType="java.lang.String">
        select
        billTempList.id AS id,
        billTempList.charge_list_id AS chargeListId,
        billTempList.actual_fee AS actualFee,
        companyInfo.company_name AS company,
        companyInfo.id AS companyId,
        dmiBrand.brand_name AS companyBrand,
        store.store_name AS store,
        chargeList.object_type AS type,
        CASE charge.object_type WHEN 'PRODUCT' THEN (SELECT DISTINCT commBrand.brand_name FROM cfg_communication_brand commBrand,dmi_store_comm_product product
        WHERE product.id = charge.object_id AND commBrand.id = product.brand_id)
        WHEN 'CAMPAIGN' THEN (SELECT DISTINCT commBrand.brand_name FROM cfg_communication_brand commBrand,dmi_comm_product_marketing_campaign campaign
        WHERE campaign.id = charge.object_id AND commBrand.id = campaign.brand_id)
		END as commBrand,
        CASE charge.object_type WHEN 'PRODUCT' THEN (SELECT DISTINCT product.isp_service FROM dmi_store_comm_product product WHERE product.id = charge.object_id)
        WHEN 'CAMPAIGN' THEN NULL END AS ispService,
        CASE charge.object_type WHEN 'PRODUCT' THEN (SELECT DISTINCT product.product_description FROM dmi_store_comm_product product WHERE product.id = charge.object_id)
        WHEN 'CAMPAIGN' THEN (SELECT DISTINCT campaign.campaign_name FROM dmi_comm_product_marketing_campaign campaign WHERE campaign.id = charge.object_id) END AS name,
        chargeList.account_period_start AS accountPeriodStart,
        chargeList.account_period_end AS accountPeriodEnd,
        chargeList.account_period_number AS accountPeriodNumber,
        chargeList.comm_period_fee AS commPeriodFee,
        chargeList.comm_one_time_fee AS commOneTimeFee,
        chargeList.tenement_one_time_fee AS tenementOneTimeFee,
        chargeList.tenement_period_fee AS tenementPeriodFee,
        chargeList.expected_total_fee AS expectedTotalFee,
        chargeList.account_index AS accountIndex,
        chargeList.account_total AS accountTotal,
        chargeList.actual_charge_fee AS actualChargeFee
        from atm_comm_charge_bill_temp_list billTempList
        INNER JOIN (atm_comm_charge_list chargeList INNER JOIN (dmi_comm_charge charge LEFT JOIN dmi_company_info companyInfo ON companyInfo.id = charge.company_id
        LEFT JOIN (dmi_store store LEFT JOIN dmi_brand dmiBrand ON dmiBrand.id = store.brand_id) ON store.id = charge.store_id) ON charge.id = chargeList.contract_id) ON chargeList.id = billTempList.charge_list_id
        where billTempList.temp_bill_number = #{tempBillNumber,jdbcType=VARCHAR}
    </select>
    <select id="selectByBillNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from atm_comm_charge_bill_temp_list
        where temp_bill_number = #{tempBillNumber,jdbcType=VARCHAR}
    </select>
    <select id="selectCompanyCount" resultType="com.company.springboot.entity.dmi.DmiCompanyInfo" parameterType="java.util.List">
        select
        DISTINCT companyInfo.*
        from dmi_company_info companyInfo
        INNER JOIN (dmi_comm_charge charge INNER JOIN atm_comm_charge_list chargeList ON chargeList.contract_id = charge.id AND chargeList.id IN
        <foreach item="chargeListId" index="index" collection="list" open="(" separator="," close=")">
            #{chargeListId}
        </foreach>)
        ON charge.company_id = companyInfo.id
    </select>

    <update id="updateByBillNumAndChargeListId" parameterType="com.company.springboot.entity.atm.AtmCommChargeBillTempList">
        update atm_comm_charge_bill_temp_list
        SET actual_fee = #{actualFee,jdbcType=DECIMAL}
        where temp_bill_number = #{tempBillNumber,jdbcType=VARCHAR}
        AND charge_list_id = #{chargeListId,jdbcType=INTEGER}
    </update>
</mapper>