<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.atm.AtmCommPaymentListMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.atm.AtmCommPaymentList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="object_type" property="objectType" jdbcType="VARCHAR" />
    <result column="contract_id" property="contractId" jdbcType="INTEGER" />
    <result column="account_period_number" property="accountPeriodNumber" jdbcType="VARCHAR" />
    <result column="account_period_start" property="accountPeriodStart" jdbcType="TIMESTAMP" />
    <result column="account_period_end" property="accountPeriodEnd" jdbcType="TIMESTAMP" />
    <result column="account_index" property="accountIndex" jdbcType="INTEGER" />
    <result column="account_total" property="accountTotal" jdbcType="INTEGER" />
    <result column="comm_period_fee" property="commPeriodFee" jdbcType="DECIMAL" />
    <result column="fiber_device_fee" property="fiberDeviceFee" jdbcType="DECIMAL" />
    <result column="first_install_fee" property="firstInstallFee" jdbcType="DECIMAL" />
    <result column="fiber_fee" property="fiberFee" jdbcType="DECIMAL" />
    <result column="tenement_one_time_fee" property="tenementOneTimeFee" jdbcType="DECIMAL" />
    <result column="tenement_period_fee" property="tenementPeriodFee" jdbcType="DECIMAL" />
    <result column="expected_total_fee" property="expectedTotalFee" jdbcType="DECIMAL" />
    <result column="actual_charge_fee" property="actualChargeFee" jdbcType="DECIMAL" />
    <result column="payment_bill_id" property="paymentBillId" jdbcType="VARCHAR" />
    <result column="flag_fee_different" property="flagFeeDifferent" jdbcType="BIT" />
    <result column="flag_change_fee" property="flagChangeFee" jdbcType="BIT" />
    <result column="flag_provide_invoice" property="flagProvideInvoice" jdbcType="BIT" />
    <result column="flag_completed_charge" property="flagCompletedCharge" jdbcType="BIT" />
    <result column="flag_activate" property="flagActivate" jdbcType="BIT" />
    <result column="flag_closed" property="flagClosed" jdbcType="BIT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, object_type, contract_id, account_period_number, account_period_start, 
    account_period_end, account_index, account_total, comm_period_fee, fiber_device_fee, 
    first_install_fee, fiber_fee, tenement_one_time_fee, tenement_period_fee, expected_total_fee, 
    actual_charge_fee, payment_bill_id, flag_fee_different, flag_change_fee, flag_provide_invoice, 
    flag_completed_charge, flag_activate, flag_closed, memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from atm_comm_payment_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.atm.AtmCommPaymentList" >
    insert into atm_comm_payment_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="objectType != null" >
        object_type,
      </if>
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="accountPeriodNumber != null" >
        account_period_number,
      </if>
      <if test="accountPeriodStart != null" >
        account_period_start,
      </if>
      <if test="accountPeriodEnd != null" >
        account_period_end,
      </if>
      <if test="accountIndex != null" >
        account_index,
      </if>
      <if test="accountTotal != null" >
        account_total,
      </if>
      <if test="commPeriodFee != null" >
        comm_period_fee,
      </if>
      <if test="fiberDeviceFee != null" >
        fiber_device_fee,
      </if>
      <if test="firstInstallFee != null" >
        first_install_fee,
      </if>
      <if test="fiberFee != null" >
        fiber_fee,
      </if>
      <if test="tenementOneTimeFee != null" >
        tenement_one_time_fee,
      </if>
      <if test="tenementPeriodFee != null" >
        tenement_period_fee,
      </if>
      <if test="expectedTotalFee != null" >
        expected_total_fee,
      </if>
      <if test="actualChargeFee != null" >
        actual_charge_fee,
      </if>
      <if test="paymentBillId != null" >
        payment_bill_id,
      </if>
      <if test="flagFeeDifferent != null" >
        flag_fee_different,
      </if>
      <if test="flagChangeFee != null" >
        flag_change_fee,
      </if>
      <if test="flagProvideInvoice != null" >
        flag_provide_invoice,
      </if>
      <if test="flagCompletedCharge != null" >
        flag_completed_charge,
      </if>
      <if test="flagActivate != null" >
        flag_activate,
      </if>
      <if test="flagClosed != null" >
        flag_closed,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="objectType != null" >
        #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="accountPeriodNumber != null" >
        #{accountPeriodNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountPeriodStart != null" >
        #{accountPeriodStart,jdbcType=TIMESTAMP},
      </if>
      <if test="accountPeriodEnd != null" >
        #{accountPeriodEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="accountIndex != null" >
        #{accountIndex,jdbcType=INTEGER},
      </if>
      <if test="accountTotal != null" >
        #{accountTotal,jdbcType=INTEGER},
      </if>
      <if test="commPeriodFee != null" >
        #{commPeriodFee,jdbcType=DECIMAL},
      </if>
      <if test="fiberDeviceFee != null" >
        #{fiberDeviceFee,jdbcType=DECIMAL},
      </if>
      <if test="firstInstallFee != null" >
        #{firstInstallFee,jdbcType=DECIMAL},
      </if>
      <if test="fiberFee != null" >
        #{fiberFee,jdbcType=DECIMAL},
      </if>
      <if test="tenementOneTimeFee != null" >
        #{tenementOneTimeFee,jdbcType=DECIMAL},
      </if>
      <if test="tenementPeriodFee != null" >
        #{tenementPeriodFee,jdbcType=DECIMAL},
      </if>
      <if test="expectedTotalFee != null" >
        #{expectedTotalFee,jdbcType=DECIMAL},
      </if>
      <if test="actualChargeFee != null" >
        #{actualChargeFee,jdbcType=DECIMAL},
      </if>
      <if test="paymentBillId != null" >
        #{paymentBillId,jdbcType=VARCHAR},
      </if>
      <if test="flagFeeDifferent != null" >
        #{flagFeeDifferent,jdbcType=BIT},
      </if>
      <if test="flagChangeFee != null" >
        #{flagChangeFee,jdbcType=BIT},
      </if>
      <if test="flagProvideInvoice != null" >
        #{flagProvideInvoice,jdbcType=BIT},
      </if>
      <if test="flagCompletedCharge != null" >
        #{flagCompletedCharge,jdbcType=BIT},
      </if>
      <if test="flagActivate != null" >
        #{flagActivate,jdbcType=BIT},
      </if>
      <if test="flagClosed != null" >
        #{flagClosed,jdbcType=BIT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.atm.AtmCommPaymentList" >
    update atm_comm_payment_list
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="objectType != null" >
        object_type = #{objectType,jdbcType=VARCHAR},
      </if>
      <if test="contractId != null" >
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="accountPeriodNumber != null" >
        account_period_number = #{accountPeriodNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountPeriodStart != null" >
        account_period_start = #{accountPeriodStart,jdbcType=TIMESTAMP},
      </if>
      <if test="accountPeriodEnd != null" >
        account_period_end = #{accountPeriodEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="accountIndex != null" >
        account_index = #{accountIndex,jdbcType=INTEGER},
      </if>
      <if test="accountTotal != null" >
        account_total = #{accountTotal,jdbcType=INTEGER},
      </if>
      <if test="commPeriodFee != null" >
        comm_period_fee = #{commPeriodFee,jdbcType=DECIMAL},
      </if>
      <if test="fiberDeviceFee != null" >
        fiber_device_fee = #{fiberDeviceFee,jdbcType=DECIMAL},
      </if>
      <if test="firstInstallFee != null" >
        first_install_fee = #{firstInstallFee,jdbcType=DECIMAL},
      </if>
      <if test="fiberFee != null" >
        fiber_fee = #{fiberFee,jdbcType=DECIMAL},
      </if>
      <if test="tenementOneTimeFee != null" >
        tenement_one_time_fee = #{tenementOneTimeFee,jdbcType=DECIMAL},
      </if>
      <if test="tenementPeriodFee != null" >
        tenement_period_fee = #{tenementPeriodFee,jdbcType=DECIMAL},
      </if>
      <if test="expectedTotalFee != null" >
        expected_total_fee = #{expectedTotalFee,jdbcType=DECIMAL},
      </if>
      <if test="actualChargeFee != null" >
        actual_charge_fee = #{actualChargeFee,jdbcType=DECIMAL},
      </if>
      <if test="paymentBillId != null" >
        payment_bill_id = #{paymentBillId,jdbcType=VARCHAR},
      </if>
      <if test="flagFeeDifferent != null" >
        flag_fee_different = #{flagFeeDifferent,jdbcType=BIT},
      </if>
      <if test="flagChangeFee != null" >
        flag_change_fee = #{flagChangeFee,jdbcType=BIT},
      </if>
      <if test="flagProvideInvoice != null" >
        flag_provide_invoice = #{flagProvideInvoice,jdbcType=BIT},
      </if>
      <if test="flagCompletedCharge != null" >
        flag_completed_charge = #{flagCompletedCharge,jdbcType=BIT},
      </if>
      <if test="flagActivate != null" >
        flag_activate = #{flagActivate,jdbcType=BIT},
      </if>
      <if test="flagClosed != null" >
        flag_closed = #{flagClosed,jdbcType=BIT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>