<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.wp.WpCfgFrameProcessStepAssemblyMapper">
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.wp.WpCfgFrameProcessStepAssembly">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cfg_frame_process_step_id" jdbcType="INTEGER" property="cfgFrameProcessStepId" />
    <result column="cfg_process_id" jdbcType="INTEGER" property="cfgProcessId" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_person" jdbcType="INTEGER" property="createPerson" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cfg_frame_process_step_id, cfg_process_id, flag_deleted, create_time, create_person
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wp_cfg_frame_process_step_assembly
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_cfg_frame_process_step_assembly
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessStepAssembly">
    insert into wp_cfg_frame_process_step_assembly (id, cfg_frame_process_step_id, cfg_process_id, 
      flag_deleted, create_time, create_person
      )
    values (#{id,jdbcType=INTEGER}, #{cfgFrameProcessStepId,jdbcType=INTEGER}, #{cfgProcessId,jdbcType=INTEGER}, 
      #{flagDeleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessStepAssembly">
    insert into wp_cfg_frame_process_step_assembly
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cfgFrameProcessStepId != null">
        cfg_frame_process_step_id,
      </if>
      <if test="cfgProcessId != null">
        cfg_process_id,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createPerson != null">
        create_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cfgFrameProcessStepId != null">
        #{cfgFrameProcessStepId,jdbcType=INTEGER},
      </if>
      <if test="cfgProcessId != null">
        #{cfgProcessId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessStepAssembly">
    update wp_cfg_frame_process_step_assembly
    <set>
      <if test="cfgFrameProcessStepId != null">
        cfg_frame_process_step_id = #{cfgFrameProcessStepId,jdbcType=INTEGER},
      </if>
      <if test="cfgProcessId != null">
        cfg_process_id = #{cfgProcessId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null">
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessStepAssembly">
    update wp_cfg_frame_process_step_assembly
    set cfg_frame_process_step_id = #{cfgFrameProcessStepId,jdbcType=INTEGER},
      cfg_process_id = #{cfgProcessId,jdbcType=INTEGER},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>