<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.wp.WpCfgFrameProcessVersionMapper">
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.wp.WpCfgFrameProcessVersion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="cfg_frame_process_id" jdbcType="INTEGER" property="cfgFrameProcessId" />
    <result column="flag_avaliable" jdbcType="BIT" property="flagAvaliable" />
    <result column="create_person" jdbcType="INTEGER" property="createPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_person" jdbcType="INTEGER" property="updatePerson" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag_is_last" jdbcType="BIT" property="flagIsLast" />
    <result column="company_user_id" jdbcType="INTEGER" property="companyUserId" />
    <result column="company_active_time" jdbcType="TIMESTAMP" property="companyActiveTime" />
    <result column="partner_company_user_id" jdbcType="INTEGER" property="partnerCompanyUserId" />
    <result column="partner_company_active_time" jdbcType="TIMESTAMP" property="partnerCompanyActiveTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, version, cfg_frame_process_id, flag_avaliable, create_person, create_time, update_person, 
    update_time, flag_is_last,company_user_id,company_active_time,partner_company_user_id,partner_company_active_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wp_cfg_frame_process_version
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_cfg_frame_process_version
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessVersion">
    insert into wp_cfg_frame_process_version (id, version, cfg_frame_process_id, 
      flag_avaliable, create_person, create_time, 
      update_person, update_time, flag_is_last,
      company_user_id,company_active_time,
      partner_company_user_id,partner_company_active_time
      )
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{cfgFrameProcessId,jdbcType=INTEGER}, 
      #{flagAvaliable,jdbcType=BIT}, #{createPerson,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updatePerson,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{flagIsLast,jdbcType=BIT},
      #{companyUserId,jdbcType=INTEGER},#{companyActiveTime,jdbcType=TIMESTAMP},
      #{partnerCompanyUserId,jdbcType=INTEGER},#{partnerCompanyActiveTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessVersion">
    insert into wp_cfg_frame_process_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="cfgFrameProcessId != null">
        cfg_frame_process_id,
      </if>
      <if test="flagAvaliable != null">
        flag_avaliable,
      </if>
      <if test="createPerson != null">
        create_person,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updatePerson != null">
        update_person,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="flagIsLast != null">
        flag_is_last,
      </if>
      <if test="companyUserId != null">
        company_user_id,
      </if>
      <if test="companyActiveTime != null">
        company_active_time,
      </if>
      <if test="partnerCompanyUserId != null">
        partner_company_user_id,
      </if>
      <if test="partnerCompanyActiveTime != null">
        partner_company_active_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="cfgFrameProcessId != null">
        #{cfgFrameProcessId,jdbcType=INTEGER},
      </if>
      <if test="flagAvaliable != null">
        #{flagAvaliable,jdbcType=BIT},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagIsLast != null">
        #{flagIsLast,jdbcType=BIT},
      </if>
      <if test="companyUserId != null">
        #{companyUserId,jdbcType=INTEGER},
      </if>
      <if test="companyActiveTime != null">
        #{companyActiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partnerCompanyUserId != null">
        #{partnerCompanyUserId,jdbcType=INTEGER},
      </if>
      <if test="partnerCompanyActiveTime != null">
        #{partnerCompanyActiveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessVersion">
    update wp_cfg_frame_process_version
    <set>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="cfgFrameProcessId != null">
        cfg_frame_process_id = #{cfgFrameProcessId,jdbcType=INTEGER},
      </if>
      <if test="flagAvaliable != null">
        flag_avaliable = #{flagAvaliable,jdbcType=BIT},
      </if>
      <if test="createPerson != null">
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagIsLast != null">
        flag_is_last = #{flagIsLast,jdbcType=BIT},
      </if>
      <if test="companyUserId != null">
        company_user_id = #{companyUserId,jdbcType=INTEGER},
      </if>
      <if test="companyActiveTime != null">
        company_active_time = #{companyActiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partnerCompanyUserId != null">
        partner_company_user_id = #{partnerCompanyUserId,jdbcType=INTEGER},
      </if>
      <if test="partnerCompanyActiveTime != null">
        partner_company_active_time = #{partnerCompanyActiveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessVersion">
    update wp_cfg_frame_process_version
    set version = #{version,jdbcType=INTEGER},
      cfg_frame_process_id = #{cfgFrameProcessId,jdbcType=INTEGER},
      flag_avaliable = #{flagAvaliable,jdbcType=BIT},
      create_person = #{createPerson,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag_is_last = #{flagIsLast,jdbcType=BIT},
      company_user_id = #{companyUserId,jdbcType=INTEGER},
      company_active_time = #{companyActiveTime,jdbcType=TIMESTAMP},
      partner_company_user_id = #{partnerCompanyUserId,jdbcType=INTEGER},
      partner_company_active_time = #{partnerCompanyActiveTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectAll" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcessVersion" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wp_cfg_frame_process_version
    where 1=1
    <if test="version != null">
      and version = #{version,jdbcType=INTEGER}
    </if>
    <if test="cfgFrameProcessId != null">
      and cfg_frame_process_id = #{cfgFrameProcessId,jdbcType=INTEGER}
    </if>
    <if test="flagAvaliable != null">
      and flag_avaliable = #{flagAvaliable,jdbcType=BIT}
    </if>
    <if test="createPerson != null">
      and create_person = #{createPerson,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatePerson != null">
      and update_person = #{updatePerson,jdbcType=INTEGER}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="flagIsLast != null">
      and flag_is_last = #{flagIsLast,jdbcType=BIT}
    </if>
    <if test="companyUserId != null">
      and company_user_id = #{companyUserId,jdbcType=INTEGER}
    </if>
    <if test="companyActiveTime != null">
      and company_active_time = #{companyActiveTime,jdbcType=TIMESTAMP}
    </if>
    <if test="partnerCompanyUserId != null">
      and partner_company_user_id = #{partnerCompanyUserId,jdbcType=INTEGER}
    </if>
    <if test="partnerCompanyActiveTime != null">
      and partner_company_active_time = #{partnerCompanyActiveTime,jdbcType=TIMESTAMP}
    </if>
  </select>


  <!--查询最大版本-->
  <select id="selectVersion" resultType="java.lang.Integer">
    SELECT MAX(version) version FROM wp_cfg_frame_process_version
  </select>

</mapper>