<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.wp.WpCfgFrameProcessMapper">
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.wp.WpCfgFrameProcess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="partner_company_id" jdbcType="INTEGER" property="partnerCompanyId" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="frame_process_code" jdbcType="VARCHAR" property="frameProcessCode" />
    <result column="flag_avaliable" jdbcType="BIT" property="flagAvaliable" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="flag_tested" jdbcType="BIT" property="flagTested" />
    <result column="create_person" jdbcType="INTEGER" property="createPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_person" jdbcType="INTEGER" property="updatePerson" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="avaliable_time" jdbcType="TIMESTAMP" property="avaliableTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, partner_company_id, process_name, description, frame_process_code, 
    flag_avaliable, flag_deleted, flag_tested, create_person, create_time, update_person, 
    update_time, avaliable_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wp_cfg_frame_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_cfg_frame_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcess">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into wp_cfg_frame_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="partnerCompanyId != null">
        partner_company_id,
      </if>
      <if test="processName != null">
        process_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="frameProcessCode != null">
        frame_process_code,
      </if>
      <if test="flagAvaliable != null">
        flag_avaliable,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="flagTested != null">
        flag_tested,
      </if>
      <if test="createPerson != null">
        create_person,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updatePerson != null">
        update_person,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="avaliableTime != null">
        avaliable_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="partnerCompanyId != null">
        #{partnerCompanyId,jdbcType=INTEGER},
      </if>
      <if test="processName != null">
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="frameProcessCode != null">
        #{frameProcessCode,jdbcType=VARCHAR},
      </if>
      <if test="flagAvaliable != null">
        #{flagAvaliable,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagTested != null">
        #{flagTested,jdbcType=BIT},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avaliableTime != null">
        #{avaliableTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcess">
    update wp_cfg_frame_process
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="partnerCompanyId != null">
        partner_company_id = #{partnerCompanyId,jdbcType=INTEGER},
      </if>
      <if test="processName != null">
        process_name = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="frameProcessCode != null">
        frame_process_code = #{frameProcessCode,jdbcType=VARCHAR},
      </if>
      <if test="flagAvaliable != null">
        flag_avaliable = #{flagAvaliable,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagTested != null">
        flag_tested = #{flagTested,jdbcType=BIT},
      </if>
      <if test="createPerson != null">
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null">
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="avaliableTime != null">
        avaliable_time = #{avaliableTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findPage" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcess" resultMap="BaseResultMap">
    select
    frame.id,
    frame.partner_company_id partnerCompanyId,
    frame.process_name processName,
    frame.description,
    frame.frame_process_code frameProcessCode,
    fv.update_time updateTime,
	fv.flag_avaliable flagAvailable,
	fv.id versionId,
    company.company_name partnerCompanyName
    from wp_cfg_frame_process frame
    left join wp_cfg_frame_process_version fv on fv.cfg_frame_process_id=frame.id
    left join dmi_company_info company on company.id=frame.partner_company_id
    where
    frame.company_id = #{companyId,jdbcType=INTEGER}
    and frame.flag_deleted=0
	and frame.flag_avaliable=1
    and fv.flag_is_last=1
  </select>

  <select id="selectAll" parameterType="com.company.springboot.entity.wp.WpCfgFrameProcess" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wp_cfg_frame_process
    where 1=1
    <if test="companyId != null">
      and company_id = #{companyId,jdbcType=INTEGER}
    </if>
    <if test="partnerCompanyId != null">
      and partner_company_id = #{partnerCompanyId,jdbcType=INTEGER}
    </if>
    <if test="processName != null">
      and process_name = #{processName,jdbcType=VARCHAR}
    </if>
    <if test="description != null">
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="frameProcessCode != null">
      and frame_process_code = #{frameProcessCode,jdbcType=VARCHAR}
    </if>
    <if test="flagAvaliable != null">
      and flag_avaliable = #{flagAvaliable,jdbcType=BIT}
    </if>
    <if test="flagDeleted != null">
      and flag_deleted = #{flagDeleted,jdbcType=BIT}
    </if>
    <if test="flagTested != null">
      and flag_tested = #{flagTested,jdbcType=BIT}
    </if>
    <if test="createPerson != null">
      and create_person = #{createPerson,jdbcType=INTEGER}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updatePerson != null">
      and update_person = #{updatePerson,jdbcType=INTEGER}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="avaliableTime != null">
      and avaliable_time = #{avaliableTime,jdbcType=TIMESTAMP}
    </if>
  </select>



  <!--框架流程列表-->
  <select id="selectList" parameterType="com.company.springboot.entity.sys.SysCompanyUsers" resultType="com.company.springboot.entity.wp.response.WpCfgFrameProcessRes">
    SELECT frame.id,company.company_name companyName,
    frame.process_name processName,version.company_active_time companyActiveTime

    <if test="companyType != null and companyType=='PLATFORM'">
      ,1 flagType
    </if>
    <if test="companyType == null or companyType=='NORMAL'">
      ,0 flagType
    </if>

    FROM wp_cfg_frame_process frame
    LEFT JOIN dmi_company_info company
    <if test="companyType != null and companyType=='PLATFORM'">
      ON frame.partner_company_id=company.id
    </if>

    <if test="companyType == null or companyType=='NORMAL'">
      ON frame.company_id=company.id
    </if>
    LEFT JOIN wp_cfg_frame_process_version version ON version.cfg_frame_process_id=frame.id
    WHERE frame.flag_deleted=0 AND company.flag_deleted=0 AND version.flag_avaliable=1
    AND version.flag_is_last
    <if test="companyType != null and companyType=='PLATFORM'">
      AND frame.partner_company_id=#{companyId,jdbcType=INTEGER}
    </if>

    <if test="companyType == null or companyType=='NORMAL'">
      AND frame.company_id=#{companyId,jdbcType=INTEGER}
    </if>

  </select>


</mapper>