<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.wp.WpCfgProcessStepMapper">
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.wp.WpCfgProcessStep">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cfg_process_id" jdbcType="INTEGER" property="cfgProcessId" />
    <result column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="unit_type" jdbcType="VARCHAR" property="unitType" />
    <result column="operator_type" jdbcType="VARCHAR" property="operatorType" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="unit_x" jdbcType="INTEGER" property="unitX" />
    <result column="unit_y" jdbcType="INTEGER" property="unitY" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="execution_rules" jdbcType="VARCHAR" property="executionRules" />
    <result column="execution_rules_number" jdbcType="INTEGER" property="executionRulesNumber" />
    <result column="time_exam_minute" jdbcType="INTEGER" property="timeExamMinute" />
    <result column="default_no_operator_rule" jdbcType="VARCHAR" property="defaultNoOperatorRule" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="authorized_fields" jdbcType="VARCHAR" property="authorizedFields" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cfg_process_id, version_id, step_name, description, unit_type, operator_type, 
    operator_id, unit_x, unit_y, length, height, execution_rules, execution_rules_number, 
    time_exam_minute, default_no_operator_rule, flag_deleted, authorized_fields, operate_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wp_cfg_process_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_cfg_process_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.wp.WpCfgProcessStep">
    insert into wp_cfg_process_step (id, cfg_process_id, version_id, 
      step_name, description, unit_type, 
      operator_type, operator_id, unit_x, 
      unit_y, length, height, 
      execution_rules, execution_rules_number, time_exam_minute, 
      default_no_operator_rule, flag_deleted, authorized_fields, 
      operate_type)
    values (#{id,jdbcType=INTEGER}, #{cfgProcessId,jdbcType=INTEGER}, #{versionId,jdbcType=INTEGER}, 
      #{stepName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{unitType,jdbcType=VARCHAR}, 
      #{operatorType,jdbcType=VARCHAR}, #{operatorId,jdbcType=INTEGER}, #{unitX,jdbcType=INTEGER}, 
      #{unitY,jdbcType=INTEGER}, #{length,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{executionRules,jdbcType=VARCHAR}, #{executionRulesNumber,jdbcType=INTEGER}, #{timeExamMinute,jdbcType=INTEGER}, 
      #{defaultNoOperatorRule,jdbcType=VARCHAR}, #{flagDeleted,jdbcType=BIT}, #{authorizedFields,jdbcType=VARCHAR}, 
      #{operateType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.wp.WpCfgProcessStep">
    insert into wp_cfg_process_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cfgProcessId != null">
        cfg_process_id,
      </if>
      <if test="versionId != null">
        version_id,
      </if>
      <if test="stepName != null">
        step_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="unitType != null">
        unit_type,
      </if>
      <if test="operatorType != null">
        operator_type,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="unitX != null">
        unit_x,
      </if>
      <if test="unitY != null">
        unit_y,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="executionRules != null">
        execution_rules,
      </if>
      <if test="executionRulesNumber != null">
        execution_rules_number,
      </if>
      <if test="timeExamMinute != null">
        time_exam_minute,
      </if>
      <if test="defaultNoOperatorRule != null">
        default_no_operator_rule,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="authorizedFields != null">
        authorized_fields,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cfgProcessId != null">
        #{cfgProcessId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="stepName != null">
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null">
        #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null">
        #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="unitX != null">
        #{unitX,jdbcType=INTEGER},
      </if>
      <if test="unitY != null">
        #{unitY,jdbcType=INTEGER},
      </if>
      <if test="length != null">
        #{length,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="executionRules != null">
        #{executionRules,jdbcType=VARCHAR},
      </if>
      <if test="executionRulesNumber != null">
        #{executionRulesNumber,jdbcType=INTEGER},
      </if>
      <if test="timeExamMinute != null">
        #{timeExamMinute,jdbcType=INTEGER},
      </if>
      <if test="defaultNoOperatorRule != null">
        #{defaultNoOperatorRule,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="authorizedFields != null">
        #{authorizedFields,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.wp.WpCfgProcessStep">
    update wp_cfg_process_step
    <set>
      <if test="cfgProcessId != null">
        cfg_process_id = #{cfgProcessId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=INTEGER},
      </if>
      <if test="stepName != null">
        step_name = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null">
        unit_type = #{unitType,jdbcType=VARCHAR},
      </if>
      <if test="operatorType != null">
        operator_type = #{operatorType,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="unitX != null">
        unit_x = #{unitX,jdbcType=INTEGER},
      </if>
      <if test="unitY != null">
        unit_y = #{unitY,jdbcType=INTEGER},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="executionRules != null">
        execution_rules = #{executionRules,jdbcType=VARCHAR},
      </if>
      <if test="executionRulesNumber != null">
        execution_rules_number = #{executionRulesNumber,jdbcType=INTEGER},
      </if>
      <if test="timeExamMinute != null">
        time_exam_minute = #{timeExamMinute,jdbcType=INTEGER},
      </if>
      <if test="defaultNoOperatorRule != null">
        default_no_operator_rule = #{defaultNoOperatorRule,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="authorizedFields != null">
        authorized_fields = #{authorizedFields,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.wp.WpCfgProcessStep">
    update wp_cfg_process_step
    set cfg_process_id = #{cfgProcessId,jdbcType=INTEGER},
      version_id = #{versionId,jdbcType=INTEGER},
      step_name = #{stepName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      unit_type = #{unitType,jdbcType=VARCHAR},
      operator_type = #{operatorType,jdbcType=VARCHAR},
      operator_id = #{operatorId,jdbcType=INTEGER},
      unit_x = #{unitX,jdbcType=INTEGER},
      unit_y = #{unitY,jdbcType=INTEGER},
      length = #{length,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      execution_rules = #{executionRules,jdbcType=VARCHAR},
      execution_rules_number = #{executionRulesNumber,jdbcType=INTEGER},
      time_exam_minute = #{timeExamMinute,jdbcType=INTEGER},
      default_no_operator_rule = #{defaultNoOperatorRule,jdbcType=VARCHAR},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      authorized_fields = #{authorizedFields,jdbcType=VARCHAR},
      operate_type = #{operateType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>