<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.wp.WpFrameProcessMapper">
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.wp.WpFrameProcess">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="frame_process_cfg_id" jdbcType="INTEGER" property="frameProcessCfgId" />
    <result column="frame_process_code" jdbcType="VARCHAR" property="frameProcessCode" />
    <result column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="create_person" jdbcType="INTEGER" property="createPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="frame_process_status" jdbcType="VARCHAR" property="frameProcessStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, frame_process_cfg_id, frame_process_code, version_id, flag_deleted, create_person, 
    create_time, frame_process_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wp_frame_process
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_frame_process
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.wp.WpFrameProcess">
    insert into wp_frame_process (id, frame_process_cfg_id, frame_process_code, 
      version_id, flag_deleted, create_person, 
      create_time, frame_process_status)
    values (#{id,jdbcType=INTEGER}, #{frameProcessCfgId,jdbcType=INTEGER}, #{frameProcessCode,jdbcType=VARCHAR}, 
      #{versionId,jdbcType=INTEGER}, #{flagDeleted,jdbcType=BIT}, #{createPerson,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{frameProcessStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.wp.WpFrameProcess">
    insert into wp_frame_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="frameProcessCfgId != null">
        frame_process_cfg_id,
      </if>
      <if test="frameProcessCode != null">
        frame_process_code,
      </if>
      <if test="versionId != null">
        version_id,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="createPerson != null">
        create_person,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="frameProcessStatus != null">
        frame_process_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="frameProcessCfgId != null">
        #{frameProcessCfgId,jdbcType=INTEGER},
      </if>
      <if test="frameProcessCode != null">
        #{frameProcessCode,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createPerson != null">
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frameProcessStatus != null">
        #{frameProcessStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.wp.WpFrameProcess">
    update wp_frame_process
    <set>
      <if test="frameProcessCfgId != null">
        frame_process_cfg_id = #{frameProcessCfgId,jdbcType=INTEGER},
      </if>
      <if test="frameProcessCode != null">
        frame_process_code = #{frameProcessCode,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=INTEGER},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createPerson != null">
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="frameProcessStatus != null">
        frame_process_status = #{frameProcessStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.wp.WpFrameProcess">
    update wp_frame_process
    set frame_process_cfg_id = #{frameProcessCfgId,jdbcType=INTEGER},
      frame_process_code = #{frameProcessCode,jdbcType=VARCHAR},
      version_id = #{versionId,jdbcType=INTEGER},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      create_person = #{createPerson,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      frame_process_status = #{frameProcessStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>