<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.bif.BifDispatchHrAccountInfoMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.bif.BifDispatchHrAccountInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hr_id" property="hrId" jdbcType="INTEGER" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="alipay_account" property="alipayAccount" jdbcType="VARCHAR" />
    <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="INTEGER" />
    <result column="user_update_time" property="userUpdateTime" jdbcType="TIMESTAMP" />
    <result column="flag_default" property="flagDefault" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hr_id, full_name, bank_name, account, alipay_account, payment_method, flag_deleted, 
    create_time, create_person, update_time, update_person, user_update_time,flag_default
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.bif.BifDispatchHrAccountInfo" >
    insert into bif_dispatch_hr_account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hrId != null" >
        hr_id,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="alipayAccount != null" >
        alipay_account,
      </if>

      <if test="paymentMethod != null" >
        payment_method,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="userUpdateTime != null" >
        user_update_time,
      </if>
      <if test="flagDefault != null">
        flag_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hrId != null" >
        #{hrId,jdbcType=INTEGER},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="alipayAccount != null" >
        #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="userUpdateTime != null" >
        #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDefault != null">
        #{flagDefault,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.bif.BifDispatchHrAccountInfo" >
    update bif_dispatch_hr_account_info
    <set >
      <if test="hrId != null" >
        hr_id = #{hrId,jdbcType=INTEGER},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="alipayAccount != null" >
        alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        payment_method = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="flagDefault != null" >
        flag_default = #{flagDefault,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="userUpdateTime != null" >
        user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateFlagDefaultByHrId" parameterType="com.company.springboot.entity.bif.BifDispatchHrAccountInfo" >
    update bif_dispatch_hr_account_info
    <set >
      <if test="flagDefault != null" >
        flag_default = #{flagDefault,jdbcType=BIT},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByHrIdOld" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
  <include refid="Base_Column_List" />
  from bif_dispatch_hr_account_info
  where hr_id = #{id,jdbcType=INTEGER} and flag_deleted = 0
    order by flag_default desc
</select>

  <select id="selectByHrId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_account_info
    where hr_id = #{id,jdbcType=INTEGER} and flag_deleted = 0
  </select>



  <select id="selectByHrAccountShow" resultType="com.company.springboot.entity.bif.BifDispatchHrAccountInfo" parameterType="java.lang.Integer" >
  SELECT
      full_name fullName,
      bank_name bankName,
      account,
      alipay_account alipayAccount,
      payment_method paymentMethod,
      flag_default flagDefault
  FROM
      bif_dispatch_hr_account_info
  WHERE
      id = #{id,jdbcType=INTEGER} and flag_deleted = 0
  </select>


  <select id="selectByHrIdFlagDefault" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_account_info
    where hr_id = #{hrId,jdbcType=INTEGER} and flag_deleted = 0
    and flag_default=1
  </select>

  <select id="selectByHrIdList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_account_info
    where hr_id = #{hrId,jdbcType=INTEGER}
  </select>

  <select id="selectServiceShowByHrId" parameterType="java.lang.Integer"  resultType="com.company.springboot.entity.bif.BifDispatchHrAccountInfoShow">
    select
     full_name fullName,
     bank_name bankName,
     account,
     alipay_account alipayAccount,
     payment_method paymentMethod,
     flag_default flagDefault
    from bif_dispatch_hr_account_info
    where hr_id = #{id,jdbcType=INTEGER}
    and flag_deleted = 0
    order by flag_default desc

  </select>

  <update id="accountDelete" parameterType="java.lang.Integer">
    update  bif_dispatch_hr_account_info
     flag_deleted = 1
     where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>