<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.bif.BifDispatchHumanResourceMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.entity.bif.BifDispatchHumanResource">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="head_portrait_url" property="headPortraitUrl" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="default_provice" property="defaultProvice" jdbcType="VARCHAR"/>
        <result column="default_city" property="defaultCity" jdbcType="VARCHAR"/>
        <result column="default_district" property="defaultDistrict" jdbcType="VARCHAR"/>
        <result column="dispatch_count" property="dispatchCount" jdbcType="INTEGER"/>
        <result column="dispatch_successful_count" property="dispatchSuccessfulCount" jdbcType="INTEGER"/>
        <result column="dispatch_avg_fee" property="dispatchAvgFee" jdbcType="DECIMAL"/>
        <result column="dispatch_total_fee" property="dispatchTotalFee" jdbcType="DECIMAL"/>
        <result column="dispatch_max_fee" property="dispatchMaxFee" jdbcType="DECIMAL"/>
        <result column="flag_deleted" property="flagDeleted" jdbcType="BIT"/>
        <result column="flag_available" property="flagAvailable" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="INTEGER"/>
        <result column="user_update_time" property="userUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="user_assessment_count" property="userAssessmentCount" jdbcType="INTEGER"/>
        <result column="contact_assessment_count" property="contactAssessmentCount" jdbcType="INTEGER"/>
        <result column="client_assessment_count" property="clientAssessmentCount" jdbcType="INTEGER"/>
        <result column="user_assm_achieve_total_point" property="userAssmAchieveTotalPoint" jdbcType="INTEGER"/>
        <result column="user_assm_communication_total_point" property="userAssmCommunicationTotalPoint" jdbcType="INTEGER"/>
        <result column="user_assm_timely_total_point" property="userAssmTimelyTotalPoint" jdbcType="INTEGER"/>
        <result column="user_assm_achieve_avg_point" property="userAssmAchieveAvgPoint" jdbcType="DECIMAL"/>
        <result column="user_assm_communication_avg_point" property="userAssmCommunicationAvgPoint" jdbcType="DECIMAL"/>
        <result column="user_assm_timely_avg_point" property="userAssmTimelyAvgPoint" jdbcType="DECIMAL"/>
        <result column="client_assm_achieve_total_point" property="clientAssmAchieveTotalPoint" jdbcType="INTEGER"/>
        <result column="client_assm_communication_total_point" property="clientAssmCommunicationTotalPoint" jdbcType="INTEGER"/>
        <result column="client_assm_timely_total_point" property="clientAssmTimelyTotalPoint" jdbcType="INTEGER"/>
        <result column="client_assm_achieve_avg_point" property="clientAssmAchieveAvgPoint" jdbcType="DECIMAL"/>
        <result column="client_assm_communication_avg_point" property="clientAssmCommunicationAvgPoint" jdbcType="DECIMAL"/>
        <result column="client_assm_timely_avg_point" property="clientAssmTimelyAvgPoint" jdbcType="DECIMAL"/>
        <result column="contact_assm_total_point" property="contactAssmTotalPoint" jdbcType="DECIMAL"/>
        <result column="default_nation" property="defaultNation" jdbcType="VARCHAR"/>
        <result column="id_type" property="idType" jdbcType="VARCHAR"/>
        <result column="id_code" property="idCode" jdbcType="VARCHAR"/>
        <result column="belong_company" property="belongCompany" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="user_evaluate_point" property="userEvaluatePoint" jdbcType="DECIMAL"/>
        <result column="custom_label" property="customLabel" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, account, password, nickname, first_name, last_name,head_portrait_url, mobile, default_provice,
    default_city, default_district, dispatch_count, dispatch_successful_count, dispatch_avg_fee,
    dispatch_total_fee, dispatch_max_fee, flag_deleted, flag_available, create_time,
    create_person, update_time, update_person, user_update_time, user_assessment_count,
    contact_assessment_count, client_assessment_count, user_assm_achieve_total_point,
    user_assm_communication_total_point, user_assm_timely_total_point, user_assm_achieve_avg_point,
    user_assm_communication_avg_point, user_assm_timely_avg_point, client_assm_achieve_total_point,
    client_assm_communication_total_point, client_assm_timely_total_point, client_assm_achieve_avg_point,
    client_assm_communication_avg_point, client_assm_timely_avg_point, contact_assm_total_point,
    contact_assm_avg_point,default_nation,id_type,id_code,belong_company,email,wechat,qq,memo,user_evaluate_point,custom_label
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bif_dispatch_human_resource
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertSelective" parameterType="com.company.springboot.entity.bif.BifDispatchHumanResource">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into bif_dispatch_human_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="headPortraitUrl != null">
                head_portrait_url,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="defaultProvice != null">
                default_provice,
            </if>
            <if test="defaultCity != null">
                default_city,
            </if>
            <if test="defaultDistrict != null">
                default_district,
            </if>
            <if test="dispatchCount != null">
                dispatch_count,
            </if>
            <if test="dispatchSuccessfulCount != null">
                dispatch_successful_count,
            </if>
            <if test="dispatchAvgFee != null">
                dispatch_avg_fee,
            </if>
            <if test="dispatchTotalFee != null">
                dispatch_total_fee,
            </if>
            <if test="dispatchMaxFee != null">
                dispatch_max_fee,
            </if>
            <if test="flagDeleted != null">
                flag_deleted,
            </if>
            <if test="flagAvailable != null">
                flag_available,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="userUpdateTime != null">
                user_update_time,
            </if>
            <if test="userAssessmentCount != null">
                user_assessment_count,
            </if>
            <if test="contactAssessmentCount != null">
                contact_assessment_count,
            </if>
            <if test="clientAssessmentCount != null">
                client_assessment_count,
            </if>
            <if test="userAssmAchieveTotalPoint != null">
                user_assm_achieve_total_point,
            </if>
            <if test="userAssmCommunicationTotalPoint != null">
                user_assm_communication_total_point,
            </if>
            <if test="userAssmTimelyTotalPoint != null">
                user_assm_timely_total_point,
            </if>
            <if test="userAssmAchieveAvgPoint != null">
                user_assm_achieve_avg_point,
            </if>
            <if test="userAssmCommunicationAvgPoint != null">
                user_assm_communication_avg_point,
            </if>
            <if test="userAssmTimelyAvgPoint != null">
                user_assm_timely_avg_point,
            </if>
            <if test="clientAssmAchieveTotalPoint != null">
                client_assm_achieve_total_point,
            </if>
            <if test="clientAssmCommunicationTotalPoint != null">
                client_assm_communication_total_point,
            </if>
            <if test="clientAssmTimelyTotalPoint != null">
                client_assm_timely_total_point,
            </if>
            <if test="clientAssmAchieveAvgPoint != null">
                client_assm_achieve_avg_point,
            </if>
            <if test="clientAssmCommunicationAvgPoint != null">
                client_assm_communication_avg_point,
            </if>
            <if test="clientAssmTimelyAvgPoint != null">
                client_assm_timely_avg_point,
            </if>
            <if test="contactAssmTotalPoint != null">
                contact_assm_total_point,
            </if>
            <if test="contactAssmAvgPoint != null">
                contact_assm_avg_point,
            </if>
            <if test="defaultNation != null">
                default_nation,
            </if>
            <if test="idType != null">
                id_type,
            </if>
            <if test="idCode != null">
                id_code,
            </if>
            <if test="belongCompany != null">
                belong_company,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="userEvaluatePoint != null">
                user_evaluate_point,
            </if>
            <if test="validStatus != null">
                valid_status,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="skillLabelIds != null">
                skill_label_ids,
            </if>
            <if test="customLabel != null">
                custom_label,
            </if>


        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="headPortraitUrl != null">
                #{headPortraitUrl,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="defaultProvice != null">
                #{defaultProvice,jdbcType=VARCHAR},
            </if>
            <if test="defaultCity != null">
                #{defaultCity,jdbcType=VARCHAR},
            </if>
            <if test="defaultDistrict != null">
                #{defaultDistrict,jdbcType=VARCHAR},
            </if>
            <if test="dispatchCount != null">
                #{dispatchCount,jdbcType=INTEGER},
            </if>
            <if test="dispatchSuccessfulCount != null">
                #{dispatchSuccessfulCount,jdbcType=INTEGER},
            </if>
            <if test="dispatchAvgFee != null">
                #{dispatchAvgFee,jdbcType=DECIMAL},
            </if>
            <if test="dispatchTotalFee != null">
                #{dispatchTotalFee,jdbcType=DECIMAL},
            </if>
            <if test="dispatchMaxFee != null">
                #{dispatchMaxFee,jdbcType=DECIMAL},
            </if>
            <if test="flagDeleted != null">
                #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagAvailable != null">
                #{flagAvailable,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="userUpdateTime != null">
                #{userUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userAssessmentCount != null">
                #{userAssessmentCount,jdbcType=INTEGER},
            </if>
            <if test="contactAssessmentCount != null">
                #{contactAssessmentCount,jdbcType=INTEGER},
            </if>
            <if test="clientAssessmentCount != null">
                #{clientAssessmentCount,jdbcType=INTEGER},
            </if>
            <if test="userAssmAchieveTotalPoint != null">
                #{userAssmAchieveTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="userAssmCommunicationTotalPoint != null">
                #{userAssmCommunicationTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="userAssmTimelyTotalPoint != null">
                #{userAssmTimelyTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="userAssmAchieveAvgPoint != null">
                #{userAssmAchieveAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="userAssmCommunicationAvgPoint != null">
                #{userAssmCommunicationAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="userAssmTimelyAvgPoint != null">
                #{userAssmTimelyAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="clientAssmAchieveTotalPoint != null">
                #{clientAssmAchieveTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="clientAssmCommunicationTotalPoint != null">
                #{clientAssmCommunicationTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="clientAssmTimelyTotalPoint != null">
                #{clientAssmTimelyTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="clientAssmAchieveAvgPoint != null">
                #{clientAssmAchieveAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="clientAssmCommunicationAvgPoint != null">
                #{clientAssmCommunicationAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="clientAssmTimelyAvgPoint != null">
                #{clientAssmTimelyAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="contactAssmTotalPoint != null">
                #{contactAssmTotalPoint,jdbcType=DECIMAL},
            </if>
            <if test="contactAssmAvgPoint != null">
                #{contactAssmAvgPoint,jdbcType=VARCHAR},
            </if>
            <if test="defaultNation != null">
                #{defaultNation,jdbcType=VARCHAR},
            </if>
            <if test="idType != null">
                #{idType,jdbcType=VARCHAR},
            </if>
            <if test="idCode != null">
                #{idCode,jdbcType=VARCHAR},
            </if>
            <if test="belongCompany != null">
                #{belongCompany,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="userEvaluatePoint != null">
                #{userEvaluatePoint,jdbcType=VARCHAR},
            </if>
            <if test="validStatus != null">
                #{validStatus,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="skillLabelIds != null">
                #{skillLabelIds,jdbcType=VARCHAR},
            </if>
            <if test="customLabel != null">
                #{customLabel,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.bif.BifDispatchHumanResource">
        update bif_dispatch_human_resource
        <set>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="headPortraitUrl != null">
                head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="defaultProvice != null">
                default_provice = #{defaultProvice,jdbcType=VARCHAR},
            </if>
            <if test="defaultCity != null">
                default_city = #{defaultCity,jdbcType=VARCHAR},
            </if>
            <if test="defaultDistrict != null">
                default_district = #{defaultDistrict,jdbcType=VARCHAR},
            </if>
            <if test="dispatchCount != null">
                dispatch_count = #{dispatchCount,jdbcType=INTEGER},
            </if>
            <if test="dispatchSuccessfulCount != null">
                dispatch_successful_count = #{dispatchSuccessfulCount,jdbcType=INTEGER},
            </if>
            <if test="dispatchAvgFee != null">
                dispatch_avg_fee = #{dispatchAvgFee,jdbcType=DECIMAL},
            </if>
            <if test="dispatchTotalFee != null">
                dispatch_total_fee = #{dispatchTotalFee,jdbcType=DECIMAL},
            </if>
            <if test="dispatchMaxFee != null">
                dispatch_max_fee = #{dispatchMaxFee,jdbcType=DECIMAL},
            </if>
            <if test="flagDeleted != null">
                flag_deleted = #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagAvailable != null">
                flag_available = #{flagAvailable,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                update_person = #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="userUpdateTime != null">
                user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userAssessmentCount != null">
                user_assessment_count = #{userAssessmentCount,jdbcType=INTEGER},
            </if>
            <if test="contactAssessmentCount != null">
                contact_assessment_count = #{contactAssessmentCount,jdbcType=INTEGER},
            </if>
            <if test="clientAssessmentCount != null">
                client_assessment_count = #{clientAssessmentCount,jdbcType=INTEGER},
            </if>
            <if test="userAssmAchieveTotalPoint != null">
                user_assm_achieve_total_point = #{userAssmAchieveTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="userAssmCommunicationTotalPoint != null">
                user_assm_communication_total_point = #{userAssmCommunicationTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="userAssmTimelyTotalPoint != null">
                user_assm_timely_total_point = #{userAssmTimelyTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="userAssmAchieveAvgPoint != null">
                user_assm_achieve_avg_point = #{userAssmAchieveAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="userAssmCommunicationAvgPoint != null">
                user_assm_communication_avg_point = #{userAssmCommunicationAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="userAssmTimelyAvgPoint != null">
                user_assm_timely_avg_point = #{userAssmTimelyAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="clientAssmAchieveTotalPoint != null">
                client_assm_achieve_total_point = #{clientAssmAchieveTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="clientAssmCommunicationTotalPoint != null">
                client_assm_communication_total_point = #{clientAssmCommunicationTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="clientAssmTimelyTotalPoint != null">
                client_assm_timely_total_point = #{clientAssmTimelyTotalPoint,jdbcType=INTEGER},
            </if>
            <if test="clientAssmAchieveAvgPoint != null">
                client_assm_achieve_avg_point = #{clientAssmAchieveAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="clientAssmCommunicationAvgPoint != null">
                client_assm_communication_avg_point = #{clientAssmCommunicationAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="clientAssmTimelyAvgPoint != null">
                client_assm_timely_avg_point = #{clientAssmTimelyAvgPoint,jdbcType=DECIMAL},
            </if>
            <if test="contactAssmTotalPoint != null">
                contact_assm_total_point = #{contactAssmTotalPoint,jdbcType=DECIMAL},
            </if>
            <if test="contactAssmAvgPoint != null">
                contact_assm_avg_point = #{contactAssmAvgPoint,jdbcType=VARCHAR},
            </if>
            <if test="defaultNation != null">
                default_nation = #{defaultNation,jdbcType=VARCHAR},
            </if>
            <if test="idType != null">
                id_type = #{idType,jdbcType=VARCHAR},
            </if>
            <if test="idCode != null">
                id_code = #{idCode,jdbcType=VARCHAR},
            </if>
            <if test="belongCompany != null">
                belong_company = #{belongCompany,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="userEvaluatePoint != null">
                user_evaluate_point = #{userEvaluatePoint,jdbcType=VARCHAR},
            </if>
            <if test="validStatus != null">
                valid_status = #{validStatus,jdbcType=VARCHAR},
            </if>
            <if test="validTime != null">
                valid_time = #{validTime,jdbcType=VARCHAR},
            </if>
            <if test="skillLabelIds != null">
                skill_label_ids = #{skillLabelIds,jdbcType=VARCHAR},
            </if>
            <if test="customLabel != null">
                custom_label = #{customLabel,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="list" resultType="com.company.springboot.entity.bif.BifDispatchHumanResource" parameterType="com.company.springboot.entity.bif.DispatchHumanResourceList">
        select DISTINCT
        bdhr.id id,
        bdhr.account account,
        bdhr.PASSWORD PASSWORD,
        bdhr.nickname nickname,
        bdhr.first_name firstName,
        bdhr.last_name lastName,
        bdhr.head_portrait_url headPortraitUrl,
        bdhr.mobile mobile,
        bdhr.default_provice defaultProvice,
        bdhr.default_city defaultCity,
        (SELECT group_concat(bdhsa.province) defaultProvice FROM (SELECT distinct bdhsaProvince.province,bdhsaProvince.hr_id FROM bif_dispatch_hr_service_area bdhsaProvince) bdhsa where bdhsa.hr_id = bdhr.id) AS areaProvice,
        (SELECT group_concat(bdhsa.city) defaultCity FROM (SELECT distinct bdhsaCity.city,bdhsaCity.hr_id FROM bif_dispatch_hr_service_area bdhsaCity) bdhsa where bdhsa.hr_id = bdhr.id) AS areaCity,
        bdhr.default_district defaultDistrict,
        bdhr.dispatch_count dispatchCount,
        bdhr.dispatch_successful_count dispatchSuccessfulCount,
        bdhr.dispatch_avg_fee dispatchAvgFee,
        bdhr.dispatch_total_fee dispatchTotalFee,
        bdhr.dispatch_max_fee dispatchMaxFee,
        bdhr.flag_deleted flagDeleted,
        bdhr.flag_available flagAvailable,
        bdhr.create_time createTime,
        bdhr.create_person createPerson,
        bdhr.update_time updateTime,
        bdhr.update_person updatePerson,
        bdhr.user_update_time userUpdateTime,
        bdhr.user_assessment_count userAssessmentCount,
        bdhr.contact_assessment_count contactAssessmentCount,
        bdhr.client_assessment_count clientAssessmentCount,
        bdhr.user_assm_achieve_total_point userAssmAchieveTotalPoint,
        bdhr.user_assm_communication_total_point userAssmCommunicationTotalPoint,
        bdhr.user_assm_timely_total_point userAssmTimelyTotalPoint,
        bdhr.user_assm_achieve_avg_point userAssmAchieveAvgPoint,
        bdhr.user_assm_communication_avg_point userAssmCommunicationAvgPoint,
        bdhr.user_assm_timely_avg_point userAssmTimelyAvgPoint,
        bdhr.client_assm_achieve_total_point clientAssmAchieveTotalPoint,
        bdhr.client_assm_communication_total_point clientAssmCommunicationTotalPoint,
        bdhr.client_assm_timely_total_point clientAssmTimelyTotalPoint,
        bdhr.client_assm_achieve_avg_point clientAssmAchieveAvgPoint,
        bdhr.client_assm_communication_avg_point clientAssmCommunicationAvgPoint,
        bdhr.client_assm_timely_avg_point clientAssmTimelyAvgPoint,
        bdhr.contact_assm_total_point contactAssmTotalPoint,
        bdhr.contact_assm_avg_point contactAssmAvgPoint,
        bdhr.default_nation defaultNation,
        bdhr.id_type idType,
        bdhr.id_code idCode,
        bdhr.belong_company belongCompany,
        bdhr.email email,
        bdhr.wechat wechat,
        bdhr.qq qq,
        bdhr.memo memo,
        bdhr.user_evaluate_point userEvaluatePoint,
        bdhr.custom_label customLabel,
        (SELECT GROUP_CONCAT(label_name)FROM bif_dispatch_hr_skill_label WHERE FIND_IN_SET(id,bdhr.skill_label_ids)) skillLabel
        from bif_dispatch_human_resource bdhr
        LEFT JOIN (SELECT * FROM bif_dispatch_hr_service_area WHERE flag_deleted = 0) area on bdhr.id = area.hr_id
        where bdhr.flag_deleted = 0
        <if test="defaultProvice != null">
            and area.province = #{defaultProvice,jdbcType=VARCHAR}
        </if>
        <if test="defaultCity != null">
            and area.city = #{defaultCity,jdbcType=VARCHAR}
        </if>
        <if test=" firstName != null and firstName!= '' ">
           and concat(bdhr.first_name,bdhr.last_name) LIKE concat('%',#{firstName},'%')
        </if>
        <if test="mobile != null">
            and bdhr.mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="idList != null">
            and bdhr.id in
            <foreach item="item" collection="idList" separator="," open="(" close=")" index="index">
                #{item, jdbcType=INTEGER}
            </foreach>
        </if>
        <if test="dispatchAvgFeeStart != null">
            and bdhr.dispatch_avg_fee &gt;= #{dispatchAvgFeeStart,jdbcType=DECIMAL}
        </if>
        <if test="dispatchAvgFeeEnd != null">
            and bdhr.dispatch_avg_fee &lt;= #{dispatchAvgFeeEnd,jdbcType=DECIMAL}
        </if>
        <if test="dispatchMaxFeeStart != null">
            and bdhr.dispatch_max_fee &gt;= #{dispatchMaxFeeStart,jdbcType=DECIMAL}
        </if>
        <if test="dispatchMaxFeeEnd != null">
            and bdhr.dispatch_max_fee &lt;= #{dispatchMaxFeeEnd,jdbcType=DECIMAL}
        </if>

        <if test="skillLabelIds != null">
            and LOCATE(#{skillLabelIds}, bdhr.skill_label_ids)>0
        </if>
        <if test="customLabel != null">
            and LOCATE(#{customLabel}, bdhr.custom_label)>0
        </if>

        order by bdhr.user_evaluate_point,bdhr.dispatch_count DESC
</select>


<select id="selectServiceListByParam" parameterType="com.company.springboot.entity.bif.BifServiceListParam" resultType="com.company.springboot.entity.bif.BifServiceList">
    select
    bdhr.id,
    concat (bdhr.first_name,bdhr.last_name) AS name,
    (SELECT group_concat(bdhsa.province) defaultProvice FROM (SELECT distinct bdhsaProvince.province,bdhsaProvince.hr_id FROM bif_dispatch_hr_service_area bdhsaProvince) bdhsa where bdhsa.hr_id = bdhr.id) AS areaProvice,
    (SELECT group_concat(bdhsa.city) defaultCity FROM (SELECT distinct bdhsaCity.city,bdhsaCity.hr_id FROM bif_dispatch_hr_service_area bdhsaCity) bdhsa where bdhsa.hr_id = bdhr.id) AS areaCity,
    bdhr.mobile,
    bdhr.default_provice defaultProvice,
    bdhr.default_city defaultCity,
    bdhr.valid_status validStatus,
    bdhr.flag_available flagAvailable,
    (SELECT GROUP_CONCAT(label_name)FROM bif_dispatch_hr_skill_label WHERE FIND_IN_SET(id,bdhr.skill_label_ids)) skillLabel,
    CASE WHEN register_time  is not null THEN DATE_FORMAT(register_time , '%Y-%m-%d') else '' END AS registerTime,
    bdhr.dispatch_count dispatchCount,
    bdhr.user_evaluate_point userEvaluatePoint,
    CASE WHEN bdhr.account  is not null and  bdhr.account  != '' THEN true else false END AS register,
    bdhr.custom_label customLabel

    from bif_dispatch_human_resource bdhr
    LEFT JOIN
    bif_dispatch_hr_service_area bdhsa on bdhsa.hr_id = bdhr.id
    where bdhr.flag_deleted = 0
    AND bdhr.default_city = bdhsa.city
    <if test="skillLabelIds != null and skillLabelIds != ''">
        and LOCATE(#{skillLabelIds}, bdhr.skill_label_ids)>0
    </if>
    <if test="customLabel != null and customLabel != ''">
        and LOCATE(#{customLabel}, custom_label)>0
    </if>

    <if test="defaultProvice != null">
        and bdhsa.province = #{defaultProvice,jdbcType=VARCHAR}
    </if>
    <if test="defaultCity != null">
        and bdhsa.city = #{defaultCity,jdbcType=VARCHAR}
    </if>
    <if test="flagAvailable == '0'.toString() ">
        and flag_available = 0
    </if>
    <if test="flagAvailable == '1'.toString() ">
        and flag_available = 1
    </if>
    <if test="register == '0'.toString() ">
        and (bdhr.account = ''
        or	bdhr.account is  null)
    </if>
    <if test="register == '1'.toString()">
        and (bdhr.account != ''
        and	bdhr.account is not null)
    </if>
    <if test="validStatus != null and validStatus != 'NEW'">
        and valid_status = #{validStatus,jdbcType=BIT}
    </if>
    <if test="validStatus =='NEW'">
        and valid_status = 'NEW'
        and valid_status = 'RESUBMIT'
    </if>
    <if test="serviceName != null">
        and concat(bdhr.first_name,bdhr.last_name) like CONCAT('%', #{serviceName,jdbcType=VARCHAR}, '%')
    </if>
    <if test="mobile != null">
        and mobile = #{mobile,jdbcType=VARCHAR}
    </if>
    <if test="createTimeStart != null">
        <![CDATA[  and register_time >= #{createTimeStart,jdbcType=TIMESTAMP}    ]]>
    </if>
    <if test="createTimeEnd != null">
        <![CDATA[ and register_time <=  DATE_ADD(#{createTimeEnd,jdbcType=TIMESTAMP}, INTERVAL 1 DAY)   ]]>
    </if>

    order by register_time DESC

</select>

<select id="selectServiceInfoById" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.bif.BifServiceShow">

  select
    head_portrait_url headPortraitUrl,
    first_name firstName,
    last_name lastName,
    mobile,
    create_time createTime,
    valid_status validStatus,
    flag_available flagAvailable,
    default_provice defaultProvice,
    default_city defaultCity,
    CASE WHEN register_time  is not null THEN register_time else '' END AS registerTime,
    user_evaluate_point userEvaluatePoint,
    wechat,
    qq,
    flag_provide_invoice flagProvideInvoice,
    provide_invoice_type provideInvoiceType,
    provide_invoice_rate provideInvoiceRate,
    belong_company belongCompany,
    belong_company_bussiness_license_code belongCompanyBussinessLicenseCode,
    CASE WHEN account  is not null THEN true else false END AS register,
    valid_status validStatus,
    CASE sex WHEN 'male'THEN '男' WHEN 'female' THEN '女'else '' END AS sex,
    email,
    flag_available flagAvailable

    from bif_dispatch_human_resource
    where id = #{id,jdbcType=INTEGER}

</select>

<update id="deleteById" parameterType="java.lang.Integer">

    update bif_dispatch_human_resource
    set flag_deleted = 1
    where id =  #{id,jdbcType=INTEGER}
</update>

<select id="selectCheckShow" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.bif.BifServiceCheckShow">


        select
        CONCAT(hr.first_name,hr.last_name) serviceName,
        hr.head_portrait_url headPortraitUrl,
        hr.mobile,
        hr.sex,
        hr.register_time registerTime,
        hr.valid_apply_time validApplyTime,
         (select DISTINCT description from cfg_data_dictionary where value = hr.id_type) idType,
        hr.id_code idCode,
        hr.create_time createTime,
        av.contrary_image_url contraryImageUrl,
        av.positive_image_url positiveImageUrl,
        av.handheld_image_url handheldImageUrl

        from
        bif_dispatch_human_resource hr
        left join bif_dispatch_hr_autonym_valid av on av.user_id =hr.id
        where 1=1
        and av.flag_last=1
        and hr.id = #{id,jdbcType=INTEGER}
</select>

<select id="selectServicePermissionShowById" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.bif.BifServicePermissionShow">


select
    bdhr.head_portrait_url headPortraitUrl,
    bdhr.first_name firstName,
    bdhr.last_name lastName,
    bdhr.mobile,
    bdhr.valid_status validStatus,
    bdhr.flag_available flagAvailable,
    bdhr.default_provice defaultProvice,
    bdhr.default_city defaultCity,
    bdhr.create_time createTime,
    CASE WHEN bdhr.register_time  is not null THEN bdhr.register_time else '' END AS registerTime,
    bdhr.user_evaluate_point userEvaluatePoint,
    bdhr.wechat,
    bdhr.qq,
     (select description from cfg_data_dictionary where value = bdhr.id_type) idType,
    bdhr.id_code idCode,
    bdhr.valid_time validTime,
    bdhr.valid_apply_time validApplyTime,
    flag_provide_invoice flagProvideInvoice,
    provide_invoice_type provideInvoiceType,
    provide_invoice_rate provideInvoiceRate,
    belong_company belongCompany,
    belong_company_bussiness_license_code belongCompanyBussinessLicenseCode,
    av.positive_image_url positiveImageUrl,
    av.contrary_image_url contraryImageUrl,
    av.handheld_image_url handheldImageUrl,
    CASE WHEN account  is not null THEN true else false END AS register,
    valid_status validStatus,
    CASE sex WHEN 'male'THEN '男' WHEN 'female' THEN '女'else '' END AS sex,
    email,
    flag_available flagAvailable

    from bif_dispatch_human_resource bdhr
    left  join bif_dispatch_hr_autonym_valid av on av.user_id = bdhr.id

    where bdhr.id = #{id,jdbcType=INTEGER}
    and av.flag_last =1
</select>


<select id="selectByMobile" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bif_dispatch_human_resource
    where mobile = #{mobile,jdbcType=VARCHAR}
    and flag_deleted =0
</select>
<!--服务商账号密码登录-->
    <select id="selectByAccountAndPwd" parameterType="com.company.springboot.entity.bif.BifDispatchHumanResource" resultMap="BaseResultMap">
        SELECT
           <include refid="Base_Column_List"/>
        FROM
            bif_dispatch_human_resource
        WHERE 1=1
            <if test="account != null">
               AND account = #{account,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
              AND  password = #{password,jdbcType=VARCHAR}
            </if>
            AND flag_deleted = 0
            AND flag_available = 1
    </select>


    <!--获取派工人员-->
    <select id="findBifDispatchHumanResource" parameterType="java.lang.Integer" resultType="com.company.springboot.entity.bif.BifDispatchHumanResource">
    select
    skill_label_ids skillLabelIds,
    custom_label customLabel
    from bif_dispatch_human_resource where id=#{bdhrId,jdbcType=INTEGER}
  </select>

<!--更新派工人员标签-->
    <update id="updateLabel" parameterType="com.company.springboot.entity.bif.BifDispatchHumanResource">

        update bif_dispatch_human_resource
        set skill_label_ids = #{skillLabelIds,jdbcType=VARCHAR},
        custom_label = #{customLabel,jdbcType=VARCHAR}
        where id =  #{id,jdbcType=INTEGER}
    </update>

    <!--自定义标签列表-->
    <select id="customLabelList" resultType="java.lang.String">
    SELECT group_concat(custom_label Separator ',')
    from bif_dispatch_human_resource
    WHERE custom_label is NOT null AND custom_label != '';
  </select>




    <!--更新自定义标签-->
    <update id="updateCustomLable" parameterType="com.company.springboot.entity.bif.BifDispatchHumanResource">
        update bif_dispatch_human_resource
        <set>
            <if test="customLabel != null">
                custom_label = #{customLabel,jdbcType=VARCHAR},
            </if>
        </set>
    </update>

    <!--功能：查询人力资源信息 -->
    <!--作者： 刘侃-->
    <!--时间： 2018-04-26-->
    <select id="dispatchMainHrIdList" parameterType="com.company.springboot.entity.bif.DispatchHumanResourceList" resultType="com.company.springboot.entity.bif.BifDispatchHumanResource">
        select distinct bdhr.*,bdhr.skill_label_ids skillLabel,
        bdhr.custom_label customLabel
        from fdp_fault_dispatch_order fdo
        inner join fdp_fault_order_dispatch_request odr on fdo.fault_dispatch_request_id = odr.id
        inner join fdp_fault_dispatch_hr_relation dhr on fdo.id = dhr.dispatch_order_id
        inner join bif_dispatch_human_resource bdhr on bdhr.id = dhr.dispatch_main_hr_id
        where fdo.last_deal_person_id =  #{dealPersonId,jdbcType=INTEGER} and fdo.flag_deleted = 0
        <if test="skillLabelIds != null">
            and FIND_IN_SET(bdhr.skill_label_ids,#{skillLabelIds,jdbcType=VARCHAR})
        </if>
        <if test="customLabel != null">
            and LOCATE(#{customLabel}, bdhr.custom_label)>0
        </if>
    </select>

</mapper>