<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teekee.waterdropservice.mapper.wp.WpProcessOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="frame_process_id" jdbcType="INTEGER" property="frameProcessId" />
    <result column="process_id" jdbcType="INTEGER" property="processId" />
    <result column="operate_person" jdbcType="INTEGER" property="operatePerson" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="photos_url" jdbcType="VARCHAR" property="photosUrl" />
    <result column="photos_name" jdbcType="VARCHAR" property="photosName" />
    <result column="files_url" jdbcType="VARCHAR" property="filesUrl" />
    <result column="files_name" jdbcType="VARCHAR" property="filesName" />
    <result column="operate_result" jdbcType="VARCHAR" property="operateResult" />
    <result column="time_used" jdbcType="INTEGER" property="timeUsed" />
    <result column="flag_timeout" jdbcType="BIT" property="flagTimeout" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, frame_process_id, process_id, operate_person, operate_time, photos_url, photos_name, 
    files_url, files_name, operate_result, time_used, flag_timeout
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_process_operate_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_process_operate_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    insert into wp_process_operate_log (id, frame_process_id, process_id, 
      operate_person, operate_time, photos_url, 
      photos_name, files_url, files_name, 
      operate_result, time_used, flag_timeout, 
      description)
    values (#{id,jdbcType=INTEGER}, #{frameProcessId,jdbcType=INTEGER}, #{processId,jdbcType=INTEGER}, 
      #{operatePerson,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP}, #{photosUrl,jdbcType=VARCHAR}, 
      #{photosName,jdbcType=VARCHAR}, #{filesUrl,jdbcType=VARCHAR}, #{filesName,jdbcType=VARCHAR}, 
      #{operateResult,jdbcType=VARCHAR}, #{timeUsed,jdbcType=INTEGER}, #{flagTimeout,jdbcType=BIT}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    insert into wp_process_operate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="frameProcessId != null">
        frame_process_id,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="operatePerson != null">
        operate_person,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="photosUrl != null">
        photos_url,
      </if>
      <if test="photosName != null">
        photos_name,
      </if>
      <if test="filesUrl != null">
        files_url,
      </if>
      <if test="filesName != null">
        files_name,
      </if>
      <if test="operateResult != null">
        operate_result,
      </if>
      <if test="timeUsed != null">
        time_used,
      </if>
      <if test="flagTimeout != null">
        flag_timeout,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="frameProcessId != null">
        #{frameProcessId,jdbcType=INTEGER},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="operatePerson != null">
        #{operatePerson,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photosUrl != null">
        #{photosUrl,jdbcType=VARCHAR},
      </if>
      <if test="photosName != null">
        #{photosName,jdbcType=VARCHAR},
      </if>
      <if test="filesUrl != null">
        #{filesUrl,jdbcType=VARCHAR},
      </if>
      <if test="filesName != null">
        #{filesName,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null">
        #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="timeUsed != null">
        #{timeUsed,jdbcType=INTEGER},
      </if>
      <if test="flagTimeout != null">
        #{flagTimeout,jdbcType=BIT},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    update wp_process_operate_log
    <set>
      <if test="frameProcessId != null">
        frame_process_id = #{frameProcessId,jdbcType=INTEGER},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="operatePerson != null">
        operate_person = #{operatePerson,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="photosUrl != null">
        photos_url = #{photosUrl,jdbcType=VARCHAR},
      </if>
      <if test="photosName != null">
        photos_name = #{photosName,jdbcType=VARCHAR},
      </if>
      <if test="filesUrl != null">
        files_url = #{filesUrl,jdbcType=VARCHAR},
      </if>
      <if test="filesName != null">
        files_name = #{filesName,jdbcType=VARCHAR},
      </if>
      <if test="operateResult != null">
        operate_result = #{operateResult,jdbcType=VARCHAR},
      </if>
      <if test="timeUsed != null">
        time_used = #{timeUsed,jdbcType=INTEGER},
      </if>
      <if test="flagTimeout != null">
        flag_timeout = #{flagTimeout,jdbcType=BIT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    update wp_process_operate_log
    set frame_process_id = #{frameProcessId,jdbcType=INTEGER},
      process_id = #{processId,jdbcType=INTEGER},
      operate_person = #{operatePerson,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      photos_url = #{photosUrl,jdbcType=VARCHAR},
      photos_name = #{photosName,jdbcType=VARCHAR},
      files_url = #{filesUrl,jdbcType=VARCHAR},
      files_name = #{filesName,jdbcType=VARCHAR},
      operate_result = #{operateResult,jdbcType=VARCHAR},
      time_used = #{timeUsed,jdbcType=INTEGER},
      flag_timeout = #{flagTimeout,jdbcType=BIT},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.waterdropservice.entity.wp.WpProcessOperateLog">
    update wp_process_operate_log
    set frame_process_id = #{frameProcessId,jdbcType=INTEGER},
      process_id = #{processId,jdbcType=INTEGER},
      operate_person = #{operatePerson,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      photos_url = #{photosUrl,jdbcType=VARCHAR},
      photos_name = #{photosName,jdbcType=VARCHAR},
      files_url = #{filesUrl,jdbcType=VARCHAR},
      files_name = #{filesName,jdbcType=VARCHAR},
      operate_result = #{operateResult,jdbcType=VARCHAR},
      time_used = #{timeUsed,jdbcType=INTEGER},
      flag_timeout = #{flagTimeout,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>