<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.springboot.mapper.dmi.DmiBrandMapper" >
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.dmi.DmiBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_name_cn" property="brandNameCn" jdbcType="VARCHAR" />
    <result column="brand_name_en" property="brandNameEn" jdbcType="VARCHAR" />
    <result column="brand_logo_url" property="brandLogoUrl" jdbcType="VARCHAR" />
    <result column="brand_create_date" property="brandCreateDate" jdbcType="TIMESTAMP" />
    <result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="flag_available" property="flagAvailable" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.platform.springboot.entity.dmi.DmiBrand" extends="BaseResultMap" >
    <result column="memo" property="memo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_name, brand_name_cn, brand_name_en, brand_logo_url, brand_create_date, 
    brand_code,company_id, flag_deleted, flag_available, create_time, create_person, update_time, update_person
  </sql>
  <sql id="Blob_Column_List" >
    memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dmi_brand
    where id = #{id,jdbcType=INTEGER}
    and flag_deleted = 0
  </select>

  <select id="selectBrandByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
      select
      <include refid="Base_Column_List" />
      ,
      <include refid="Blob_Column_List" />
      from dmi_brand
      where company_id = #{id,jdbcType=INTEGER}
      and flag_deleted = 0
      order by id desc
  </select>

  <insert id="insertSelective" parameterType="com.platform.springboot.entity.dmi.DmiBrand" >
    insert into dmi_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandNameCn != null" >
        brand_name_cn,
      </if>
      <if test="brandNameEn != null" >
        brand_name_en,
      </if>
      <if test="brandLogoUrl != null" >
        brand_logo_url,
      </if>
      <if test="brandCreateDate != null" >
        brand_create_date,
      </if>
      <if test="brandCode != null" >
        brand_code,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="flagAvailable != null" >
        flag_available,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandNameCn != null" >
        #{brandNameCn,jdbcType=VARCHAR},
      </if>
      <if test="brandNameEn != null" >
        #{brandNameEn,jdbcType=VARCHAR},
      </if>
      <if test="brandLogoUrl != null" >
        #{brandLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandCreateDate != null" >
        #{brandCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvailable != null" >
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.dmi.DmiBrand" >
    update dmi_brand
    <set >
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandNameCn != null" >
        brand_name_cn = #{brandNameCn,jdbcType=VARCHAR},
      </if>
      <if test="brandNameEn != null" >
        brand_name_en = #{brandNameEn,jdbcType=VARCHAR},
      </if>
      <if test="brandLogoUrl != null" >
        brand_logo_url = #{brandLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandCreateDate != null" >
        brand_create_date = #{brandCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="brandCode != null" >
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvailable != null" >
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据品牌名称查询-->
  <select id="selectByBrandName" resultMap="ResultMapWithBLOBs">
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM
        dmi_brand
    WHERE
        brand_name = #{brandName,jdbcType=VARCHAR}
    AND company_id = #{companyId,jdbcType=INTEGER}
    AND flag_deleted = 0
  </select>
</mapper>