<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.dmi.DmiCommProductTrunkingMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.dmi.DmiCommProductTrunking" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="flag_cid" property="flagCid" jdbcType="BIT" />
    <result column="contain_lines" property="containLines" jdbcType="INTEGER" />
    <result column="number_begin" property="numberBegin" jdbcType="INTEGER" />
    <result column="number_end" property="numberEnd" jdbcType="INTEGER" />
    <result column="display_number" property="displayNumber" jdbcType="VARCHAR" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
    <result column="update_person" property="updatePerson" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, company_id, product_id, zip_code, flag_cid, contain_lines, number_begin, 
    number_end, display_number, flag_deleted, create_time, create_person, update_person, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dmi_comm_product_trunking
    where id = #{id,jdbcType=INTEGER}
    AND flag_deleted = 0
  </select>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.dmi.DmiCommProductTrunking" >
    insert into dmi_comm_product_trunking
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="flagCid != null" >
        flag_cid,
      </if>
      <if test="containLines != null" >
        contain_lines,
      </if>
      <if test="numberBegin != null" >
        number_begin,
      </if>
      <if test="numberEnd != null" >
        number_end,
      </if>
      <if test="displayNumber != null" >
        display_number,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="flagCid != null" >
        #{flagCid,jdbcType=BIT},
      </if>
      <if test="containLines != null" >
        #{containLines,jdbcType=INTEGER},
      </if>
      <if test="numberBegin != null" >
        #{numberBegin,jdbcType=INTEGER},
      </if>
      <if test="numberEnd != null" >
        #{numberEnd,jdbcType=INTEGER},
      </if>
      <if test="displayNumber != null" >
        #{displayNumber,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.dmi.DmiCommProductTrunking" >
    update dmi_comm_product_trunking
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="flagCid != null" >
        flag_cid = #{flagCid,jdbcType=BIT},
      </if>
      <if test="containLines != null" >
        contain_lines = #{containLines,jdbcType=INTEGER},
      </if>
      <if test="numberBegin != null" >
        number_begin = #{numberBegin,jdbcType=INTEGER},
      </if>
      <if test="numberEnd != null" >
        number_end = #{numberEnd,jdbcType=INTEGER},
      </if>
      <if test="displayNumber != null" >
        display_number = #{displayNumber,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByProductIdSelective" parameterType="com.company.springboot.entity.dmi.DmiCommProductTrunking" >
    update dmi_comm_product_trunking
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="flagCid != null" >
        flag_cid = #{flagCid,jdbcType=BIT},
      </if>
      <if test="containLines != null" >
        contain_lines = #{containLines,jdbcType=INTEGER},
      </if>
      <if test="numberBegin != null" >
        number_begin = #{numberBegin,jdbcType=INTEGER},
      </if>
      <if test="numberEnd != null" >
        number_end = #{numberEnd,jdbcType=INTEGER},
      </if>
      <if test="displayNumber != null" >
        display_number = #{displayNumber,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectByProductId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dmi_comm_product_trunking
    where product_id = #{productId,jdbcType=INTEGER}
    AND flag_deleted = 0
  </select>

  <select id="selectAllByProductId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from dmi_comm_product_trunking
    where product_id = #{storeCommProductId,jdbcType=INTEGER}
    AND flag_deleted = 0
  </select>
</mapper>