<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.dmi.DmiCommPaymentMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.entity.dmi.DmiCommPayment">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="object_id" property="objectId" jdbcType="INTEGER"/>
        <result column="object_type" property="objectType" jdbcType="VARCHAR"/>
        <result column="payment_type" property="paymentType" jdbcType="VARCHAR"/>
        <result column="pay_frequency" property="payFrequency" jdbcType="VARCHAR"/>
        <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR"/>
        <result column="payment_start_date" property="paymentStartDate" jdbcType="TIMESTAMP"/>
        <result column="payment_end_date" property="paymentEndDate" jdbcType="TIMESTAMP"/>
        <result column="payment_exit_date" property="paymentExitDate" jdbcType="TIMESTAMP"/>
        <result column="payment_months" property="paymentMonths" jdbcType="INTEGER"/>
        <result column="total_fee" property="totalFee" jdbcType="DECIMAL"/>
        <result column="tenement_one_time_fee" property="tenementOneTimeFee" jdbcType="DECIMAL"/>
        <result column="fiber_fee" property="fiberFee" jdbcType="DECIMAL"/>
        <result column="fiber_device_fee" property="fiberDeviceFee" jdbcType="DECIMAL"/>
        <result column="first_install_fee" property="firstInstallFee" jdbcType="DECIMAL"/>
        <result column="comm_period_fee" property="commPeriodFee" jdbcType="DECIMAL"/>
        <result column="tenement_period_fee" property="tenementPeriodFee" jdbcType="DECIMAL"/>
        <result column="estimated_payment_fee" property="estimatedPaymentFee" jdbcType="DECIMAL"/>
        <result column="estimated_payment_times" property="estimatedPaymentTimes" jdbcType="INTEGER"/>
        <result column="actual_payment_fee" property="actualPaymentFee" jdbcType="DECIMAL"/>
        <result column="actual_payment_times" property="actualPaymentTimes" jdbcType="INTEGER"/>
        <result column="tenement_frequency" property="tenementFrequency" jdbcType="VARCHAR"/>
        <result column="renew_months" property="renewMonths" jdbcType="INTEGER"/>
        <result column="flag_auto_renew" property="flagAutoRenew" jdbcType="BIT"/>
        <result column="flag_auto_renew_contract" property="flagAutoRenewContract" jdbcType="BIT"/>
        <result column="flag_avaliable" property="flagAvaliable" jdbcType="BIT"/>
        <result column="flag_deleted" property="flagDeleted" jdbcType="BIT"/>
        <result column="flag_start_pay" property="flagStartPay" jdbcType="BIT"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag_lastest" property="flagLastest" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, store_id, company_id, object_id, object_type, payment_type, pay_frequency, payment_method, 
    payment_start_date, payment_end_date, payment_exit_date, payment_months, total_fee, 
    tenement_one_time_fee, fiber_fee, fiber_device_fee, first_install_fee, comm_period_fee, 
    tenement_period_fee, estimated_payment_fee, estimated_payment_times, actual_payment_fee, 
    actual_payment_times, tenement_frequency, renew_months, flag_auto_renew, flag_auto_renew_contract, 
    flag_avaliable, flag_deleted, flag_start_pay, memo, create_person, create_time, update_person, 
    update_time, flag_lastest
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from dmi_comm_payment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertSelective" parameterType="com.company.springboot.entity.dmi.DmiCommPayment">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into dmi_comm_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="objectId != null">
                object_id,
            </if>
            <if test="objectType != null">
                object_type,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
            <if test="payFrequency != null">
                pay_frequency,
            </if>
            <if test="paymentMethod != null">
                payment_method,
            </if>
            <if test="paymentStartDate != null">
                payment_start_date,
            </if>
            <if test="paymentEndDate != null">
                payment_end_date,
            </if>
            <if test="paymentExitDate != null">
                payment_exit_date,
            </if>
            <if test="paymentMonths != null">
                payment_months,
            </if>
            <if test="totalFee != null">
                total_fee,
            </if>
            <if test="tenementOneTimeFee != null">
                tenement_one_time_fee,
            </if>
            <if test="fiberFee != null">
                fiber_fee,
            </if>
            <if test="fiberDeviceFee != null">
                fiber_device_fee,
            </if>
            <if test="firstInstallFee != null">
                first_install_fee,
            </if>
            <if test="commPeriodFee != null">
                comm_period_fee,
            </if>
            <if test="tenementPeriodFee != null">
                tenement_period_fee,
            </if>
            <if test="estimatedPaymentFee != null">
                estimated_payment_fee,
            </if>
            <if test="estimatedPaymentTimes != null">
                estimated_payment_times,
            </if>
            <if test="actualPaymentFee != null">
                actual_payment_fee,
            </if>
            <if test="actualPaymentTimes != null">
                actual_payment_times,
            </if>
            <if test="tenementFrequency != null">
                tenement_frequency,
            </if>
            <if test="renewMonths != null">
                renew_months,
            </if>
            <if test="flagAutoRenew != null">
                flag_auto_renew,
            </if>
            <if test="flagAutoRenewContract != null">
                flag_auto_renew_contract,
            </if>
            <if test="flagAvaliable != null">
                flag_avaliable,
            </if>
            <if test="flagDeleted != null">
                flag_deleted,
            </if>
            <if test="flagStartPay != null">
                flag_start_pay,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flagLastest != null">
                flag_lastest,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="objectId != null">
                #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                #{objectType,jdbcType=VARCHAR},
            </if>
            <if test="paymentType != null">
                #{paymentType,jdbcType=VARCHAR},
            </if>
            <if test="payFrequency != null">
                #{payFrequency,jdbcType=VARCHAR},
            </if>
            <if test="paymentMethod != null">
                #{paymentMethod,jdbcType=VARCHAR},
            </if>
            <if test="paymentStartDate != null">
                #{paymentStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentEndDate != null">
                #{paymentEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentExitDate != null">
                #{paymentExitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentMonths != null">
                #{paymentMonths,jdbcType=INTEGER},
            </if>
            <if test="totalFee != null">
                #{totalFee,jdbcType=DECIMAL},
            </if>
            <if test="tenementOneTimeFee != null">
                #{tenementOneTimeFee,jdbcType=DECIMAL},
            </if>
            <if test="fiberFee != null">
                #{fiberFee,jdbcType=DECIMAL},
            </if>
            <if test="fiberDeviceFee != null">
                #{fiberDeviceFee,jdbcType=DECIMAL},
            </if>
            <if test="firstInstallFee != null">
                #{firstInstallFee,jdbcType=DECIMAL},
            </if>
            <if test="commPeriodFee != null">
                #{commPeriodFee,jdbcType=DECIMAL},
            </if>
            <if test="tenementPeriodFee != null">
                #{tenementPeriodFee,jdbcType=DECIMAL},
            </if>
            <if test="estimatedPaymentFee != null">
                #{estimatedPaymentFee,jdbcType=DECIMAL},
            </if>
            <if test="estimatedPaymentTimes != null">
                #{estimatedPaymentTimes,jdbcType=INTEGER},
            </if>
            <if test="actualPaymentFee != null">
                #{actualPaymentFee,jdbcType=DECIMAL},
            </if>
            <if test="actualPaymentTimes != null">
                #{actualPaymentTimes,jdbcType=INTEGER},
            </if>
            <if test="tenementFrequency != null">
                #{tenementFrequency,jdbcType=VARCHAR},
            </if>
            <if test="renewMonths != null">
                #{renewMonths,jdbcType=INTEGER},
            </if>
            <if test="flagAutoRenew != null">
                #{flagAutoRenew,jdbcType=BIT},
            </if>
            <if test="flagAutoRenewContract != null">
                #{flagAutoRenewContract,jdbcType=BIT},
            </if>
            <if test="flagAvaliable != null">
                #{flagAvaliable,jdbcType=BIT},
            </if>
            <if test="flagDeleted != null">
                #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagStartPay != null">
                #{flagStartPay,jdbcType=BIT},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flagLastest != null">
                #{flagLastest,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.dmi.DmiCommPayment">
        update dmi_comm_payment
        <set>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="objectId != null">
                object_id = #{objectId,jdbcType=INTEGER},
            </if>
            <if test="objectType != null">
                object_type = #{objectType,jdbcType=VARCHAR},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType,jdbcType=VARCHAR},
            </if>
            <if test="payFrequency != null">
                pay_frequency = #{payFrequency,jdbcType=VARCHAR},
            </if>
            <if test="paymentMethod != null">
                payment_method = #{paymentMethod,jdbcType=VARCHAR},
            </if>
            <if test="paymentStartDate != null">
                payment_start_date = #{paymentStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentEndDate != null">
                payment_end_date = #{paymentEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentExitDate != null">
                payment_exit_date = #{paymentExitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="paymentMonths != null">
                payment_months = #{paymentMonths,jdbcType=INTEGER},
            </if>
            <if test="totalFee != null">
                total_fee = #{totalFee,jdbcType=DECIMAL},
            </if>
            <if test="tenementOneTimeFee != null">
                tenement_one_time_fee = #{tenementOneTimeFee,jdbcType=DECIMAL},
            </if>
            <if test="fiberFee != null">
                fiber_fee = #{fiberFee,jdbcType=DECIMAL},
            </if>
            <if test="fiberDeviceFee != null">
                fiber_device_fee = #{fiberDeviceFee,jdbcType=DECIMAL},
            </if>
            <if test="firstInstallFee != null">
                first_install_fee = #{firstInstallFee,jdbcType=DECIMAL},
            </if>
            <if test="commPeriodFee != null">
                comm_period_fee = #{commPeriodFee,jdbcType=DECIMAL},
            </if>
            <if test="tenementPeriodFee != null">
                tenement_period_fee = #{tenementPeriodFee,jdbcType=DECIMAL},
            </if>
            <if test="estimatedPaymentFee != null">
                estimated_payment_fee = #{estimatedPaymentFee,jdbcType=DECIMAL},
            </if>
            <if test="estimatedPaymentTimes != null">
                estimated_payment_times = #{estimatedPaymentTimes,jdbcType=INTEGER},
            </if>
            <if test="actualPaymentFee != null">
                actual_payment_fee = #{actualPaymentFee,jdbcType=DECIMAL},
            </if>
            <if test="actualPaymentTimes != null">
                actual_payment_times = #{actualPaymentTimes,jdbcType=INTEGER},
            </if>
            <if test="tenementFrequency != null">
                tenement_frequency = #{tenementFrequency,jdbcType=VARCHAR},
            </if>
            <if test="renewMonths != null">
                renew_months = #{renewMonths,jdbcType=INTEGER},
            </if>
            <if test="flagAutoRenew != null">
                flag_auto_renew = #{flagAutoRenew,jdbcType=BIT},
            </if>
            <if test="flagAutoRenewContract != null">
                flag_auto_renew_contract = #{flagAutoRenewContract,jdbcType=BIT},
            </if>
            <if test="flagAvaliable != null">
                flag_avaliable = #{flagAvaliable,jdbcType=BIT},
            </if>
            <if test="flagDeleted != null">
                flag_deleted = #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagStartPay != null">
                flag_start_pay = #{flagStartPay,jdbcType=BIT},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                update_person = #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flagLastest != null">
                flag_lastest = #{flagLastest,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="showByObject" resultMap="BaseResultMap" parameterType="com.company.springboot.entity.dmi.DmiCommPayment">
        select
        <include refid="Base_Column_List"/>
        from dmi_comm_payment
        where object_id = #{objectId,jdbcType=INTEGER}
        and object_type = #{objectType,jdbcType=VARCHAR}
        AND flag_deleted = 0
        AND create_time = (SELECT MAX(create_time) FROM dmi_comm_payment WHERE
        object_id = #{objectId,jdbcType=INTEGER}
        AND object_type = #{objectType,jdbcType=VARCHAR}
        AND flag_deleted = 0)
    </select>
    <select id="list" resultMap="BaseResultMap" parameterType="com.company.springboot.entity.dmi.DmiCommPayment">
        select
        <include refid="Base_Column_List"/>
        from dmi_comm_payment
        where object_id = #{objectId,jdbcType=INTEGER}
        and object_type = #{objectType,jdbcType=VARCHAR}
        AND flag_deleted = 0
    </select>
    <select id="selectByTimeDimension" parameterType="com.company.springboot.entity.dmi.DmiCommPayment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dmi_comm_payment
        where payment_start_date &gt;= #{paymentStartDate,jdbcType=TIMESTAMP}
        AND payment_start_date &lt;= #{paymentEndDate,jdbcType=TIMESTAMP}
        AND flag_deleted = 0
        AND object_id = #{objectId,jdbcType=INTEGER}
        AND object_type = #{objectType,jdbcType=VARCHAR}
        UNION
        select
        <include refid="Base_Column_List"/>
        from dmi_comm_payment
        where payment_start_date &lt;= #{paymentStartDate,jdbcType=TIMESTAMP}
        and payment_end_date &gt;= #{paymentStartDate,jdbcType=TIMESTAMP}
        AND flag_deleted = 0
        AND object_id = #{objectId,jdbcType=INTEGER}
        AND object_type = #{objectType,jdbcType=VARCHAR}
    </select>
    <select id="selectLast" parameterType="com.company.springboot.entity.dmi.DmiCommPayment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dmi_comm_payment
        where flag_lastest = 1
        AND flag_deleted = 0
        AND object_id = #{objectId,jdbcType=INTEGER}
        AND object_type = #{objectType,jdbcType=VARCHAR}
    </select>
</mapper>