<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.dmi.DmiCommProductBillingMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.dmi.DmiCommProductBilling" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="flag_product_bill" property="flagProductBill" jdbcType="BIT" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="failure_deal_person" property="failureDealPerson" jdbcType="VARCHAR" />
    <result column="failure_deal_tel" property="failureDealTel" jdbcType="VARCHAR" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
    <result column="update_person" property="updatePerson" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, store_id, company_id, flag_product_bill, object_id, contact, address, email, 
    failure_deal_person, failure_deal_tel, flag_deleted, create_time, create_person, 
    update_person, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dmi_comm_product_billing
    where id = #{id,jdbcType=INTEGER}
    AND flag_deleted = 0
  </select>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.dmi.DmiCommProductBilling" >
    insert into dmi_comm_product_billing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="flagProductBill != null" >
        flag_product_bill,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="failureDealPerson != null" >
        failure_deal_person,
      </if>
      <if test="failureDealTel != null" >
        failure_deal_tel,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="flagProductBill != null" >
        #{flagProductBill,jdbcType=BIT},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="failureDealPerson != null" >
        #{failureDealPerson,jdbcType=VARCHAR},
      </if>
      <if test="failureDealTel != null" >
        #{failureDealTel,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.dmi.DmiCommProductBilling" >
    update dmi_comm_product_billing
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="flagProductBill != null" >
        flag_product_bill = #{flagProductBill,jdbcType=BIT},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="failureDealPerson != null" >
        failure_deal_person = #{failureDealPerson,jdbcType=VARCHAR},
      </if>
      <if test="failureDealTel != null" >
        failure_deal_tel = #{failureDealTel,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="show" resultMap="BaseResultMap" parameterType="com.company.springboot.entity.dmi.DmiCommProductBilling" >
    select
    <include refid="Base_Column_List" />
    from dmi_comm_product_billing
    where flag_product_bill = #{flagProductBill,jdbcType=BIT}
    AND object_id = #{objectId,jdbcType=BIT}
    AND flag_deleted = 0
  </select>
  <update id="updateByObjectId" parameterType="com.company.springboot.entity.dmi.DmiCommProductBilling" >
    update dmi_comm_product_billing
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="failureDealPerson != null" >
        failure_deal_person = #{failureDealPerson,jdbcType=VARCHAR},
      </if>
      <if test="failureDealTel != null" >
        failure_deal_tel = #{failureDealTel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where flag_product_bill = #{flagProductBill,jdbcType=BIT}
    AND object_id = #{objectId,jdbcType=BIT}
    AND flag_deleted = 0
  </update>
</mapper>