<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.sys.SysCompanyRelationMapper">
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.sys.SysCompanyRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="empower_company_id" jdbcType="INTEGER" property="empowerCompanyId" />
    <result column="authorized_company_id" jdbcType="INTEGER" property="authorizedCompanyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, empower_company_id, authorized_company_id, create_time, expire_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_company_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_company_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.company.springboot.entity.sys.SysCompanyRelation">
    insert into sys_company_relation (id, empower_company_id, authorized_company_id, 
      create_time, expire_date)
    values (#{id,jdbcType=INTEGER}, #{empowerCompanyId,jdbcType=INTEGER}, #{authorizedCompanyId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{expireDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.sys.SysCompanyRelation">
    insert into sys_company_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="empowerCompanyId != null">
        empower_company_id,
      </if>
      <if test="authorizedCompanyId != null">
        authorized_company_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="expireDate != null">
        expire_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empowerCompanyId != null">
        #{empowerCompanyId,jdbcType=INTEGER},
      </if>
      <if test="authorizedCompanyId != null">
        #{authorizedCompanyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.sys.SysCompanyRelation">
    update sys_company_relation
    <set>
      <if test="empowerCompanyId != null">
        empower_company_id = #{empowerCompanyId,jdbcType=INTEGER},
      </if>
      <if test="authorizedCompanyId != null">
        authorized_company_id = #{authorizedCompanyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.sys.SysCompanyRelation">
    update sys_company_relation
    set empower_company_id = #{empowerCompanyId,jdbcType=INTEGER},
      authorized_company_id = #{authorizedCompanyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expire_date = #{expireDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <!--根据用户id获取当前公司及关联公司-->
  <select id="selectCompanyIds" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
    CASE WHEN GROUP_CONCAT(relation.authorized_company_id) is NULL THEN
    users.company_id
    ELSE
    CONCAT(users.company_id,",",GROUP_CONCAT(relation.authorized_company_id))
    END relationCompanyIds
    from sys_company_users users
    LEFT JOIN sys_company_relation relation ON users.company_id=relation.empower_company_id
    where users.id = #{userId,jdbcType=INTEGER}
  </select>



  <!--解除公司关系-->
  <delete id="deleteRelieveCompany" parameterType="com.company.springboot.entity.sys.SysCompanyRelation">
    delete from sys_company_relation
    where empower_company_id = #{empowerCompanyId,jdbcType=INTEGER}
    and authorized_company_id = #{authorizedCompanyId,jdbcType=INTEGER}
  </delete>

</mapper>