<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.blackrockservice.mapper.fdp.FdpFaultDispatchOrderMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="fault_order_id" property="faultOrderId" jdbcType="INTEGER" />
    <result column="root_fault_order_id" property="rootFaultOrderId" jdbcType="INTEGER" />
    <result column="fault_dispatch_request_id" property="faultDispatchRequestId" jdbcType="INTEGER" />
    <result column="hr_count" property="hrCount" jdbcType="INTEGER" />
    <result column="dispatch_order_number" property="dispatchOrderNumber" jdbcType="VARCHAR" />
    <result column="estimated_service_time" property="estimatedServiceTime" jdbcType="TIMESTAMP" />
    <result column="actual_cost" property="actualCost" jdbcType="DECIMAL" />
    <result column="actual_monetary_unit" property="actualMonetaryUnit" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="flag_available" property="flagAvailable" jdbcType="BIT" />
    <result column="flag_finish" property="flagFinish" jdbcType="BIT" />
    <result column="finish_type" property="finishType" jdbcType="VARCHAR" />
    <result column="flag_paid" property="flagPaid" jdbcType="BIT" />
    <result column="actual_invoice_type" property="actualInvoiceType" jdbcType="VARCHAR" />
    <result column="actual_invoice_title" property="actualInvoiceTitle" jdbcType="VARCHAR" />
    <result column="actual_invoice_tax_id_number" property="actualInvoiceTaxIdNumber" jdbcType="VARCHAR" />
    <result column="actual_invoice_number" property="actualInvoiceNumber" jdbcType="VARCHAR" />
    <result column="actual_invoice_fee" property="actualInvoiceFee" jdbcType="DECIMAL" />
    <result column="actual_invoice_rate" property="actualInvoiceRate" jdbcType="DECIMAL" />
    <result column="last_deal_person_id" property="lastDealPersonId" jdbcType="INTEGER" />
    <result column="last_deal_time" property="lastDealTime" jdbcType="TIMESTAMP" />
    <result column="dispatch_status" property="dispatchStatus" jdbcType="VARCHAR" />
    <result column="vendor_id" property="vendorId" jdbcType="INTEGER" />
    <result column="flag_customer_confirm" property="flagCustomerConfirm" jdbcType="BIT" />
    <result column="flag_dispatcher_confirm" property="flagDispatcherConfirm" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, store_id, fault_order_id, root_fault_order_id, fault_dispatch_request_id, 
    hr_count, dispatch_order_number, estimated_service_time, actual_cost, actual_monetary_unit, 
    memo, flag_deleted, flag_available, flag_finish, finish_type, flag_paid, actual_invoice_type, 
    actual_invoice_title, actual_invoice_tax_id_number, actual_invoice_number, actual_invoice_fee, 
    actual_invoice_rate, last_deal_person_id, last_deal_time, dispatch_status,vendor_id,flag_customer_confirm,flag_dispatcher_confirm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fdp_fault_dispatch_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fdp_fault_dispatch_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrder" >
    insert into fdp_fault_dispatch_order (id, company_id, store_id, 
      fault_order_id, root_fault_order_id, fault_dispatch_request_id, 
      hr_count, dispatch_order_number, estimated_service_time, 
      actual_cost, actual_monetary_unit, memo, 
      flag_deleted, flag_available, flag_finish, 
      finish_type, flag_paid, actual_invoice_type, 
      actual_invoice_title, actual_invoice_tax_id_number, 
      actual_invoice_number, actual_invoice_fee, 
      actual_invoice_rate, last_deal_person_id, last_deal_time,
      dispatch_status)
    values   #{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, 
      #{faultOrderId,jdbcType=INTEGER}, #{rootFaultOrderId,jdbcType=INTEGER}, #{faultDispatchRequestId,jdbcType=INTEGER}, 
      #{hrCount,jdbcType=INTEGER}, #{dispatchOrderNumber,jdbcType=VARCHAR}, #{estimatedServiceTime,jdbcType=TIMESTAMP}, 
      #{actualCost,jdbcType=DECIMAL}, #{actualMonetaryUnit,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{flagDeleted,jdbcType=BIT}, #{flagAvailable,jdbcType=BIT}, #{flagFinish,jdbcType=BIT}, 
      #{finishType,jdbcType=VARCHAR}, #{flagPaid,jdbcType=BIT}, #{actualInvoiceType,jdbcType=VARCHAR}, 
      #{actualInvoiceTitle,jdbcType=VARCHAR}, #{actualInvoiceTaxIdNumber,jdbcType=VARCHAR}, 
      #{actualInvoiceNumber,jdbcType=VARCHAR}, #{actualInvoiceFee,jdbcType=DECIMAL}, 
      #{actualInvoiceRate,jdbcType=DECIMAL}, #{lastDealPersonId,jdbcType=INTEGER}, #{lastDealTime,jdbcType=TIMESTAMP}, 
      #{dispatchStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into fdp_fault_dispatch_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="faultOrderId != null" >
        fault_order_id,
      </if>
      <if test="rootFaultOrderId != null" >
        root_fault_order_id,
      </if>
      <if test="faultDispatchRequestId != null" >
        fault_dispatch_request_id,
      </if>
      <if test="hrCount != null" >
        hr_count,
      </if>
      <if test="dispatchOrderNumber != null" >
        dispatch_order_number,
      </if>
      <if test="estimatedServiceTime != null" >
        estimated_service_time,
      </if>
      <if test="actualCost != null" >
        actual_cost,
      </if>
      <if test="actualMonetaryUnit != null" >
        actual_monetary_unit,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="flagAvailable != null" >
        flag_available,
      </if>
      <if test="flagFinish != null" >
        flag_finish,
      </if>
      <if test="finishType != null" >
        finish_type,
      </if>
      <if test="flagPaid != null" >
        flag_paid,
      </if>
      <if test="actualInvoiceType != null" >
        actual_invoice_type,
      </if>
      <if test="actualInvoiceTitle != null" >
        actual_invoice_title,
      </if>
      <if test="actualInvoiceTaxIdNumber != null" >
        actual_invoice_tax_id_number,
      </if>
      <if test="actualInvoiceNumber != null" >
        actual_invoice_number,
      </if>
      <if test="actualInvoiceFee != null" >
        actual_invoice_fee,
      </if>
      <if test="actualInvoiceRate != null" >
        actual_invoice_rate,
      </if>
      <if test="lastDealPersonId != null" >
        last_deal_person_id,
      </if>
      <if test="lastDealTime != null" >
        last_deal_time,
      </if>
      <if test="dispatchStatus != null" >
        dispatch_status,
      </if>
      <if test="vendorId != null" >
        vendor_id,
      </if>
      <if test="flagCustomerConfirm != null" >
        flag_customer_confirm,
      </if>
      <if test="flagDispatcherConfirm != null" >
        flag_dispatcher_confirm,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="actualPriceUnit != null" >
        actual_price_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="faultOrderId != null" >
        #{faultOrderId,jdbcType=INTEGER},
      </if>
      <if test="rootFaultOrderId != null" >
        #{rootFaultOrderId,jdbcType=INTEGER},
      </if>
      <if test="faultDispatchRequestId != null" >
        #{faultDispatchRequestId,jdbcType=INTEGER},
      </if>
      <if test="hrCount != null" >
        #{hrCount,jdbcType=INTEGER},
      </if>
      <if test="dispatchOrderNumber != null" >
        #{dispatchOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="estimatedServiceTime != null" >
        #{estimatedServiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualCost != null" >
        #{actualCost,jdbcType=DECIMAL},
      </if>
      <if test="actualMonetaryUnit != null" >
        #{actualMonetaryUnit,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvailable != null" >
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="flagFinish != null" >
        #{flagFinish,jdbcType=BIT},
      </if>
      <if test="finishType != null" >
        #{finishType,jdbcType=VARCHAR},
      </if>
      <if test="flagPaid != null" >
        #{flagPaid,jdbcType=BIT},
      </if>
      <if test="actualInvoiceType != null" >
        #{actualInvoiceType,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceTitle != null" >
        #{actualInvoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceTaxIdNumber != null" >
        #{actualInvoiceTaxIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceNumber != null" >
        #{actualInvoiceNumber,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceFee != null" >
        #{actualInvoiceFee,jdbcType=DECIMAL},
      </if>
      <if test="actualInvoiceRate != null" >
        #{actualInvoiceRate,jdbcType=DECIMAL},
      </if>
      <if test="lastDealPersonId != null" >
        #{lastDealPersonId,jdbcType=INTEGER},
      </if>
      <if test="lastDealTime != null" >
        #{lastDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dispatchStatus != null" >
        #{dispatchStatus,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="flagCustomerConfirm != null" >
        #{flagCustomerConfirm,jdbcType=BIT},
      </if>
      <if test="flagDispatcherConfirm != null" >
        #{flagDispatcherConfirm,jdbcType=BIT},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualPriceUnit != null" >
        #{actualPriceUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrder" >
    update fdp_fault_dispatch_order
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="faultOrderId != null" >
        fault_order_id = #{faultOrderId,jdbcType=INTEGER},
      </if>
      <if test="rootFaultOrderId != null" >
        root_fault_order_id = #{rootFaultOrderId,jdbcType=INTEGER},
      </if>
      <if test="faultDispatchRequestId != null" >
        fault_dispatch_request_id = #{faultDispatchRequestId,jdbcType=INTEGER},
      </if>
      <if test="hrCount != null" >
        hr_count = #{hrCount,jdbcType=INTEGER},
      </if>
      <if test="dispatchOrderNumber != null" >
        dispatch_order_number = #{dispatchOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="estimatedServiceTime != null" >
        estimated_service_time = #{estimatedServiceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualCost != null" >
        actual_cost = #{actualCost,jdbcType=DECIMAL},
      </if>
      <if test="actualMonetaryUnit != null" >
        actual_monetary_unit = #{actualMonetaryUnit,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvailable != null" >
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="flagFinish != null" >
        flag_finish = #{flagFinish,jdbcType=BIT},
      </if>
      <if test="finishType != null" >
        finish_type = #{finishType,jdbcType=VARCHAR},
      </if>
      <if test="flagPaid != null" >
        flag_paid = #{flagPaid,jdbcType=BIT},
      </if>
      <if test="actualInvoiceType != null" >
        actual_invoice_type = #{actualInvoiceType,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceTitle != null" >
        actual_invoice_title = #{actualInvoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceTaxIdNumber != null" >
        actual_invoice_tax_id_number = #{actualInvoiceTaxIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceNumber != null" >
        actual_invoice_number = #{actualInvoiceNumber,jdbcType=VARCHAR},
      </if>
      <if test="actualInvoiceFee != null" >
        actual_invoice_fee = #{actualInvoiceFee,jdbcType=DECIMAL},
      </if>
      <if test="actualInvoiceRate != null" >
        actual_invoice_rate = #{actualInvoiceRate,jdbcType=DECIMAL},
      </if>
      <if test="lastDealPersonId != null" >
        last_deal_person_id = #{lastDealPersonId,jdbcType=INTEGER},
      </if>
      <if test="lastDealTime != null" >
        last_deal_time = #{lastDealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dispatchStatus != null" >
        dispatch_status = #{dispatchStatus,jdbcType=VARCHAR},
      </if>
      <if test="flagCustomerConfirm != null" >
        flag_customer_confirm = #{flagCustomerConfirm,jdbcType=BIT},
      </if>
      <if test="flagDispatcherConfirm != null" >
        flag_dispatcher_confirm = #{flagDispatcherConfirm,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrder" >
    update fdp_fault_dispatch_order
    set company_id = #{companyId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      fault_order_id = #{faultOrderId,jdbcType=INTEGER},
      root_fault_order_id = #{rootFaultOrderId,jdbcType=INTEGER},
      fault_dispatch_request_id = #{faultDispatchRequestId,jdbcType=INTEGER},
      hr_count = #{hrCount,jdbcType=INTEGER},
      dispatch_order_number = #{dispatchOrderNumber,jdbcType=VARCHAR},
      estimated_service_time = #{estimatedServiceTime,jdbcType=TIMESTAMP},
      actual_cost = #{actualCost,jdbcType=DECIMAL},
      actual_monetary_unit = #{actualMonetaryUnit,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      flag_available = #{flagAvailable,jdbcType=BIT},
      flag_finish = #{flagFinish,jdbcType=BIT},
      finish_type = #{finishType,jdbcType=VARCHAR},
      flag_paid = #{flagPaid,jdbcType=BIT},
      actual_invoice_type = #{actualInvoiceType,jdbcType=VARCHAR},
      actual_invoice_title = #{actualInvoiceTitle,jdbcType=VARCHAR},
      actual_invoice_tax_id_number = #{actualInvoiceTaxIdNumber,jdbcType=VARCHAR},
      actual_invoice_number = #{actualInvoiceNumber,jdbcType=VARCHAR},
      actual_invoice_fee = #{actualInvoiceFee,jdbcType=DECIMAL},
      actual_invoice_rate = #{actualInvoiceRate,jdbcType=DECIMAL},
      last_deal_person_id = #{lastDealPersonId,jdbcType=INTEGER},
      last_deal_time = #{lastDealTime,jdbcType=TIMESTAMP},
      dispatch_status = #{dispatchStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>





  <select id="selectOrderById" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrderInfo">

      select
      CONCAT(	DATE_FORMAT(ffdo.estimated_service_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(ffdo.estimated_service_time,'%p') = 'AM' THEN '上午' else '下午' END,' ',DATE_FORMAT(ffdo.estimated_service_time,'%h:%i') ) serviceTime,
      CONCAT(	DATE_FORMAT(hr_confirm_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(hr_confirm_time,'%p') = 'AM' THEN '上午' else '下午' END,' ',DATE_FORMAT(hr_confirm_time,'%h:%i') ) hrConfirmTime,
      CASE WHEN ffdo.finish_type is null  THEN '' else   CONCAT(	DATE_FORMAT(ffdo.last_deal_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(ffdo.last_deal_time,'%p') = 'AM' THEN '上午' else '下午' END,' ',DATE_FORMAT(ffdo.last_deal_time,'%h:%i'  ) )   END completeTime,
      request.service_province serviceProvince ,
      request.service_city serviceCity,
      request.service_district serviceDistrict,
      request.service_address serviceAddress,
      case   when compy.company_name is null then request.other_brand else compy.company_name end  brandName,
      request.hr_count hrCount,
      request.backup_device_request backupDeviceRequest,
      request.dispatch_model_request dispatchModelRequest,
      equipment_request equipmentRequest,
      (select description from cfg_data_dictionary where type ='DISPATCH_HR_PROCESS_STATUS' and  value = hr.hr_dispatch_status) dispatchStatus,
      case when ds.store_name is null then request.other_store else ds.store_name end storeName,
      request.other_request otherRequest,
      request.longitude,
      request.latitude,
      hr.hr_start_service_time hrStartServiceTime,
      request.dispatch_description dispatchDescription,
       ffdo.upload_file_name uploadFileName,
      ffdo.upload_file_url uploadFileUrl,
			ffdo.complete_profile_template_name completeProfileTemplateName,
			ffdo.complete_profile_template_url completeProfileTemplateUrl,
			sys.mobile
      from fdp_fault_order_dispatch_request request
      left join fdp_fault_dispatch_order ffdo  on request.id = ffdo.fault_dispatch_request_id
      -- from fdp_fault_dispatch_order ffdo
      -- left join fdp_fault_order_dispatch_request request on request.id = ffdo.fault_dispatch_request_id
      left join dmi_store ds on ds.id = ffdo.store_id
      left join dmi_brand db on db.id =ds.brand_id
      LEFT JOIN dmi_company_info compy ON compy.id = request.company_id
      left join fdp_fault_dispatch_hr_relation hr on hr.dispatch_order_id = ffdo.id
      LEFT JOIN sys_users sys ON sys.id = ffdo.last_deal_person_id
      where ffdo.flag_deleted = 0
      and ffdo.id = #{id,jdbcType=INTEGER}
      and hr.flag_used =1
  </select>
  <!--接单状态数量统计-->
  <select id="selectStatusCollect" parameterType="com.teekee.blackrockservice.entity.fdp.FdpFaultDispatchOrder" resultType="com.teekee.blackrockservice.entity.fdp.GetDispatchOrderServiceStatusList">
  SELECT
      COUNT(rel.id) `count`,
      rel.hr_dispatch_status `status`
  FROM
      fdp_fault_dispatch_hr_relation rel
      LEFT JOIN bif_dispatch_human_resource bdhr on bdhr.id = rel.dispatch_main_hr_id
      WHERE
      rel.dispatch_main_hr_id = #{id,jdbcType=INTEGER}
      AND rel.flag_used = 1
      AND rel.hr_dispatch_status = #{dispatchStatus,jdbcType=VARCHAR}
  </select>

  <!-- 待完工资料查询 -->
  <select id="queryFinishShow" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.fdp.GetFdpDispatchHrRelationFinishShow">
      SELECT
      CONCAT(	DATE_FORMAT(hr_confirm_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(hr_confirm_time,'%p') = 'AP' THEN '上午' else '下午' END,' ',DATE_FORMAT(hr_confirm_time,'%h:%i') ) hrConfirmTime,
	   CONCAT(	DATE_FORMAT(ffdo.estimated_service_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(ffdo.estimated_service_time,'%p') = 'AP' THEN '上午' else '下午' END,' ',DATE_FORMAT(ffdo.estimated_service_time,'%h:%i') ) serviceTime,
      CASE WHEN 	ffdo.flag_finish = 0  THEN '' else   CONCAT(	DATE_FORMAT(ffdo.last_deal_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(ffdo.last_deal_time,'%p') = 'AP' THEN '上午' else '下午' END,' ',DATE_FORMAT(ffdo.last_deal_time,'%h:%i'  ) )   END completeTime,
      request.service_province AS serviceProvince,
      request.service_city AS serviceCity,
      request.service_district AS serviceDistrict,
      request.service_address AS serviceAddress,
      case   when db.brand_name is null then request.other_brand else db.brand_name end  brandName,
      (select description from cfg_data_dictionary where type ='DISPATCH_HR_PROCESS_STATUS' and  value = hr.hr_dispatch_status) dispatchStatus,
      case WHEN ds.store_name is null THEN request.other_store else ds.store_name END storeName,
        hr.user_complete_profile_file AS userCompleteProfileFile,
        hr.user_complete_profile_file_name AS userCompleteProfileFileName,
        hr.user_complete_profile_photo AS userCompleteProfilePhoto,
        hr.user_complete_profile_photo_name AS userCompleteProfilePhotoName,
		request.complete_profile_template_url AS completeProfileTemplateUrl,
		request.complete_profile_template_name AS completeProfileTemplateName,
        hr.user_assm_memo AS userAssmMemo
    FROM
        fdp_fault_order_dispatch_request request
        LEFT JOIN fdp_fault_dispatch_order ffdo ON request.id = ffdo.fault_dispatch_request_id
        LEFT JOIN dmi_store ds ON ds.id = ffdo.store_id
        LEFT JOIN dmi_brand db ON db.id = ds.brand_id
        LEFT JOIN ( SELECT * FROM fdp_fault_dispatch_hr_relation WHERE flag_used = 1 ) hr ON hr.dispatch_order_id = ffdo.id
    WHERE
        ffdo.flag_deleted = 0
    AND ffdo.id = #{orderId,jdbcType=INTEGER}
  </select>
<!--&lt;!&ndash;查询工单粗略信息&ndash;&gt;-->
  <!--<select id="orderRoughInfo" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.fdp.GetFdpDispatchOrderRoughInfoShow">-->
     <!--select-->
      <!--CONCAT(	DATE_FORMAT(hr_confirm_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(hr_confirm_time,'%p') = 'AP' THEN '上午' else '下午' END,' ',DATE_FORMAT(hr_confirm_time,'%h:%i') ) hrConfirmTime,-->
			<!--CONCAT(	DATE_FORMAT(hr_start_service_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(hr_start_service_time,'%p') = 'AP' THEN '上午' else '下午' END,' ',DATE_FORMAT(hr_start_service_time,'%h:%i') ) hrStartDerviceTime,-->
       <!--CASE WHEN 	ffdo.flag_finish = 0  THEN '' else   CONCAT(	DATE_FORMAT(ffdo.last_deal_time,'%Y-%m-%d') ,' ',CASE WHEN  DATE_FORMAT(ffdo.last_deal_time,'%p') = 'AP' THEN '上午' else '下午' END,' ',DATE_FORMAT(ffdo.last_deal_time,'%h:%i'  ) )   END lastDealTime,-->
      <!--request.service_province AS serviceProvince,-->
      <!--request.service_city AS serviceCity,-->
      <!--request.service_district AS serviceDistrict,-->
      <!--request.service_address AS serviceAddress,-->
      <!--case   when db.brand_name is null then request.other_brand else db.brand_name end  brandName,-->
      <!--(select description from cfg_data_dictionary where type ='DISPATCH_HR_PROCESS_STATUS' and  value = ffdo.dispatch_status) dispatchStatus,-->
     <!--case WHEN ds.store_name is null THEN request.other_store else ds.store_name END storeName-->
      <!--from fdp_fault_order_dispatch_request request-->
      <!--left join fdp_fault_dispatch_order ffdo  on request.id = ffdo.fault_dispatch_request_id-->
      <!--left join dmi_store ds on ds.id = ffdo.store_id-->
      <!--left join dmi_brand db on db.id =ds.brand_id-->
      <!--left join (SELECT * FROM fdp_fault_dispatch_hr_relation WHERE flag_used = 1) hr on hr.dispatch_order_id = ffdo.id-->
      <!--where ffdo.id = #{orderId,jdbcType=INTEGER}-->
			<!--AND ffdo.flag_deleted = 0-->

  <!--</select>-->

</mapper>