<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.blueoceanservice.mapper.fdp.FdpFaultReportRouteMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.blueoceanservice.entity.fdp.FdpFaultReportRoute" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="route_object" property="routeObject" jdbcType="VARCHAR" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, source, company_id, route_object, create_person, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fdp_fault_report_route
    where id = #{id,jdbcType=INTEGER}
  </select>
    <!--通过id删除分配路径-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fdp_fault_report_route
    where id  = #{id,jdbcType=INTEGER}
  </delete>
    <!--通过companyid删除全部雇主下全部路径-->
    <delete id="deleteByCompanyId" parameterType="java.lang.Integer" >
        delete from fdp_fault_report_route
        where company_id  = #{companyId,jdbcType=INTEGER}
    </delete>
  <insert id="insert" parameterType="com.teekee.blueoceanservice.entity.fdp.FdpFaultReportRoute" >
    insert into fdp_fault_report_route (id, source, company_id, 
      route_object, create_person, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{companyId,jdbcType=INTEGER}, 
      #{routeObject,jdbcType=VARCHAR}, #{createPerson,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.blueoceanservice.entity.fdp.FdpFaultReportRoute" >
    insert into fdp_fault_report_route
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="routeObject != null" >
        route_object,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="routeObject != null" >
        #{routeObject,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.blueoceanservice.entity.fdp.FdpFaultReportRoute" >
    update fdp_fault_report_route
    <set >
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="routeObject != null" >
        route_object = #{routeObject,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.blueoceanservice.entity.fdp.FdpFaultReportRoute" >
    update fdp_fault_report_route
    set source = #{source,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      route_object = #{routeObject,jdbcType=VARCHAR},
      create_person = #{createPerson,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--查询故障分配路径列表-->
  <select id="show" parameterType="java.lang.Integer" resultType="com.teekee.blueoceanservice.entity.fdp.GetFaultReportRouteList">
      SELECT
          comp.id AS companyId,
          comp.company_name AS companyName,
          comp.telephone,
          comp.contact_address AS contactAddress,
          comp.update_time AS  updateTime,
          vend.vendor_name AS vendorName,
          comp.create_time AS createTime
      FROM
          dmi_company_info comp
          LEFT JOIN dmi_intergration_vendors vend ON vend.id = comp.vendor_id
      WHERE
          comp.vendor_id = ( SELECT act_Object_id FROM sys_company_users WHERE act_type = "VENDOR" AND id = #{userId,jdbcType=INTEGER} )
  </select>
  <!--查询是否配置路径-->
  <select id="isConfigRoute" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List" />
      FROM
          fdp_fault_report_route
      WHERE
          company_id = #{companyId,jdbcType=INTEGER}
  </select>
  <!--通过companyid查询分配路径-->
  <select id="queryByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      SELECT
          <include refid="Base_Column_List" />
      FROM
          fdp_fault_report_route
      WHERE
          company_id = #{companyId,jdbcType=INTEGER}
  </select>
  <!--查询分配对象-->
  <select id="selectRouteObject" parameterType="java.lang.Integer" resultType="com.teekee.blueoceanservice.entity.fdp.GetFaultReportRouteList">
      SELECT
      comp.id companyId,comp.company_name AS routeObject
      FROM dmi_company_info comp
      WHERE comp.id in (select authorized_company_id from sys_company_relation where empower_company_id=#{companyId,jdbcType=INTEGER})
  </select>


    <!--新增一套报障路径配置-->
    <insert id="inserts" parameterType="com.teekee.blueoceanservice.entity.fdp.FdpFaultReportRoute" >
    insert into fdp_fault_report_route (source, company_id,
      route_object, create_person, create_time
      )
    values ("WECHAT", #{companyId,jdbcType=INTEGER},
      #{routeObject,jdbcType=VARCHAR}, #{createPerson,jdbcType=INTEGER}, NOW()
      ),
      ("POS", #{companyId,jdbcType=INTEGER},
      #{routeObject,jdbcType=VARCHAR}, #{createPerson,jdbcType=INTEGER}, NOW()
      ),
      ("SYSTEM", #{companyId,jdbcType=INTEGER},
      #{routeObject,jdbcType=VARCHAR}, #{createPerson,jdbcType=INTEGER}, NOW()
      )
  </insert>
</mapper>