<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxg.springboot.mapper.sysuser.SysUsersMapper">
  <resultMap id="BaseResultMap" type="com.lxg.springboot.entity.sysuser.SysUsers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="head_portrait_url" jdbcType="VARCHAR" property="headPortraitUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="act_type" jdbcType="VARCHAR" property="actType" />
    <result column="act_Object_id" jdbcType="VARCHAR" property="actObjectId" />
    <result column="flag_open_status" jdbcType="BIT" property="flagOpenStatus" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="flag_available" jdbcType="BIT" property="flagAvailable" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />

  </resultMap>
  <sql id="Base_Column_List">
    id, account, password, username, head_portrait_url, create_time, update_time, flag_deleted, 
    act_type, act_Object_id, flag_open_status, email, flag_available,company_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lxg.springboot.entity.sysuser.SysUsers">
    insert into sys_users (id, account, password, 
      username, head_portrait_url, create_time, 
      update_time, flag_deleted, act_type, 
      act_Object_id, flag_open_status, email, 
      flag_available,company_id)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{headPortraitUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{flagDeleted,jdbcType=BIT}, #{actType,jdbcType=VARCHAR}, 
      #{actObjectId,jdbcType=VARCHAR}, #{flagOpenStatus,jdbcType=BIT}, #{email,jdbcType=VARCHAR}, 
      #{flagAvailable,jdbcType=BIT},#{companyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lxg.springboot.entity.sysuser.SysUsers">
    insert into sys_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="actType != null">
        act_type,
      </if>
      <if test="actObjectId != null">
        act_Object_id,
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="flagAvailable != null">
        flag_available,
      </if>
      <if test="companyId != null">
        company_id,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        #{actObjectId,jdbcType=VARCHAR},
      </if>
      <if test="flagOpenStatus != null">
        #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxg.springboot.entity.sysuser.SysUsers">
    update sys_users
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        act_type = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        act_Object_id = #{actObjectId,jdbcType=VARCHAR},
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status = #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxg.springboot.entity.sysuser.SysUsers">
    update sys_users
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      act_type = #{actType,jdbcType=VARCHAR},
      act_Object_id = #{actObjectId,jdbcType=VARCHAR},
      flag_open_status = #{flagOpenStatus,jdbcType=BIT},
      email = #{email,jdbcType=VARCHAR},
      flag_available = #{flagAvailable,jdbcType=BIT},
      company_id = #{companyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_users
    where username = #{username,jdbcType=VARCHAR} and flag_deleted=1 and  flag_available=1
  </select>


  <select id="selectAll" parameterType="com.lxg.springboot.entity.sysuser.SysUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_users
    where 1=1
    <if test="account != null">
      and account = #{account,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
      and username = #{username,jdbcType=VARCHAR}
    </if>
    <if test="headPortraitUrl != null">
      and head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="flagDeleted != null">
      and flag_deleted = #{flagDeleted,jdbcType=BIT}
    </if>
    <if test="actType != null">
      and act_type = #{actType,jdbcType=VARCHAR}
    </if>
    <if test="actObjectId != null">
      and act_Object_id = #{actObjectId,jdbcType=VARCHAR}
    </if>
    <if test="flagOpenStatus != null">
      and flag_open_status = #{flagOpenStatus,jdbcType=BIT}
    </if>
    <if test="email != null">
      and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="flagAvailable != null">
      and flag_available = #{flagAvailable,jdbcType=BIT}
    </if>
    <if test="companyId != null">
      and company_id = #{companyId,jdbcType=INTEGER}
    </if>
  </select>


</mapper>