<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.dmi.DmiDeviceAssignMapper">
    <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.dmi.DmiDeviceAssign">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="device_company_id" property="deviceCompanyId" jdbcType="INTEGER"/>
        <result column="device_id" property="deviceId" jdbcType="INTEGER"/>
        <result column="assign_date" property="assignDate" jdbcType="TIMESTAMP"/>
        <result column="release_date" property="releaseDate" jdbcType="TIMESTAMP"/>
        <result column="flag_deleted" property="flagDeleted" jdbcType="BIT"/>
        <result column="assign_type" property="assignType" jdbcType="VARCHAR"/>
        <result column="assigned_section_id" property="assignedSectionId" jdbcType="INTEGER"/>
        <result column="assigned_employee_id" property="assignedEmployeeId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.teekee.waterdropservice.entity.dmi.DmiDeviceAssign" extends="BaseResultMap">
        <result column="memo" property="memo" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, device_company_id, device_id, assign_date, release_date, flag_deleted,
    assign_type, assigned_section_id, assigned_employee_id, create_time, create_person, 
    update_time, update_person
  </sql>
    <sql id="Blob_Column_List">
    memo
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_device_assign
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.dmi.DmiDeviceAssign">
        insert into dmi_device_assign
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceCompanyId != null">
                device_company_id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="assignDate != null">
                assign_date,
            </if>
            <if test="releaseDate != null">
                release_date,
            </if>
            <if test="flagDeleted != null">
                flag_deleted,
            </if>
            <if test="assignType != null">
                assign_type,
            </if>
            <if test="assignedSectionId != null">
                assigned_section_id,
            </if>
            <if test="assignedEmployeeId != null">
                assigned_employee_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="memo != null">
                memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="deviceCompanyId != null">
                #{deviceCompanyId,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=INTEGER},
            </if>
            <if test="assignDate != null">
                #{assignDate,jdbcType=TIMESTAMP},
            </if>
            <if test="releaseDate != null">
                #{releaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flagDeleted != null">
                #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="assignType != null">
                #{assignType,jdbcType=VARCHAR},
            </if>
            <if test="assignedSectionId != null">
                #{assignedSectionId,jdbcType=INTEGER},
            </if>
            <if test="assignedEmployeeId != null">
                #{assignedEmployeeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.dmi.DmiDeviceAssign">
        update dmi_device_assign
        <set>
            <if test="deviceCompanyId != null">
                device_company_id = #{deviceCompanyId,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=INTEGER},
            </if>
            <if test="assignDate != null">
                assign_date = #{assignDate,jdbcType=TIMESTAMP},
            </if>
            <if test="releaseDate != null">
                release_date = #{releaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flagDeleted != null">
                flag_deleted = #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="assignType != null">
                assign_type = #{assignType,jdbcType=VARCHAR},
            </if>
            <if test="assignedSectionId != null">
                assigned_section_id = #{assignedSectionId,jdbcType=INTEGER},
            </if>
            <if test="assignedEmployeeId != null">
                assigned_employee_id = #{assignedEmployeeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                update_person = #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByDeviceIdAndStoreId" parameterType="com.teekee.waterdropservice.entity.dmi.DmiDeviceAssign">
        update dmi_device_assign
        <set>
            <if test="deviceCompanyId != null">
                device_company_id = #{deviceCompanyId,jdbcType=INTEGER},
            </if>
            <if test="assignDate != null">
                assign_date = #{assignDate,jdbcType=TIMESTAMP},
            </if>
            <if test="releaseDate != null">
                release_date = #{releaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flagDeleted != null">
                flag_deleted = #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="assignType != null">
                assign_type = #{assignType,jdbcType=VARCHAR},
            </if>
            <if test="assignedSectionId != null">
                assigned_section_id = #{assignedSectionId,jdbcType=INTEGER},
            </if>
            <if test="assignedEmployeeId != null">
                assigned_employee_id = #{assignedEmployeeId,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                update_person = #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where device_id = #{deviceId,jdbcType=INTEGER} AND device_company_id = #{deviceCompanyId,jdbcType=INTEGER}
    </update>

    <select id="selectByDeviceId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_device_assign
        where device_id = #{deviceId,jdbcType=INTEGER}
        AND flag_deleted = 0
    </select>

    <select id="selectByStoreId" resultType="com.teekee.waterdropservice.entity.bif.BifDeviceDetail" parameterType="java.lang.Integer">
        select
        device.device_name AS deviceName,
        device.device_sn AS deviceSn,
        relation.asset_sn AS assetSn,
        device.brand AS brand,
        (SELECT series_name FROM bif_device_series WHERE id = (SELECT series_id FROM bif_device_model WHERE id = device.model_id)) AS series,
        device.model AS model,
        device.catalog_id AS catalogId,
        relation.purchase_date AS purchaseDate,
        device.warranty_expire_date AS warrantyExpireDate,
        device.memo AS memo
        from dmi_device_assign deviceAssign
        INNER JOIN bif_device device ON device.id = deviceAssign.device_id
        INNER JOIN dmi_device_company_relation relation ON relation.device_id = deviceAssign.device_id
        where deviceAssign.assigned_section_id = #{storeId,jdbcType=INTEGER} AND deviceAssign.assign_type = 'STORE'
        AND deviceAssign.flag_deleted = 0
    </select>

    <select id="selectByStoreIdAndObj" resultType="com.teekee.waterdropservice.entity.bif.BifDeviceDetail" parameterType="com.teekee.waterdropservice.entity.bif.BifDeviceInputParam">
        SELECT
        deviceAssign.id AssignId,
        device.device_name AS deviceName,
        device.brand AS brand,
        model.model_name AS model,
        device.device_sn AS deviceSn,
        deviceCompanyRelation.asset_sn AS assetSn,
        typeCatalog.catalog_name AS catalogName,
        deviceAssign.id AS deviceStoreRelationId,
        deviceCompanyRelation.id AS deviceCompanyRelationId,
        deviceCompanyRelation.memo AS deviceCompanyRelationMemo,
        deviceAssign.assign_type AS assignType,
        deviceAssign.update_time AS updateTime,
        CASE deviceAssign.assign_type WHEN 'PERSON' THEN employee.employee_name
        WHEN 'STORE' THEN store.store_name
        WHEN 'ORG' THEN organization.organization_name ELSE '' END AS assignTypeName,
        device.id AS id
        FROM
        bif_device device
        INNER JOIN bif_device_model model ON model.id = device.model_id
        <if test="modelId != null and modelId!= 0">
            AND model.id = #{modelId,jdbcType=INTEGER} AND model.flag_deleted = 0
        </if>
        <if test="brandId != null and brandId != 0">
            INNER JOIN bif_device_brand brand ON brand.id = #{brandId,jdbcType=INTEGER} AND brand.flag_deleted = 0
        </if>
        INNER JOIN dmi_device_company_relation deviceCompanyRelation ON device.id = deviceCompanyRelation.device_id AND deviceCompanyRelation.flag_deleted = 0
        AND deviceCompanyRelation.flag_assign = 1
        <if test="assetSn != null and assetSn != ''">
            AND deviceCompanyRelation.asset_sn LIKE '%${assetSn}%'
        </if>
        INNER JOIN (dmi_device_assign deviceAssign LEFT JOIN dmi_store store ON store.id = deviceAssign.assigned_section_id
        LEFT JOIN dmi_organization organization ON organization.id = deviceAssign.assigned_section_id
        LEFT JOIN dmi_employee employee ON employee.id = deviceAssign.assigned_employee_id) ON device.id = deviceAssign.device_id
        AND deviceAssign.assigned_section_id = #{storeId,jdbcType=INTEGER} AND deviceAssign.flag_deleted = 0 AND assign_type = 'STORE'
        LEFT JOIN cfg_device_type_catalog typeCatalog ON device.catalog_id = typeCatalog.id
        WHERE
        device.flag_deleted = 0
        <if test="catalogId != null and catalogId != 0">
            and device.catalog_id in
            <foreach item="parentId" index="index" collection="catalogIdList" open="(" separator="," close=")">
                #{parentId}
            </foreach>
        </if>
        <if test="deviceSn != null and deviceSn != ''">
            and device.device_sn LIKE '%${deviceSn}%'
        </if>
    </select>
</mapper>