<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.dmi.DmiInvoiceModelMapper">
    <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.dmi.DmiInvoiceModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="invoice_model_name" property="invoiceModelName" jdbcType="VARCHAR"/>
        <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR"/>
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="taxpayer_number" property="taxpayerNumber" jdbcType="VARCHAR"/>
        <result column="invoice_address" property="invoiceAddress" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="dependence_company_id" property="dependenceCompanyId" jdbcType="INTEGER"/>
        <result column="delivery_address" property="deliveryAddress" jdbcType="VARCHAR"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="contact_tel" property="contactTel" jdbcType="VARCHAR"/>
        <result column="belong_object_id" property="belongObjectId" jdbcType="INTEGER"/>
        <result column="flag_deleted" property="flagDeleted" jdbcType="BIT"/>
        <result column="flag_available" property="flagAvailable" jdbcType="BIT"/>
        <result column="belong_object_type" property="belongObjectType" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="INTEGER"/>
        <result column="invoice_account" property="invoiceAccount" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.teekee.waterdropservice.entity.dmi.DmiInvoiceModelWithBLOBs" extends="BaseResultMap">
        <result column="memo" property="memo" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, invoice_model_name, invoice_type, invoice_title, taxpayer_number, invoice_address, 
    bank_name, dependence_company_id, delivery_address, contact_name, contact_tel,
    belong_object_id, flag_deleted, flag_available, belong_object_type, invoice_account,
    create_time, create_person, update_time, update_person
  </sql>
    <sql id="Blob_Column_List">
    memo
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_invoice_model
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectInvoiceListByCompanyId" resultType="java.util.HashMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_invoice_model
        where belong_object_type = 'COM'
        and belong_object_id = #{belongId}
        and flag_deleted = 0
    </select>

    <select id="selectInvoiceListByAreaId" resultType="java.util.HashMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_invoice_model
        where belong_object_type = 'AREA'
        and belong_object_id = #{belongId}
        and flag_deleted = 0
    </select>

    <select id="selectInvoiceListByStoreId" resultType="java.util.HashMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_invoice_model
        where belong_object_type = 'STORE'
        and belong_object_id = #{belongId}
        and flag_deleted = 0
    </select>

    <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.dmi.DmiInvoiceModelWithBLOBs">
        insert into dmi_invoice_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="invoiceModelName != null">
                invoice_model_name,
            </if>
            <if test="invoiceType != null">
                invoice_type,
            </if>
            <if test="invoiceTitle != null">
                invoice_title,
            </if>
            <if test="taxpayerNumber != null">
                taxpayer_number,
            </if>
            <if test="invoiceAddress != null">
                invoice_address,
            </if>
            <if test="bankName != null">
                bank_name,
            </if>
            <if test="dependenceCompanyId != null">
                dependence_company_id,
            </if>
            <if test="deliveryAddress != null">
                delivery_address,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactTel != null">
                contact_tel,
            </if>
            <if test="belongObjectId != null">
                belong_object_id,
            </if>
            <if test="flagDeleted != null">
                flag_deleted,
            </if>
            <if test="flagAvailable != null">
                flag_available,
            </if>
            <if test="belongObjectType != null">
                belong_object_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="invoiceAccount != null">
                invoice_account,
            </if>
            <if test="memo != null">
                memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="invoiceModelName != null">
                #{invoiceModelName,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                #{invoiceType,jdbcType=VARCHAR},
            </if>
            <if test="invoiceTitle != null">
                #{invoiceTitle,jdbcType=VARCHAR},
            </if>
            <if test="taxpayerNumber != null">
                #{taxpayerNumber,jdbcType=VARCHAR},
            </if>
            <if test="invoiceAddress != null">
                #{invoiceAddress,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="dependenceCompanyId != null">
                #{dependenceCompanyId,jdbcType=INTEGER},
            </if>
            <if test="deliveryAddress != null">
                #{deliveryAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="belongObjectId != null">
                #{belongObjectId,jdbcType=INTEGER},
            </if>
            <if test="flagDeleted != null">
                #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagAvailable != null">
                #{flagAvailable,jdbcType=BIT},
            </if>
            <if test="belongObjectType != null">
                #{belongObjectType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="invoiceAccount != null">
                #{invoiceAccount,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.dmi.DmiInvoiceModelWithBLOBs">
        update dmi_invoice_model
        <set>
            <if test="invoiceModelName != null">
                invoice_model_name = #{invoiceModelName,jdbcType=VARCHAR},
            </if>
            <if test="invoiceType != null">
                invoice_type = #{invoiceType,jdbcType=VARCHAR},
            </if>
            <if test="invoiceTitle != null">
                invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
            </if>
            <if test="taxpayerNumber != null">
                taxpayer_number = #{taxpayerNumber,jdbcType=VARCHAR},
            </if>
            <if test="invoiceAddress != null">
                invoice_address = #{invoiceAddress,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null">
                bank_name = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="dependenceCompanyId != null">
                dependence_company_id = #{dependenceCompanyId,jdbcType=INTEGER},
            </if>
            <if test="deliveryAddress != null">
                delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="contactTel != null">
                contact_tel = #{contactTel,jdbcType=VARCHAR},
            </if>
            <if test="belongObjectId != null">
                belong_object_id = #{belongObjectId,jdbcType=INTEGER},
            </if>
            <if test="flagDeleted != null">
                flag_deleted = #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagAvailable != null">
                flag_available = #{flagAvailable,jdbcType=BIT},
            </if>
            <if test="belongObjectType != null">
                belong_object_type = #{belongObjectType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatePerson != null">
                update_person = #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="invoiceAccount != null">
                invoice_account = #{invoiceAccount,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectInvoiceListByCompanyIdAndType" resultType="java.util.HashMap" parameterType="com.teekee.waterdropservice.entity.dmi.DmiInvoiceModelWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from dmi_invoice_model
        where belong_object_type = 'COM'
        and belong_object_id = #{belongObjectId,jdbcType=INTEGER}
        and flag_deleted = 0
        AND invoice_type = #{invoiceType,jdbcType=VARCHAR}
    </select>
</mapper>