<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.dmi.DmiStoreCommProductMapper">
    <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.dmi.DmiStoreCommProduct">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="catalog_id" property="catalogId" jdbcType="INTEGER"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="sub_brand" property="subBrand" jdbcType="VARCHAR"/>
        <result column="product_code" property="productCode" jdbcType="VARCHAR"/>
        <result column="device_number" property="deviceNumber" jdbcType="VARCHAR"/>
        <result column="isp_service" property="ispService" jdbcType="VARCHAR"/>
        <result column="product_description" property="productDescription" jdbcType="VARCHAR"/>
        <result column="purchase_date" property="purchaseDate" jdbcType="TIMESTAMP"/>
        <result column="install_date" property="installDate" jdbcType="TIMESTAMP"/>
        <result column="flag_independent" property="flagIndependent" jdbcType="BIT"/>
        <result column="marketing_campaign_id" property="marketingCampaignId" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
        <result column="service_id" property="serviceId" jdbcType="INTEGER"/>
        <result column="pay_balance" property="payBalance" jdbcType="DECIMAL"/>
        <result column="comm_service_password" property="commServicePassword" jdbcType="VARCHAR"/>
        <result column="register" property="register" jdbcType="VARCHAR"/>
        <result column="register_type" property="registerType" jdbcType="VARCHAR"/>
        <result column="register_code" property="registerCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="flag_avaliable" property="flagAvaliable" jdbcType="BIT"/>
        <result column="flag_deleted" property="flagDeleted" jdbcType="BIT"/>
        <result column="flag_info_confirm" property="flagInfoConfirm" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="INTEGER"/>
        <result column="update_person" property="updatePerson" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="flag_vendor" property="flagVendor" jdbcType="BIT"/>
        <result column="service_contact_id" property="serviceContactId" jdbcType="INTEGER"/>
        <result column="flag_charge_agency" property="flagChargeAgency" jdbcType="BIT"/>
        <result column="pms_code" property="pmsCode" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, store_id, company_id, catalog_id, brand_id, sub_brand, product_code,
        device_number, isp_service, product_description, purchase_date, install_date, flag_independent,
        marketing_campaign_id, memo, service_id, pay_balance, comm_service_password, register,
        register_type, register_code, status, flag_avaliable, flag_deleted,
        flag_info_confirm, create_time, create_person, update_person, update_time, flag_vendor, service_contact_id,
        flag_charge_agency, pms_code
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from dmi_store_comm_product
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.dmi.DmiStoreCommProduct">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into dmi_store_comm_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="catalogId != null">
                catalog_id,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="subBrand != null">
                sub_brand,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="deviceNumber != null">
                device_number,
            </if>
            <if test="ispService != null">
                isp_service,
            </if>
            <if test="productDescription != null">
                product_description,
            </if>
            <if test="purchaseDate != null">
                purchase_date,
            </if>
            <if test="installDate != null">
                install_date,
            </if>
            <if test="flagIndependent != null">
                flag_independent,
            </if>
            <if test="marketingCampaignId != null">
                marketing_campaign_id,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="serviceId != null">
                service_id,
            </if>
            <if test="payBalance != null">
                pay_balance,
            </if>
            <if test="commServicePassword != null">
                comm_service_password,
            </if>
            <if test="register != null">
                register,
            </if>
            <if test="registerType != null">
                register_type,
            </if>
            <if test="registerCode != null">
                register_code,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="flagAvaliable != null">
                flag_avaliable,
            </if>
            <if test="flagDeleted != null">
                flag_deleted,
            </if>
            <if test="flagInfoConfirm != null">
                flag_info_confirm,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="updatePerson != null">
                update_person,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="flagVendor != null">
                flag_vendor,
            </if>
            <if test="serviceContactId != null">
                service_contact_id,
            </if>
            <if test="flagChargeAgency != null">
                flag_charge_agency,
            </if>
            <if test="pmsCode != null">
                pms_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="catalogId != null">
                #{catalogId,jdbcType=INTEGER},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="subBrand != null">
                #{subBrand,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="deviceNumber != null">
                #{deviceNumber,jdbcType=VARCHAR},
            </if>
            <if test="ispService != null">
                #{ispService,jdbcType=VARCHAR},
            </if>
            <if test="productDescription != null">
                #{productDescription,jdbcType=VARCHAR},
            </if>
            <if test="purchaseDate != null">
                #{purchaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="installDate != null">
                #{installDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flagIndependent != null">
                #{flagIndependent,jdbcType=BIT},
            </if>
            <if test="marketingCampaignId != null">
                #{marketingCampaignId,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="serviceId != null">
                #{serviceId,jdbcType=INTEGER},
            </if>
            <if test="payBalance != null">
                #{payBalance,jdbcType=DECIMAL},
            </if>
            <if test="commServicePassword != null">
                #{commServicePassword,jdbcType=VARCHAR},
            </if>
            <if test="register != null">
                #{register,jdbcType=VARCHAR},
            </if>
            <if test="registerType != null">
                #{registerType,jdbcType=VARCHAR},
            </if>
            <if test="registerCode != null">
                #{registerCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="flagAvaliable != null">
                #{flagAvaliable,jdbcType=BIT},
            </if>
            <if test="flagDeleted != null">
                #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagInfoConfirm != null">
                #{flagInfoConfirm,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updatePerson != null">
                #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flagVendor != null">
                #{flagVendor,jdbcType=BIT},
            </if>
            <if test="serviceContactId != null">
                #{serviceContactId,jdbcType=INTEGER},
            </if>
            <if test="flagChargeAgency != null">
                #{flagChargeAgency,jdbcType=BIT},
            </if>
            <if test="pmsCode != null">
                #{pmsCode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.dmi.DmiStoreCommProduct">
        update dmi_store_comm_product
        <set>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="catalogId != null">
                catalog_id = #{catalogId,jdbcType=INTEGER},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="subBrand != null">
                sub_brand = #{subBrand,jdbcType=VARCHAR},
            </if>
            <if test="productCode != null">
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="deviceNumber != null">
                device_number = #{deviceNumber,jdbcType=VARCHAR},
            </if>
            <if test="ispService != null">
                isp_service = #{ispService,jdbcType=VARCHAR},
            </if>
            <if test="productDescription != null">
                product_description = #{productDescription,jdbcType=VARCHAR},
            </if>
            <if test="purchaseDate != null">
                purchase_date = #{purchaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="installDate != null">
                install_date = #{installDate,jdbcType=TIMESTAMP},
            </if>
            <if test="flagIndependent != null">
                flag_independent = #{flagIndependent,jdbcType=BIT},
            </if>
            <if test="marketingCampaignId != null">
                marketing_campaign_id = #{marketingCampaignId,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="serviceId != null">
                service_id = #{serviceId,jdbcType=INTEGER},
            </if>
            <if test="payBalance != null">
                pay_balance = #{payBalance,jdbcType=DECIMAL},
            </if>
            <if test="commServicePassword != null">
                comm_service_password = #{commServicePassword,jdbcType=VARCHAR},
            </if>
            <if test="register != null">
                register = #{register,jdbcType=VARCHAR},
            </if>
            <if test="registerType != null">
                register_type = #{registerType,jdbcType=VARCHAR},
            </if>
            <if test="registerCode != null">
                register_code = #{registerCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="flagAvaliable != null">
                flag_avaliable = #{flagAvaliable,jdbcType=BIT},
            </if>
            <if test="flagDeleted != null">
                flag_deleted = #{flagDeleted,jdbcType=BIT},
            </if>
            <if test="flagInfoConfirm != null">
                flag_info_confirm = #{flagInfoConfirm,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="updatePerson != null">
                update_person = #{updatePerson,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flagVendor != null">
                flag_vendor = #{flagVendor,jdbcType=BIT},
            </if>
            <if test="serviceContactId != null">
                service_contact_id = #{serviceContactId,jdbcType=INTEGER},
            </if>
            <if test="flagChargeAgency != null">
                flag_charge_agency = #{flagChargeAgency,jdbcType=BIT},
            </if>
            <if test="pmsCode != null">
                pms_code = #{pmsCode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getListByStoreId" resultType="com.teekee.waterdropservice.entity.dmi.ret.dmiStoreCommProduct.GetListByStoreIdRet" parameterType="java.lang.Integer">
    select
    product.catalog_id catalogId,
    product.update_time AS updateTime,
    (select catalog_name from cfg_communication_type_catalog
    where id =	(select parent_id from cfg_communication_type_catalog where id =product.catalog_id ) ) fatherCategory,
    product.id AS id,
    product.device_number AS deviceNumber,
    product.product_description AS productDescription,
    brand.brand_name AS brandName,
    typeCatalog.catalog_name AS catalogName,
    product.flag_independent AS flagIndependent,
    campaign.campaign_name AS campaignName,
    campaign.flag_charge_singal AS flagChargeSingal,
    product.flag_info_confirm AS flagInfoConfirm,
    product.flag_avaliable AS flagAvaliable,
    product.product_code AS productCode,
    product.flag_vendor AS flagVendor,
    service.service_name AS serviceName,
    product.status AS status
    from dmi_store_comm_product product
    LEFT JOIN cfg_communication_brand brand ON product.brand_id = brand.id
    INNER JOIN cfg_communication_type_catalog typeCatalog ON product.catalog_id = typeCatalog.id
    LEFT JOIN dmi_comm_product_marketing_campaign campaign ON campaign.id = product.marketing_campaign_id
    LEFT JOIN bif_communication_service service ON service.id = product.service_id
    where product.flag_deleted = 0
    AND product.store_id = #{storeId,jdbcType=INTEGER}
  </select>



    <select id="findPage" resultType="com.teekee.waterdropservice.entity.dmi.ret.dmiStoreCommProduct.GetListByStoreIdRet" parameterType="com.teekee.waterdropservice.entity.dmi.DmiStoreCommProduct">
    select
    product.catalog_id catalogId,
    product.update_time AS updateTime,
    (select catalog_name from cfg_communication_type_catalog
    where id =	(select parent_id from cfg_communication_type_catalog where id =product.catalog_id ) ) fatherCategory,
    product.id AS id,
    product.device_number AS deviceNumber,
    product.product_description AS productDescription,
    brand.brand_name AS brandName,
    typeCatalog.catalog_name AS catalogName,
    product.flag_independent AS flagIndependent,
    campaign.campaign_name AS campaignName,
    campaign.flag_charge_singal AS flagChargeSingal,
    product.flag_info_confirm AS flagInfoConfirm,
    product.flag_avaliable AS flagAvaliable,
    product.product_code AS productCode,
    product.flag_vendor AS flagVendor,
    service.service_name AS serviceName,
    product.status AS status
    from dmi_store_comm_product product
    LEFT JOIN cfg_communication_brand brand ON product.brand_id = brand.id
    INNER JOIN cfg_communication_type_catalog typeCatalog ON product.catalog_id = typeCatalog.id
    LEFT JOIN dmi_comm_product_marketing_campaign campaign ON campaign.id = product.marketing_campaign_id
    LEFT JOIN bif_communication_service service ON service.id = product.service_id
    where product.flag_deleted = 0

        <if test="id != null">
           and product.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="storeId != null">
            and product.store_id = #{storeId,jdbcType=INTEGER}
        </if>
        <if test="companyId != null">
            and product.company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="catalogId != null">
            and product.catalog_id = #{catalogId,jdbcType=INTEGER}
        </if>
        <if test="brandId != null">
            and product.brand_id = #{brandId,jdbcType=INTEGER}
        </if>
        <if test="subBrand != null">
            and product.sub_brand = #{subBrand,jdbcType=VARCHAR}
        </if>
        <if test="productCode != null">
            and product.product_code = #{productCode,jdbcType=VARCHAR}
        </if>
        <if test="deviceNumber != null">
            and  product.device_number = #{deviceNumber,jdbcType=VARCHAR}
        </if>
        <if test="ispService != null">
            and  product.isp_service = #{ispService,jdbcType=VARCHAR}
        </if>
        <if test="productDescription != null">
            and   product.product_description = #{productDescription,jdbcType=VARCHAR}
        </if>
        <if test="purchaseDate != null">
            and  product.purchase_date = #{purchaseDate,jdbcType=TIMESTAMP}
        </if>
        <if test="installDate != null">
            and  product.install_date = #{installDate,jdbcType=TIMESTAMP}
        </if>
        <if test="flagIndependent != null">
            and  product.flag_independent = #{flagIndependent,jdbcType=BIT}
        </if>
        <if test="marketingCampaignId != null">
            and  product.marketing_campaign_id = #{marketingCampaignId,jdbcType=VARCHAR}
        </if>
        <if test="memo != null">
            and product.memo = #{memo,jdbcType=VARCHAR}
        </if>
        <if test="serviceId != null">
            and  product.service_id = #{serviceId,jdbcType=INTEGER}
        </if>
        <if test="payBalance != null">
            and  product.pay_balance = #{payBalance,jdbcType=DECIMAL}
        </if>
        <if test="commServicePassword != null">
            and  product.comm_service_password = #{commServicePassword,jdbcType=VARCHAR}
        </if>
        <if test="register != null">
            and   product.register = #{register,jdbcType=VARCHAR}
        </if>
        <if test="registerType != null">
            and  product.register_type = #{registerType,jdbcType=VARCHAR}
        </if>
        <if test="registerCode != null">
            and   product.register_code = #{registerCode,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and  product.status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="flagAvaliable != null">
            and  product.flag_avaliable = #{flagAvaliable,jdbcType=BIT}
        </if>
        <if test="flagDeleted != null">
            and   product.flag_deleted = #{flagDeleted,jdbcType=BIT}
        </if>
        <if test="flagInfoConfirm != null">
            and  product.flag_info_confirm = #{flagInfoConfirm,jdbcType=BIT}
        </if>
        <if test="createTime != null">
            and product.create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createPerson != null">
            and  product.create_person = #{createPerson,jdbcType=INTEGER}
        </if>
        <if test="updatePerson != null">
            and   product.update_person = #{updatePerson,jdbcType=INTEGER}
        </if>
        <if test="updateTime != null">
            and   product.update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="flagVendor != null">
            and  product.flag_vendor = #{flagVendor,jdbcType=BIT}
        </if>
        <if test="serviceContactId != null">
            and  product.service_contact_id = #{serviceContactId,jdbcType=INTEGER}
        </if>
        <if test="flagChargeAgency != null">
            and  product.flag_charge_agency = #{flagChargeAgency,jdbcType=BIT}
        </if>
        <if test="pmsCode != null">
            and  product.pms_code = #{pmsCode,jdbcType=VARCHAR}
        </if>
        order by product.update_time desc
  </select>


    <select id="show" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        FROM dmi_store_comm_product
        where flag_deleted = 0
        AND id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getListByMarketingCampaignId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from dmi_store_comm_product
        where marketing_campaign_id = #{marketingCampaignId,jdbcType=VARCHAR}
        AND flag_deleted = 0
    </select>
    <select id="getIndependenceProductList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dmi_store_comm_product
        where marketing_campaign_id ='0'
        AND flag_deleted = 0
    </select>
    <select id="getIndependenceProductListByStoreId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from dmi_store_comm_product
        where marketing_campaign_id ='0'
        AND flag_deleted = 0
        AND store_id = #{storeId,jdbcType=INTEGER}
    </select>
    <select id="getProductList" resultType="com.teekee.waterdropservice.entity.ret.dmi.DmiStoreCommProduct.CommListForChargeRet"
            parameterType="com.teekee.waterdropservice.entity.dto.dmi.DmiStoreCommProduct.CommListDto">
        SELECT
        product.update_time AS updateTime,
        product.id AS id,
        product.product_description AS name,
        companyBrand.brand_name AS companyBrand,
        store.store_name AS storeName,
        commBrand.brand_name AS communicationBrand,
        catalogInfo.catalog_name AS commTypeCatalogNm,
        charge.charge_start_date AS chargeStartDate,
        product.flag_avaliable AS flagAvailable,
        product.status AS status,
        product.flag_info_confirm AS flagInfoConfirm,
        product.flag_vendor AS flagVendor,
        IFNULL(campaign.flag_charge_singal,0) AS flagChargeSingal,
        CASE product.flag_independent WHEN 1 THEN 0 ELSE 1 END AS flagInsideCampaign,
        0 AS flagCampaign
        FROM (SELECT * FROM dmi_store_comm_product WHERE flag_deleted = 0 AND flag_vendor = 1
        <if test="flagChargeSingal == null">
            AND id IN (SELECT id FROM dmi_store_comm_product WHERE flag_independent = 1 UNION SELECT a.id FROM dmi_store_comm_product a
            INNER JOIN dmi_comm_product_marketing_campaign b ON b.id = a.marketing_campaign_id
            AND a.flag_independent = 0 AND b.flag_charge_singal = 1)
        </if>
        <if test="flagChargeSingal == true">
            AND id IN (SELECT a.id FROM dmi_store_comm_product a
            INNER JOIN dmi_comm_product_marketing_campaign b ON b.id = a.marketing_campaign_id
            AND a.flag_independent = 0 AND b.flag_charge_singal = 1)
        </if>
        <if test="flagChargeSingal == false">
            AND id IN (SELECT id FROM dmi_store_comm_product WHERE flag_independent = 1)
        </if>
        <if test="communicationBrandId != 0">
            AND brand_id = #{communicationBrandId,jdbcType=INTEGER}
        </if>
        <if test="catalogId != 0">
            AND catalog_id IN (SELECT id FROM cfg_communication_type_catalog WHERE parent_id = #{catalogId,jdbcType=INTEGER} UNION SELECT id FROM
            cfg_communication_type_catalog WHERE id = #{catalogId,jdbcType=INTEGER})
        </if>
        <if test="status != null">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="companyId != 0">
            AND company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="storeId != 0">
            AND store_id = #{storeId,jdbcType=INTEGER}
        </if>) product
        INNER JOIN (
        (SELECT * FROM dmi_store WHERE 1=1
        <if test="companyBrandId != 0">
            AND brand_id = #{companyBrandId,jdbcType=INTEGER}
        </if>) store LEFT JOIN dmi_brand companyBrand ON store.brand_id = companyBrand.id
        <if test="province != null">
            RIGHT
        </if>
        <if test="province == null">
            LEFT
        </if>
        JOIN (SELECT * FROM bif_building WHERE 1=1
        <if test="province != null">
            AND province = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city != null">
            AND city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="district != null">
            AND district = #{district,jdbcType=VARCHAR}
        </if>) building ON store.building_id = building.id
        ) ON product.store_id = store.id
        LEFT JOIN dmi_comm_product_marketing_campaign campaign ON campaign.id = product.marketing_campaign_id
        LEFT JOIN cfg_communication_brand commBrand ON commBrand.id = product.brand_id
        LEFT JOIN cfg_communication_type_catalog catalogInfo ON catalogInfo.id = product.catalog_id
        INNER JOIN dmi_comm_charge charge ON charge.object_id = product.id AND charge.object_type = 'PRODUCT' AND flag_lastest = 1
    </select>
    <select id="getCampaignList" resultType="com.teekee.waterdropservice.entity.ret.dmi.DmiStoreCommProduct.CommListForChargeRet"
            parameterType="com.teekee.waterdropservice.entity.dto.dmi.DmiStoreCommProduct.CommListDto">
        SELECT
        campaign.update_time AS updateTime,
        campaign.id AS id,
        campaign.campaign_name AS name,
        companyBrand.brand_name AS companyBrand,
        store.store_name AS storeName,
        commBrand.brand_name AS communicationBrand,
        NULL AS commTypeCatalogNm,
        charge.charge_start_date AS chargeStartDate,
        campaign.flag_avaliable AS flagAvailable,
        campaign.status AS status,
        campaign.flag_info_confirm AS flagInfoConfirm,
        campaign.flag_vendor AS flagVendor,
        IFNULL(campaign.flag_charge_singal,0) AS flagChargeSingal,
        0 AS flagInsideCampaign,
        1 AS flagCampaign
        FROM (SELECT * FROM dmi_comm_product_marketing_campaign WHERE flag_deleted = 0 AND flag_charge_singal = 0 AND flag_vendor = 1
        <if test="catalogId != 0">
            AND id IN (SELECT marketing_campaign_id FROM dmi_store_comm_product WHERE flag_independent = 0 AND catalog_id IN (SELECT id FROM
            cfg_communication_type_catalog WHERE parent_id = #{catalogId,jdbcType=INTEGER} OR parent_id = (SELECT parent_id FROM cfg_communication_type_catalog
            WHERE id = #{catalogId,jdbcType=INTEGER} AND parent_id != 0) UNION
            SELECT parent_id
            FROM
            cfg_communication_type_catalog
            WHERE
            parent_id = #{catalogId,jdbcType=INTEGER} OR parent_id = (SELECT parent_id FROM cfg_communication_type_catalog WHERE id =
            #{catalogId,jdbcType=INTEGER} and parent_id != 0) ))
        </if>
        <if test="communicationBrandId != 0">
            AND brand_id = #{communicationBrandId,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="companyId != 0">
            AND company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="flagChargeSingal != null">
            AND flag_charge_singal = #{flagChargeSingal,jdbcType=BIT}
        </if>
        <if test="storeId != 0">
            AND store_id = #{storeId,jdbcType=INTEGER}
        </if>) campaign
        INNER JOIN (
        (SELECT * FROM dmi_store WHERE 1=1
        <if test="companyBrandId != 0">
            AND brand_id = #{companyBrandId,jdbcType=INTEGER}
        </if>) store LEFT JOIN dmi_brand companyBrand ON store.brand_id = companyBrand.id
        <if test="province != null">
            RIGHT
        </if>
        <if test="province == null">
            LEFT
        </if>
        JOIN (SELECT * FROM bif_building WHERE 1=1
        <if test="province != null">
            AND province = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city != null">
            AND city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="district != null">
            AND district = #{district,jdbcType=VARCHAR}
        </if>) building ON store.building_id = building.id
        ) ON campaign.store_id = store.id
        LEFT JOIN cfg_communication_brand commBrand ON commBrand.id = campaign.brand_id
        INNER JOIN dmi_comm_charge charge ON charge.object_id = campaign.id AND charge.object_type = 'CAMPAIGN' AND flag_lastest = 1
    </select>
    <select id="getCommList" resultType="com.teekee.waterdropservice.entity.ret.dmi.DmiStoreCommProduct.CommListForChargeRet"
            parameterType="com.teekee.waterdropservice.entity.dto.dmi.DmiStoreCommProduct.CommListDto">
        SELECT
        product.update_time AS updateTime,
        product.id AS id,
        product.product_description AS name,
        companyBrand.brand_name AS companyBrand,
        store.store_name AS storeName,
        commBrand.brand_name AS communicationBrand,
        catalogInfo.catalog_name AS commTypeCatalogNm,
        charge.charge_start_date AS chargeStartDate,
        product.flag_avaliable AS flagAvailable,
        product.status AS status,
        product.flag_info_confirm AS flagInfoConfirm,
        product.flag_vendor AS flagVendor,
        IFNULL(campaign.flag_charge_singal,0) AS flagChargeSingal,
        CASE product.flag_independent WHEN 1 THEN 0 ELSE 1 END AS flagInsideCampaign,
        0 AS flagCampaign
        FROM (SELECT * FROM dmi_store_comm_product WHERE flag_deleted = 0 AND flag_vendor = 1
        <if test="flagChargeSingal == null">
            AND id IN (SELECT id FROM dmi_store_comm_product WHERE flag_independent = 1 UNION SELECT a.id FROM dmi_store_comm_product a
            INNER JOIN dmi_comm_product_marketing_campaign b ON b.id = a.marketing_campaign_id
            AND a.flag_independent = 0 AND b.flag_charge_singal = 1)
        </if>
        <if test="flagChargeSingal == true">
            AND id IN (SELECT a.id FROM dmi_store_comm_product a
            INNER JOIN dmi_comm_product_marketing_campaign b ON b.id = a.marketing_campaign_id
            AND a.flag_independent = 0 AND b.flag_charge_singal = 1)
        </if>
        <if test="flagChargeSingal == false">
            AND id IN (SELECT id FROM dmi_store_comm_product WHERE flag_independent = 1)
        </if>
        <if test="communicationBrandId != 0">
            AND brand_id = #{communicationBrandId,jdbcType=INTEGER}
        </if>
        <if test="catalogId != 0">
            AND catalog_id IN (SELECT id FROM cfg_communication_type_catalog WHERE parent_id = #{catalogId,jdbcType=INTEGER} UNION SELECT id FROM
            cfg_communication_type_catalog WHERE id = #{catalogId,jdbcType=INTEGER})
        </if>
        <if test="status != null">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="companyId != 0">
            AND company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="storeId != 0">
            AND store_id = #{storeId,jdbcType=INTEGER}
        </if>) product
        INNER JOIN (
        (SELECT * FROM dmi_store WHERE 1=1
        <if test="companyBrandId != 0">
            AND brand_id = #{companyBrandId,jdbcType=INTEGER}
        </if>) store LEFT JOIN dmi_brand companyBrand ON store.brand_id = companyBrand.id
        <if test="province != null">
            RIGHT
        </if>
        <if test="province == null">
            LEFT
        </if>
        JOIN (SELECT * FROM bif_building WHERE 1=1
        <if test="province != null">
            AND province = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city != null">
            AND city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="district != null">
            AND district = #{district,jdbcType=VARCHAR}
        </if>) building ON store.building_id = building.id
        ) ON product.store_id = store.id
        LEFT JOIN dmi_comm_product_marketing_campaign campaign ON campaign.id = product.marketing_campaign_id
        LEFT JOIN cfg_communication_brand commBrand ON commBrand.id = product.brand_id
        LEFT JOIN cfg_communication_type_catalog catalogInfo ON catalogInfo.id = product.catalog_id
        INNER JOIN dmi_comm_charge charge ON charge.object_id = product.id AND charge.object_type = 'PRODUCT' AND flag_lastest = 1
        UNION
        SELECT
        campaign.update_time AS updateTime,
        campaign.id AS id,
        campaign.campaign_name AS name,
        companyBrand.brand_name AS companyBrand,
        store.store_name AS storeName,
        commBrand.brand_name AS communicationBrand,
        NULL AS commTypeCatalogNm,
        charge.charge_start_date AS chargeStartDate,
        campaign.flag_avaliable AS flagAvailable,
        campaign.status AS status,
        campaign.flag_info_confirm AS flagInfoConfirm,
        campaign.flag_vendor AS flagVendor,
        IFNULL(campaign.flag_charge_singal,0) AS flagChargeSingal,
        0 AS flagInsideCampaign,
        1 AS flagCampaign
        FROM (SELECT * FROM dmi_comm_product_marketing_campaign WHERE flag_deleted = 0 AND flag_charge_singal = 0 AND flag_vendor = 1
        <if test="catalogId != 0">
            AND id IN (SELECT marketing_campaign_id FROM dmi_store_comm_product WHERE flag_independent = 0 AND catalog_id IN (SELECT id FROM
            cfg_communication_type_catalog WHERE parent_id = #{catalogId,jdbcType=INTEGER} OR parent_id = (SELECT parent_id FROM cfg_communication_type_catalog
            WHERE id = #{catalogId,jdbcType=INTEGER} AND parent_id != 0) UNION
            SELECT parent_id
            FROM
            cfg_communication_type_catalog
            WHERE
            parent_id = #{catalogId,jdbcType=INTEGER} OR parent_id = (SELECT parent_id FROM cfg_communication_type_catalog WHERE id =
            #{catalogId,jdbcType=INTEGER} and parent_id != 0) ))
        </if>
        <if test="communicationBrandId != 0">
            AND brand_id = #{communicationBrandId,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="companyId != 0">
            AND company_id = #{companyId,jdbcType=INTEGER}
        </if>
        <if test="flagChargeSingal != null">
            AND flag_charge_singal = #{flagChargeSingal,jdbcType=BIT}
        </if>
        <if test="storeId != 0">
            AND store_id = #{storeId,jdbcType=INTEGER}
        </if>) campaign
        INNER JOIN (
        (SELECT * FROM dmi_store WHERE 1=1
        <if test="companyBrandId != 0">
            AND brand_id = #{companyBrandId,jdbcType=INTEGER}
        </if>) store LEFT JOIN dmi_brand companyBrand ON store.brand_id = companyBrand.id
        <if test="province != null">
            RIGHT
        </if>
        <if test="province == null">
            LEFT
        </if>
        JOIN (SELECT * FROM bif_building WHERE 1=1
        <if test="province != null">
            AND province = #{province,jdbcType=VARCHAR}
        </if>
        <if test="city != null">
            AND city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="district != null">
            AND district = #{district,jdbcType=VARCHAR}
        </if>) building ON store.building_id = building.id
        ) ON campaign.store_id = store.id
        LEFT JOIN cfg_communication_brand commBrand ON commBrand.id = campaign.brand_id
        INNER JOIN dmi_comm_charge charge ON charge.object_id = campaign.id AND charge.object_type = 'CAMPAIGN' AND flag_lastest = 1
    </select>
</mapper>