<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.fdp.FdpDispatchCompleteProfileLogMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.fdp.FdpDispatchCompleteProfileLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dispatch_order_id" property="dispatchOrderId" jdbcType="INTEGER" />
    <result column="fault_dispatch_request_id" property="faultDispatchRequestId" jdbcType="INTEGER" />
    <result column="user_complete_profile_file" property="userCompleteProfileFile" jdbcType="VARCHAR" />
    <result column="user_complete_profile_file_name" property="userCompleteProfileFileName" jdbcType="VARCHAR" />
    <result column="user_complete_profile_photo" property="userCompleteProfilePhoto" jdbcType="VARCHAR" />
    <result column="user_complete_profile_photo_name" property="userCompleteProfilePhotoName" jdbcType="VARCHAR" />
    <result column="user_complete_time" property="userCompleteTime" jdbcType="TIMESTAMP" />
    <result column="user_job_performance" property="userJobPerformance" jdbcType="VARCHAR" />
    <result column="user_job_end_reason" property="userJobEndReason" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dispatch_order_id, fault_dispatch_request_id, user_complete_profile_file, user_complete_profile_file_name, 
    user_complete_profile_photo, user_complete_profile_photo_name, user_complete_time, 
    user_job_performance, user_job_end_reason, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fdp_dispatch_complete_profile_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fdp_dispatch_complete_profile_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.waterdropservice.entity.fdp.FdpDispatchCompleteProfileLog" >
    insert into fdp_dispatch_complete_profile_log (id, dispatch_order_id, fault_dispatch_request_id, 
      user_complete_profile_file, user_complete_profile_file_name, 
      user_complete_profile_photo, user_complete_profile_photo_name, 
      user_complete_time, user_job_performance, 
      user_job_end_reason, create_time)
    values (#{id,jdbcType=INTEGER}, #{dispatchOrderId,jdbcType=INTEGER}, #{faultDispatchRequestId,jdbcType=INTEGER}, 
      #{userCompleteProfileFile,jdbcType=VARCHAR}, #{userCompleteProfileFileName,jdbcType=VARCHAR}, 
      #{userCompleteProfilePhoto,jdbcType=VARCHAR}, #{userCompleteProfilePhotoName,jdbcType=VARCHAR}, 
      #{userCompleteTime,jdbcType=TIMESTAMP}, #{userJobPerformance,jdbcType=VARCHAR}, 
      #{userJobEndReason,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.fdp.FdpDispatchCompleteProfileLog" >
    insert into fdp_dispatch_complete_profile_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dispatchOrderId != null" >
        dispatch_order_id,
      </if>
      <if test="faultDispatchRequestId != null" >
        fault_dispatch_request_id,
      </if>
      <if test="userCompleteProfileFile != null" >
        user_complete_profile_file,
      </if>
      <if test="userCompleteProfileFileName != null" >
        user_complete_profile_file_name,
      </if>
      <if test="userCompleteProfilePhoto != null" >
        user_complete_profile_photo,
      </if>
      <if test="userCompleteProfilePhotoName != null" >
        user_complete_profile_photo_name,
      </if>
      <if test="userCompleteTime != null" >
        user_complete_time,
      </if>
      <if test="userJobPerformance != null" >
        user_job_performance,
      </if>
      <if test="userJobEndReason != null" >
        user_job_end_reason,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="completeProfileUserType != null" >
        complete_profile_user_type,
      </if>
      <if test="completeProfileUserId != null" >
        complete_profile_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dispatchOrderId != null" >
        #{dispatchOrderId,jdbcType=INTEGER},
      </if>
      <if test="faultDispatchRequestId != null" >
        #{faultDispatchRequestId,jdbcType=INTEGER},
      </if>
      <if test="userCompleteProfileFile != null" >
        #{userCompleteProfileFile,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteProfileFileName != null" >
        #{userCompleteProfileFileName,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteProfilePhoto != null" >
        #{userCompleteProfilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteProfilePhotoName != null" >
        #{userCompleteProfilePhotoName,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteTime != null" >
        #{userCompleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userJobPerformance != null" >
        #{userJobPerformance,jdbcType=VARCHAR},
      </if>
      <if test="userJobEndReason != null" >
        #{userJobEndReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeProfileUserType != null" >
        #{completeProfileUserType,jdbcType=VARCHAR},
      </if>
      <if test="completeProfileUserId != null" >
        #{completeProfileUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.fdp.FdpDispatchCompleteProfileLog" >
    update fdp_dispatch_complete_profile_log
    <set >
      <if test="dispatchOrderId != null" >
        dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER},
      </if>
      <if test="faultDispatchRequestId != null" >
        fault_dispatch_request_id = #{faultDispatchRequestId,jdbcType=INTEGER},
      </if>
      <if test="userCompleteProfileFile != null" >
        user_complete_profile_file = #{userCompleteProfileFile,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteProfileFileName != null" >
        user_complete_profile_file_name = #{userCompleteProfileFileName,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteProfilePhoto != null" >
        user_complete_profile_photo = #{userCompleteProfilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteProfilePhotoName != null" >
        user_complete_profile_photo_name = #{userCompleteProfilePhotoName,jdbcType=VARCHAR},
      </if>
      <if test="userCompleteTime != null" >
        user_complete_time = #{userCompleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userJobPerformance != null" >
        user_job_performance = #{userJobPerformance,jdbcType=VARCHAR},
      </if>
      <if test="userJobEndReason != null" >
        user_job_end_reason = #{userJobEndReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.waterdropservice.entity.fdp.FdpDispatchCompleteProfileLog" >
    update fdp_dispatch_complete_profile_log
    set dispatch_order_id = #{dispatchOrderId,jdbcType=INTEGER},
      fault_dispatch_request_id = #{faultDispatchRequestId,jdbcType=INTEGER},
      user_complete_profile_file = #{userCompleteProfileFile,jdbcType=VARCHAR},
      user_complete_profile_file_name = #{userCompleteProfileFileName,jdbcType=VARCHAR},
      user_complete_profile_photo = #{userCompleteProfilePhoto,jdbcType=VARCHAR},
      user_complete_profile_photo_name = #{userCompleteProfilePhotoName,jdbcType=VARCHAR},
      user_complete_time = #{userCompleteTime,jdbcType=TIMESTAMP},
      user_job_performance = #{userJobPerformance,jdbcType=VARCHAR},
      user_job_end_reason = #{userJobEndReason,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByRequestId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
       <include refid="Base_Column_List" />
    FROM
        fdp_dispatch_complete_profile_log
    WHERE
      fault_dispatch_request_id = #{faultDispatchRequestId,jdbcType=INTEGER}
  </select>
  <select id="getProfileShow" parameterType="java.lang.Integer" resultType="com.teekee.waterdropservice.entity.fdp.GetFdpCompleteProfileLogShow">
    SELECT
        log.user_complete_profile_file userCompleteProfileFile,
        log.user_complete_profile_file_name userCompleteProfileFileName,
        log.user_complete_profile_photo userCompleteProfilePhoto,
        log.user_complete_profile_photo_name userCompleteProfilePhotoName,
        ffdhr.user_assm_memo userAssmMemoy
    FROM
        fdp_dispatch_complete_profile_log log
    LEFT JOIN (SELECT fault_dispatch_request_id,user_assm_memo FROM fdp_fault_dispatch_hr_relation WHERE flag_used = 1 AND flag_deleted = 0) ffdhr on log.fault_dispatch_request_id = ffdhr.fault_dispatch_request_id
    WHERE
        log.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>