<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.blueoceanservice.mapper.cfg.CfgDispatchWarningStatusMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.blueoceanservice.entity.cfg.CfgDispatchWarningStatus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="start_range" property="startRange" jdbcType="INTEGER" />
    <result column="end_range" property="endRange" jdbcType="INTEGER" />
    <result column="colour" property="colour" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, start_range, end_range, colour, create_time, create_person
  </sql>
  <select id="getCfgDispatchWarningStatus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cfg_dispatch_warning_status
    where start_range &lt;= #{workSchedule,jdbcType=INTEGER} and end_range &gt; #{workSchedule,jdbcType=INTEGER}
  </select>

</mapper>