<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.bif.BifDispatchHrAutonymValidMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.bif.BifDispatchHrAutonymValid" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="positive_image_url" property="positiveImageUrl" jdbcType="VARCHAR" />
    <result column="contrary_image_url" property="contraryImageUrl" jdbcType="VARCHAR" />
    <result column="handheld_image_url" property="handheldImageUrl" jdbcType="VARCHAR" />
    <result column="flag_last" property="flagLast" jdbcType="BIT" />
    <result column="flag_valid_status" property="flagValidStatus" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="valid_deny_reason_id" property="validDenyReasonId" jdbcType="INTEGER" />
    <result column="valid_deny_memo" property="validDenyMemo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, id_type, id_code, positive_image_url, contrary_image_url, 
    handheld_image_url, flag_last, flag_valid_status, create_time, deal_time, valid_deny_reason_id, 
    valid_deny_memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_autonym_valid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bif_dispatch_hr_autonym_valid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.waterdropservice.entity.bif.BifDispatchHrAutonymValid" >
    insert into bif_dispatch_hr_autonym_valid (id, user_id, user_name, 
      id_type, id_code, positive_image_url, 
      contrary_image_url, handheld_image_url, flag_last, 
      flag_valid_status, create_time, deal_time, 
      valid_deny_reason_id, valid_deny_memo)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{idType,jdbcType=VARCHAR}, #{idCode,jdbcType=VARCHAR}, #{positiveImageUrl,jdbcType=VARCHAR}, 
      #{contraryImageUrl,jdbcType=VARCHAR}, #{handheldImageUrl,jdbcType=VARCHAR}, #{flagLast,jdbcType=BIT}, 
      #{flagValidStatus,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{validDenyReasonId,jdbcType=INTEGER}, #{validDenyMemo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.bif.BifDispatchHrAutonymValid" >
    insert into bif_dispatch_hr_autonym_valid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="idCode != null" >
        id_code,
      </if>
      <if test="positiveImageUrl != null" >
        positive_image_url,
      </if>
      <if test="contraryImageUrl != null" >
        contrary_image_url,
      </if>
      <if test="handheldImageUrl != null" >
        handheld_image_url,
      </if>
      <if test="flagLast != null" >
        flag_last,
      </if>
      <if test="flagValidStatus != null" >
        flag_valid_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
      <if test="validDenyReasonId != null" >
        valid_deny_reason_id,
      </if>
      <if test="validDenyMemo != null" >
        valid_deny_memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="positiveImageUrl != null" >
        #{positiveImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="contraryImageUrl != null" >
        #{contraryImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="handheldImageUrl != null" >
        #{handheldImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="flagLast != null" >
        #{flagLast,jdbcType=BIT},
      </if>
      <if test="flagValidStatus != null" >
        #{flagValidStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validDenyReasonId != null" >
        #{validDenyReasonId,jdbcType=INTEGER},
      </if>
      <if test="validDenyMemo != null" >
        #{validDenyMemo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.bif.BifDispatchHrAutonymValid" >
    update bif_dispatch_hr_autonym_valid
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="positiveImageUrl != null" >
        positive_image_url = #{positiveImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="contraryImageUrl != null" >
        contrary_image_url = #{contraryImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="handheldImageUrl != null" >
        handheld_image_url = #{handheldImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="flagLast != null" >
        flag_last = #{flagLast,jdbcType=BIT},
      </if>
      <if test="flagValidStatus != null" >
        flag_valid_status = #{flagValidStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validDenyReasonId != null" >
        valid_deny_reason_id = #{validDenyReasonId,jdbcType=INTEGER},
      </if>
      <if test="validDenyMemo != null" >
        valid_deny_memo = #{validDenyMemo,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.waterdropservice.entity.bif.BifDispatchHrAutonymValid" >
    update bif_dispatch_hr_autonym_valid
    set user_id = #{userId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      id_code = #{idCode,jdbcType=VARCHAR},
      positive_image_url = #{positiveImageUrl,jdbcType=VARCHAR},
      contrary_image_url = #{contraryImageUrl,jdbcType=VARCHAR},
      handheld_image_url = #{handheldImageUrl,jdbcType=VARCHAR},
      flag_last = #{flagLast,jdbcType=BIT},
      flag_valid_status = #{flagValidStatus,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deal_time = #{dealTime,jdbcType=TIMESTAMP},
      valid_deny_reason_id = #{validDenyReasonId,jdbcType=INTEGER},
      valid_deny_memo = #{validDenyMemo,jdbcType=VARCHAR}
    where user_id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByHrId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        <include refid="Base_Column_List" />
    FROM
        bif_dispatch_hr_autonym_valid
    WHERE
        user_id = #{id,jdbcType=INTEGER}
    AND flag_last = 1
  </select>
</mapper>