<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.springboot.mapper.sysconsole.SysAnnouncementWechatMapper" >
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="main_pic_url" property="mainPicUrl" jdbcType="VARCHAR" />
    <result column="flag_published" property="flagPublished" jdbcType="BIT" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="flag_avaliable" property="flagAvaliable" jdbcType="BIT" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, main_pic_url, flag_published, publish_time, flag_deleted, flag_avaliable, 
    create_id, create_time, update_id, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultType="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" parameterType="java.lang.Integer" >
    SELECT
        wec.id,
        wec.title,
        wec.content,
        wec.main_pic_url AS mainPicUrl,
        wec.flag_published AS flagPublished,
        wec.publish_time AS publishTime,
        wec.flag_deleted AS flagDeleted,
        wec.flag_avaliable AS flagAvaliable,
        wec.create_time AS createTime,
        wec.update_time AS updateTime,
        sys.username AS createPerson,
        sys1.username AS updatePerson
    FROM
    sys_announcement_wechat AS wec
    LEFT JOIN sys_console_users AS sys ON sys.id = wec.create_id
    LEFT JOIN sys_console_users AS sys1 ON sys1.id = wec.update_id
    where wec.id = #{id,jdbcType=INTEGER}
    AND wec.flag_deleted = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_announcement_wechat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" >
    insert into sys_announcement_wechat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="mainPicUrl != null" >
        main_pic_url,
      </if>
      <if test="flagPublished != null" >
        flag_published,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="flagAvaliable != null" >
        flag_avaliable,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="mainPicUrl != null" >
        #{mainPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="flagPublished != null" >
        #{flagPublished,jdbcType=BIT},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvaliable != null" >
        #{flagAvaliable,jdbcType=BIT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" >
    update sys_announcement_wechat
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="mainPicUrl != null" >
        main_pic_url = #{mainPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="flagPublished != null" >
        flag_published = #{flagPublished,jdbcType=BIT},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvaliable != null" >
        flag_avaliable = #{flagAvaliable,jdbcType=BIT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" >
    update sys_announcement_wechat
    set title = #{title,jdbcType=VARCHAR},
      main_pic_url = #{mainPicUrl,jdbcType=VARCHAR},
      flag_published = #{flagPublished,jdbcType=BIT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      flag_avaliable = #{flagAvaliable,jdbcType=BIT},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat" >
    update sys_announcement_wechat
    set title = #{title,jdbcType=VARCHAR},
      main_pic_url = #{mainPicUrl,jdbcType=VARCHAR},
      flag_published = #{flagPublished,jdbcType=BIT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      flag_avaliable = #{flagAvaliable,jdbcType=BIT},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--查询微信公告list-->
  <select id="list" resultType="com.platform.springboot.entity.sysconsole.SysAnnouncementWechat">
      SELECT
        wec.id,
        wec.title,
        wec.content,
        wec.main_pic_url AS mainPicUrl,
        wec.flag_published AS flagPublished,
        wec.publish_time AS publishTime,
        wec.flag_deleted AS flagDeleted,
        wec.flag_avaliable AS flagAvaliable,
        wec.create_time AS createTime,
        wec.update_time AS updateTime,
        sys.username AS createPerson,
        sys1.username AS updatePerson
      FROM
      sys_announcement_wechat AS wec
      LEFT JOIN sys_console_users AS sys ON sys.id = wec.create_id
      LEFT JOIN sys_console_users AS sys1 ON sys1.id = wec.update_id
      WHERE   wec.flag_deleted = 0
      order by wec.update_time DESC
  </select>
</mapper>