<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.springboot.mapper.sysconsole.SysConsoleUsersMapper">
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.sysconsole.SysConsoleUsers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="head_portrait_url" jdbcType="VARCHAR" property="headPortraitUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="act_type" jdbcType="VARCHAR" property="actType" />
    <result column="act_Object_id" jdbcType="VARCHAR" property="actObjectId" />
    <result column="flag_open_status" jdbcType="BIT" property="flagOpenStatus" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="flag_available" jdbcType="BIT" property="flagAvailable" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname,real_name, password, username, head_portrait_url, create_time, update_time, flag_deleted,
    act_type, act_Object_id, flag_open_status, email, flag_available,mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_console_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_console_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleUsers">
    insert into sys_console_users (id, nickname,real_name, password,
      username, head_portrait_url, create_time, 
      update_time, flag_deleted, act_type, 
      act_Object_id, flag_open_status, email, 
      flag_available,mobile)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR},#{realName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{username,jdbcType=VARCHAR}, #{headPortraitUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{flagDeleted,jdbcType=BIT}, #{actType,jdbcType=VARCHAR}, 
      #{actObjectId,jdbcType=VARCHAR}, #{flagOpenStatus,jdbcType=BIT}, #{email,jdbcType=VARCHAR}, 
      #{flagAvailable,jdbcType=BIT},#{mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleUsers">
    insert into sys_console_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="actType != null">
        act_type,
      </if>
      <if test="actObjectId != null">
        act_Object_id,
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="flagAvailable != null">
        flag_available,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        #{actObjectId,jdbcType=VARCHAR},
      </if>
      <if test="flagOpenStatus != null">
        #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleUsers">
    update sys_console_users
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        act_type = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        act_Object_id = #{actObjectId,jdbcType=VARCHAR},
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status = #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--根据用户名查询用户信息-->
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_console_users
    where flag_available = 1
    and flag_deleted = 0
    and username = #{username,jdbcType=VARCHAR}
  </select>


  <!--分页账号列表-->
  <select id="findPage" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleUsers" resultType="com.platform.springboot.entity.sysconsole.SysConsoleUsers">
    select
    users.id, users.nickname,users.real_name realName, users.password, users.username,
    users.head_portrait_url headPortraitUrl, users.create_time createTime, users.update_time updateTime, users.flag_deleted flagDeleted,
    users.act_type actType, users.act_Object_id actObjectId, users.flag_open_status flagOpenStatus, users.email,
    users.flag_available flagAvailable,users.mobile,GROUP_CONCAT(role.role_name) roleName
    from sys_console_users users
    LEFT JOIN sys_console_user_role_relation relation ON relation.user_id=users.id
    LEFT JOIN sys_console_role role ON role.id=relation.role_id
    where users.flag_deleted = 0
    <if test="nickname != null">
      and LOCATE(#{nickname,jdbcType=VARCHAR}, users.nickname)>0
    </if>
    <if test="mobile != null">
      and LOCATE(#{mobile,jdbcType=VARCHAR}, users.mobile)>0
    </if>
    <if test="roleName != null">
      and LOCATE(#{roleName,jdbcType=VARCHAR}, role.role_name)>0
    </if>
    <if test="realName != null">
      and LOCATE(#{realName,jdbcType=VARCHAR}, users.real_name)>0
    </if>
    <if test="password != null">
      and users.password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
      and LOCATE(#{username,jdbcType=VARCHAR}, users.username)>0
    </if>
    <if test="headPortraitUrl != null">
      and users.head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      and (TO_DAYS(users.create_time)=TO_DAYS(#{createTime,jdbcType=TIMESTAMP}))=1
    </if>
    <if test="updateTime != null">
      and (TO_DAYS(users.update_time)=TO_DAYS(#{updateTime,jdbcType=TIMESTAMP}))=1
    </if>
    <if test="actType != null">
      and users.act_type = #{actType,jdbcType=VARCHAR}
    </if>
    <if test="actObjectId != null">
      and users.act_Object_id = #{actObjectId,jdbcType=VARCHAR}
    </if>
    <if test="flagOpenStatus != null">
      and users.flag_open_status = #{flagOpenStatus,jdbcType=BIT}
    </if>
    <if test="email != null">
      and LOCATE(#{email,jdbcType=VARCHAR}, users.email)>0
    </if>
    <if test="flagAvailable != null">
      and users.flag_available = #{flagAvailable,jdbcType=BIT}
    </if>
    GROUP BY users.id
    order by id desc
  </select>


  <!--查看接单路径配置关联用户-->
  <select id="selectByRouteCfg"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_console_users
    where id in

    <foreach collection="ids" item="id" index="index"
             open="(" close=")" separator=",">
      #{id}
    </foreach>

  </select>

  <!--查询有效用户列表-->
  <select id="findUserList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_console_users
    where flag_available = 1
    and flag_deleted = 0
  </select>

</mapper>