<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.springboot.mapper.sysconsole.SysConsoleRoleMapper">
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.sysconsole.SysConsoleRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_person" jdbcType="INTEGER" property="createPerson" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_person" jdbcType="INTEGER" property="updatePerson" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, create_time, create_person, update_time, update_person, flag_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_console_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_console_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleRole">
    insert into sys_console_role (id, role_name, create_time, 
      create_person, update_time, update_person, 
      flag_deleted)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createPerson,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=INTEGER}, 
      #{flagDeleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleRole">
    insert into sys_console_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
        create_time,
      <if test="createPerson != null">
        create_person,
      </if>
        update_time,
      <if test="updatePerson != null">
        update_person,
      </if>
        flag_deleted,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="createPerson != null">
        #{createPerson,jdbcType=INTEGER},
      </if>
        NOW(),
      <if test="updatePerson != null">
        #{updatePerson,jdbcType=INTEGER},
      </if>
        0,
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleRole">
    update sys_console_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null">
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
        update_time = NOW(),
      <if test="updatePerson != null">
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
        flag_deleted = 0,
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleRole">
    update sys_console_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=INTEGER},
      flag_deleted = #{flagDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--角色列表-->
  <select id="findPage" parameterType="com.platform.springboot.entity.sysconsole.SysConsoleRole" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_console_role
    where
    flag_deleted = 1
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="roleName != null">
      and LOCATE(#{roleName,jdbcType=VARCHAR}, role_name)>0
    </if>
    <if test="createTime != null">
      and (TO_DAYS(create_time)=TO_DAYS(#{createTime,jdbcType=TIMESTAMP}))=1
    </if>
    <if test="createPerson != null">
      and create_person = #{createPerson,jdbcType=INTEGER}
    </if>
    <if test="updateTime != null">
      and (TO_DAYS(update_time)=TO_DAYS(#{updateTime,jdbcType=TIMESTAMP}))=1
    </if>
    <if test="updatePerson != null">
      and update_person = #{updatePerson,jdbcType=INTEGER}
    </if>
  </select>

</mapper>