<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teekee.waterdropservice.mapper.sys.SysConsoleUsersMapper">
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.sys.SysConsoleUsers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="head_portrait_url" jdbcType="VARCHAR" property="headPortraitUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="act_type" jdbcType="VARCHAR" property="actType" />
    <result column="act_Object_id" jdbcType="VARCHAR" property="actObjectId" />
    <result column="flag_open_status" jdbcType="BIT" property="flagOpenStatus" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="flag_available" jdbcType="BIT" property="flagAvailable" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, password, username, head_portrait_url, create_time, update_time, flag_deleted,
    act_type, act_Object_id, flag_open_status, email, flag_available,real_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_console_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_console_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.sys.SysConsoleUsers">
    insert into sys_console_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="actType != null">
        act_type,
      </if>
      <if test="actObjectId != null">
        act_Object_id,
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="flagAvailable != null">
        flag_available,
      </if>
      <if test="realName != null">
        real_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        #{actObjectId,jdbcType=VARCHAR},
      </if>
      <if test="flagOpenStatus != null">
        #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.sys.SysConsoleUsers">
    update sys_console_users
    <set>
      <if test=" nickname!= null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        act_type = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        act_Object_id = #{actObjectId,jdbcType=VARCHAR},
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status = #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findPersonOpen" parameterType="com.teekee.waterdropservice.entity.fdp.FdpFaultOrderDispatchRequest" resultType="com.teekee.waterdropservice.entity.sys.SysConsoleUsers">

    SELECT id FROM sys_console_users WHERE FIND_IN_SET(id,
    (SELECT CONCAT(detail.emergency_person,",",detail.no_emergency_person)
    FROM cfg_dispatch_route route
    LEFT JOIN cfg_dispatch_route_detail detail ON route.id=detail.route_id
    WHERE detail.region=#{serviceCity}
    AND route.flag_take_status=1
    <if test="projectId != 0">
      AND route.project_id=#{projectId}
      AND route.flag_project=1
    </if>
    <if test="projectId == 0">
      AND route.flag_project=0
    </if>
    AND route.flag_default=0
    GROUP BY detail.region)
    ) AND flag_open_status=1

  </select>

</mapper>