<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teekee.waterdropservice.mapper.sys.SysCompanyUsersMapper">
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.sys.SysCompanyUsers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="head_portrait_url" jdbcType="VARCHAR" property="headPortraitUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag_deleted" jdbcType="BIT" property="flagDeleted" />
    <result column="act_type" jdbcType="VARCHAR" property="actType" />
    <result column="act_Object_id" jdbcType="INTEGER" property="actObjectId" />
    <result column="flag_open_status" jdbcType="BIT" property="flagOpenStatus" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="flag_available" jdbcType="BIT" property="flagAvailable" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, password, username, head_portrait_url, create_time, update_time, flag_deleted,
    act_type, act_Object_id, flag_open_status, email, flag_available,company_id,mobile,real_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_company_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_company_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers" keyProperty="id" useGeneratedKeys="true">
    insert into sys_company_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url,
      </if>
        create_time,
        update_time,
      <if test="flagDeleted != null">
        flag_deleted,
      </if>
      <if test="actType != null">
        act_type,
      </if>
      <if test="actObjectId != null">
        act_Object_id,
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="flagAvailable != null">
        flag_available,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="flagAdmin != null">
        flag_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW(),
      <if test="flagDeleted != null">
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        #{actObjectId,jdbcType=INTEGER},
      </if>
      <if test="flagOpenStatus != null">
        #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="flagAdmin != null">
        #{flagAdmin,jdbcType=BIT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers">
    update sys_company_users
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null">
        head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = NOW(),
      <if test="flagDeleted != null">
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="actType != null">
        act_type = #{actType,jdbcType=VARCHAR},
      </if>
      <if test="actObjectId != null">
        act_Object_id = #{actObjectId,jdbcType=INTEGER},
      </if>
      <if test="flagOpenStatus != null">
        flag_open_status = #{flagOpenStatus,jdbcType=BIT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null">
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--查询用户-->
  <select id="selectByUserName" parameterType="java.lang.String" resultType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers">
    select
    users.id, users.nickname, users.password, users.username, users.head_portrait_url headPortraitUrl,
    users.create_time createTime, users.update_time updateTime, users.flag_deleted flagDeleted,
    users.act_type actType, users.act_Object_id actObjectId, users.flag_open_status flagOpenStatus,
    users.email, users.flag_available flagAvailable,users.company_id companyId,users.mobile,users.real_name realName,

    CASE WHEN GROUP_CONCAT(relation.authorized_company_id) is NULL THEN
    users.company_id
    ELSE
    CONCAT(users.company_id,",",GROUP_CONCAT(relation.authorized_company_id))
    END relationCompanyIds,

    (SELECT version_id FROM sys_company_purchase_version WHERE flag_deleted=0 AND company_id =users.company_id) versionId

    from sys_company_users users
    LEFT JOIN sys_company_relation relation ON users.company_id=relation.empower_company_id
    where users.username = #{username,jdbcType=VARCHAR} and users.flag_deleted=0 and  users.flag_available=1
  </select>





  <select id="selectAll" parameterType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_company_users
    where flag_deleted = 0
    <if test="nickname != null">
      and LOCATE(#{nickname,jdbcType=VARCHAR}, nickname)>0
    </if>
    <if test="password != null">
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
      and LOCATE(#{username,jdbcType=VARCHAR}, username)>0
    </if>
    <if test="headPortraitUrl != null">
      and head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
      and (TO_DAYS(create_time)=TO_DAYS(#{createTime,jdbcType=TIMESTAMP}))=1
    </if>
    <if test="updateTime != null">
      and (TO_DAYS(update_time)=TO_DAYS(#{updateTime,jdbcType=TIMESTAMP}))=1
    </if>
    <if test="actType != null">
      and act_type = #{actType,jdbcType=VARCHAR}
    </if>
    <if test="actObjectId != null">
      and act_Object_id = #{actObjectId,jdbcType=INTEGER}
    </if>
    <if test="flagOpenStatus != null">
      and flag_open_status = #{flagOpenStatus,jdbcType=BIT}
    </if>
    <if test="email != null">
      and LOCATE(#{email,jdbcType=VARCHAR}, email)>0
    </if>
    <if test="flagAvailable != null">
      and flag_available = #{flagAvailable,jdbcType=BIT}
    </if>
    <if test="companyId != null">
      and company_id = #{companyId,jdbcType=INTEGER}
    </if>
    <if test="mobile != null">
      and LOCATE(#{mobile,jdbcType=VARCHAR}, mobile)>0
    </if>
    <if test="realName != null">
      and LOCATE(#{realName,jdbcType=VARCHAR}, real_name)>0
    </if>
    order by id desc
  </select>

  <!--分页查询-->
  <select id="findPage" parameterType="java.lang.String" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from sys_company_users
    where flag_deleted = 0
    <if test="companyId != null">
      and company_id = #{companyId,jdbcType=INTEGER}
    </if>
    and find_in_set(company_id,#{relationCompanyIds,jdbcType=VARCHAR})
  </select>

  <select id="selectVendorIdByCreatePersonId" parameterType="java.lang.Integer" resultType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers">

    select act_Object_id actObjectId,
    act_type actType
    from
    sys_company_users
    where id = #{createPerson,jdbcType=INTEGER}


  </select>

  <!--自营公司人员-->
  <select id="findPersonOpen" parameterType="com.teekee.waterdropservice.entity.fdp.FdpFaultOrderDispatchRequest" resultType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers">

    SELECT users.id FROM sys_company_users users WHERE FIND_IN_SET(users.id,
    (SELECT CONCAT(detail.emergency_person,",",detail.no_emergency_person)
    FROM cfg_dispatch_route route
    LEFT JOIN cfg_dispatch_route_detail detail ON route.id=detail.route_id
    WHERE detail.region=#{serviceCity}
    AND route.flag_take_status=1
    <if test="projectId != 0">
      AND route.project_id=#{projectId}
      AND route.flag_project=1
    </if>
    <if test="projectId == 0">
      AND route.flag_project=0
    </if>
    AND route.flag_default=0
    GROUP BY detail.region)
    )
    LEFT JOIN dmi_company_info company ON users.company_id=company.id
    AND users.flag_deleted = 0 AND company.flag_deleted=0
    AND users.flag_open_status=1 AND company.company_type = 'PLATFORM'

  </select>

  <select id="selectVendorName" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT  vendor_name
    FROM  dmi_intergration_vendors
    where id = #{vendorId,jdbcType=INTEGER}


  </select>

  <select id="selectApplyUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
    u.id,
    u.username,
    u.nickname,
    u.real_name realName
    FROM
    sys_company_users u
    where u.company_id=#{companyId,jdbcType=INTEGER} and u.flag_deleted=0
  </select>


  <!--获取公司超级管理员账号-->
  <select id="selectByAdmin" resultType="com.teekee.waterdropservice.entity.sys.response.SysCompanyUsersAdminRes" parameterType="java.lang.Integer">
    SELECT users.id,relation.role_id roleId FROM sys_company_users users
    LEFT JOIN sys_company_user_role_relation relation ON users.id=relation.user_id
    WHERE users.flag_deleted=0 AND relation.flag_deleted=0 AND users.flag_admin=1
    AND users.company_id=#{companyId,jdbcType=INTEGER}
  </select>


  <!--根据公司类型获取对应用户-->
  <select id="selectByCompanyType" parameterType="java.lang.String" resultType="com.teekee.waterdropservice.entity.sys.SysCompanyUsers">
    SELECT
    users.id, users.nickname, users.username, users.head_portrait_url, users.create_time,
    users.update_time, users.flag_deleted,
    users.act_type, users.act_Object_id, users.flag_open_status, users.email,
    users.flag_available,users.company_id,users.mobile,users.real_name
 FROM sys_company_users users
LEFT JOIN dmi_company_info company ON users.company_id=company.id
WHERE users.flag_deleted = 0 AND company.flag_deleted=0
AND company.company_type = #{companyType,jdbcType=VARCHAR}
  </select>



  <!--查看接单路径配置关联用户-->
  <select id="selectByRouteCfg"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_company_users
    where id in

    <foreach collection="ids" item="id" index="index"
             open="(" close=")" separator=",">
      #{id}
    </foreach>

  </select>

</mapper>