<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.blackrockservice.mapper.bif.BifDispatchHumanResourceMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="head_portrait_url" property="headPortraitUrl" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="default_nation" property="defaultNation" jdbcType="VARCHAR" />
    <result column="default_provice" property="defaultProvice" jdbcType="VARCHAR" />
    <result column="default_city" property="defaultCity" jdbcType="VARCHAR" />
    <result column="default_district" property="defaultDistrict" jdbcType="VARCHAR" />
    <result column="dispatch_count" property="dispatchCount" jdbcType="INTEGER" />
    <result column="dispatch_successful_count" property="dispatchSuccessfulCount" jdbcType="INTEGER" />
    <result column="dispatch_avg_fee" property="dispatchAvgFee" jdbcType="DECIMAL" />
    <result column="dispatch_total_fee" property="dispatchTotalFee" jdbcType="DECIMAL" />
    <result column="dispatch_max_fee" property="dispatchMaxFee" jdbcType="DECIMAL" />
    <result column="id_type" property="idType" jdbcType="VARCHAR" />
    <result column="id_code" property="idCode" jdbcType="VARCHAR" />
    <result column="belong_company" property="belongCompany" jdbcType="VARCHAR" />
    <result column="belong_company_bussiness_license_code" property="belongCompanyBussinessLicenseCode" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="flag_provide_invoice" property="flagProvideInvoice" jdbcType="BIT" />
    <result column="provide_invoice_type" property="provideInvoiceType" jdbcType="VARCHAR" />
    <result column="provide_invoice_rate" property="provideInvoiceRate" jdbcType="DECIMAL" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="flag_available" property="flagAvailable" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="INTEGER" />
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="valid_apply_time" property="validApplyTime" jdbcType="TIMESTAMP" />
    <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    <result column="user_update_time" property="userUpdateTime" jdbcType="TIMESTAMP" />
    <result column="user_assessment_count" property="userAssessmentCount" jdbcType="INTEGER" />
    <result column="contact_assessment_count" property="contactAssessmentCount" jdbcType="INTEGER" />
    <result column="client_assessment_count" property="clientAssessmentCount" jdbcType="INTEGER" />
    <result column="user_assm_achieve_total_point" property="userAssmAchieveTotalPoint" jdbcType="INTEGER" />
    <result column="user_assm_communication_total_point" property="userAssmCommunicationTotalPoint" jdbcType="INTEGER" />
    <result column="user_assm_timely_total_point" property="userAssmTimelyTotalPoint" jdbcType="INTEGER" />
    <result column="user_assm_achieve_avg_point" property="userAssmAchieveAvgPoint" jdbcType="DECIMAL" />
    <result column="user_assm_communication_avg_point" property="userAssmCommunicationAvgPoint" jdbcType="DECIMAL" />
    <result column="user_assm_timely_avg_point" property="userAssmTimelyAvgPoint" jdbcType="DECIMAL" />
    <result column="user_evaluate_point" property="userEvaluatePoint" jdbcType="DECIMAL" />
    <result column="client_assm_achieve_total_point" property="clientAssmAchieveTotalPoint" jdbcType="INTEGER" />
    <result column="client_assm_communication_total_point" property="clientAssmCommunicationTotalPoint" jdbcType="INTEGER" />
    <result column="client_assm_timely_total_point" property="clientAssmTimelyTotalPoint" jdbcType="INTEGER" />
    <result column="client_assm_achieve_avg_point" property="clientAssmAchieveAvgPoint" jdbcType="DECIMAL" />
    <result column="client_assm_communication_avg_point" property="clientAssmCommunicationAvgPoint" jdbcType="DECIMAL" />
    <result column="client_assm_timely_avg_point" property="clientAssmTimelyAvgPoint" jdbcType="DECIMAL" />
    <result column="contact_assm_total_point" property="contactAssmTotalPoint" jdbcType="DECIMAL" />
    <result column="contact_assm_avg_point" property="contactAssmAvgPoint" jdbcType="INTEGER" />
    <result column="valid_status" property="validStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, password, nickname, first_name, last_name, head_portrait_url, sex, mobile,
    default_nation, default_provice, default_city, default_district, dispatch_count,
    dispatch_successful_count, dispatch_avg_fee, dispatch_total_fee, dispatch_max_fee,
    id_type, id_code, belong_company, belong_company_bussiness_license_code, email, wechat,
    qq, flag_provide_invoice, provide_invoice_type, provide_invoice_rate, memo, flag_deleted,
    flag_available, create_time, create_person, update_time, update_person, register_time,
    valid_apply_time, valid_time, user_update_time, user_assessment_count, contact_assessment_count,
    client_assessment_count, user_assm_achieve_total_point, user_assm_communication_total_point,
    user_assm_timely_total_point, user_assm_achieve_avg_point, user_assm_communication_avg_point,
    user_assm_timely_avg_point, user_evaluate_point, client_assm_achieve_total_point,
    client_assm_communication_total_point, client_assm_timely_total_point, client_assm_achieve_avg_point,
    client_assm_communication_avg_point, client_assm_timely_avg_point, contact_assm_total_point,
    contact_assm_avg_point, valid_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from bif_dispatch_human_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bif_dispatch_human_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource" >
    insert into bif_dispatch_human_resource (id, account, password,
    nickname, first_name, last_name,
    head_portrait_url, sex, mobile,
    default_nation, default_provice, default_city,
    default_district, dispatch_count, dispatch_successful_count,
    dispatch_avg_fee, dispatch_total_fee, dispatch_max_fee,
    id_type, id_code, belong_company,
    belong_company_bussiness_license_code, email,
    wechat, qq, flag_provide_invoice,
    provide_invoice_type, provide_invoice_rate,
    memo, flag_deleted, flag_available,
    create_time, create_person, update_time,
    update_person, register_time, valid_apply_time,
    valid_time, user_update_time, user_assessment_count,
    contact_assessment_count, client_assessment_count,
    user_assm_achieve_total_point, user_assm_communication_total_point,
    user_assm_timely_total_point, user_assm_achieve_avg_point,
    user_assm_communication_avg_point, user_assm_timely_avg_point,
    user_evaluate_point, client_assm_achieve_total_point,
    client_assm_communication_total_point, client_assm_timely_total_point,
    client_assm_achieve_avg_point, client_assm_communication_avg_point,
    client_assm_timely_avg_point, contact_assm_total_point,
    contact_assm_avg_point, valid_status)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{nickname,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR},
    #{headPortraitUrl,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
    #{defaultNation,jdbcType=VARCHAR}, #{defaultProvice,jdbcType=VARCHAR}, #{defaultCity,jdbcType=VARCHAR},
    #{defaultDistrict,jdbcType=VARCHAR}, #{dispatchCount,jdbcType=INTEGER}, #{dispatchSuccessfulCount,jdbcType=INTEGER},
    #{dispatchAvgFee,jdbcType=DECIMAL}, #{dispatchTotalFee,jdbcType=DECIMAL}, #{dispatchMaxFee,jdbcType=DECIMAL},
    #{idType,jdbcType=VARCHAR}, #{idCode,jdbcType=VARCHAR}, #{belongCompany,jdbcType=VARCHAR},
    #{belongCompanyBussinessLicenseCode,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
    #{wechat,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{flagProvideInvoice,jdbcType=BIT},
    #{provideInvoiceType,jdbcType=VARCHAR}, #{provideInvoiceRate,jdbcType=DECIMAL},
    #{memo,jdbcType=VARCHAR}, #{flagDeleted,jdbcType=BIT}, #{flagAvailable,jdbcType=BIT},
    #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
    #{updatePerson,jdbcType=INTEGER}, #{registerTime,jdbcType=TIMESTAMP}, #{validApplyTime,jdbcType=TIMESTAMP},
    #{validTime,jdbcType=TIMESTAMP}, #{userUpdateTime,jdbcType=TIMESTAMP}, #{userAssessmentCount,jdbcType=INTEGER},
    #{contactAssessmentCount,jdbcType=INTEGER}, #{clientAssessmentCount,jdbcType=INTEGER},
    #{userAssmAchieveTotalPoint,jdbcType=INTEGER}, #{userAssmCommunicationTotalPoint,jdbcType=INTEGER},
    #{userAssmTimelyTotalPoint,jdbcType=INTEGER}, #{userAssmAchieveAvgPoint,jdbcType=DECIMAL},
    #{userAssmCommunicationAvgPoint,jdbcType=DECIMAL}, #{userAssmTimelyAvgPoint,jdbcType=DECIMAL},
    #{userEvaluatePoint,jdbcType=DECIMAL}, #{clientAssmAchieveTotalPoint,jdbcType=INTEGER},
    #{clientAssmCommunicationTotalPoint,jdbcType=INTEGER}, #{clientAssmTimelyTotalPoint,jdbcType=INTEGER},
    #{clientAssmAchieveAvgPoint,jdbcType=DECIMAL}, #{clientAssmCommunicationAvgPoint,jdbcType=DECIMAL},
    #{clientAssmTimelyAvgPoint,jdbcType=DECIMAL}, #{contactAssmTotalPoint,jdbcType=DECIMAL},
    #{contactAssmAvgPoint,jdbcType=INTEGER}, #{validStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into bif_dispatch_human_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="firstName != null" >
        first_name,
      </if>
      <if test="lastName != null" >
        last_name,
      </if>
      <if test="headPortraitUrl != null" >
        head_portrait_url,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="defaultNation != null" >
        default_nation,
      </if>
      <if test="defaultProvice != null" >
        default_provice,
      </if>
      <if test="defaultCity != null" >
        default_city,
      </if>
      <if test="defaultDistrict != null" >
        default_district,
      </if>
      <if test="dispatchCount != null" >
        dispatch_count,
      </if>
      <if test="dispatchSuccessfulCount != null" >
        dispatch_successful_count,
      </if>
      <if test="dispatchAvgFee != null" >
        dispatch_avg_fee,
      </if>
      <if test="dispatchTotalFee != null" >
        dispatch_total_fee,
      </if>
      <if test="dispatchMaxFee != null" >
        dispatch_max_fee,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="idCode != null" >
        id_code,
      </if>
      <if test="belongCompany != null" >
        belong_company,
      </if>
      <if test="belongCompanyBussinessLicenseCode != null" >
        belong_company_bussiness_license_code,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="flagProvideInvoice != null" >
        flag_provide_invoice,
      </if>
      <if test="provideInvoiceType != null" >
        provide_invoice_type,
      </if>
      <if test="provideInvoiceRate != null" >
        provide_invoice_rate,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="flagAvailable != null" >
        flag_available,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatePerson != null" >
        update_person,
      </if>
      <if test="registerTime != null" >
        register_time,
      </if>
      <if test="validApplyTime != null" >
        valid_apply_time,
      </if>
      <if test="validTime != null" >
        valid_time,
      </if>
      <if test="userUpdateTime != null" >
        user_update_time,
      </if>
      <if test="userAssessmentCount != null" >
        user_assessment_count,
      </if>
      <if test="contactAssessmentCount != null" >
        contact_assessment_count,
      </if>
      <if test="clientAssessmentCount != null" >
        client_assessment_count,
      </if>
      <if test="userAssmAchieveTotalPoint != null" >
        user_assm_achieve_total_point,
      </if>
      <if test="userAssmCommunicationTotalPoint != null" >
        user_assm_communication_total_point,
      </if>
      <if test="userAssmTimelyTotalPoint != null" >
        user_assm_timely_total_point,
      </if>
      <if test="userAssmAchieveAvgPoint != null" >
        user_assm_achieve_avg_point,
      </if>
      <if test="userAssmCommunicationAvgPoint != null" >
        user_assm_communication_avg_point,
      </if>
      <if test="userAssmTimelyAvgPoint != null" >
        user_assm_timely_avg_point,
      </if>
      <if test="userEvaluatePoint != null" >
        user_evaluate_point,
      </if>
      <if test="clientAssmAchieveTotalPoint != null" >
        client_assm_achieve_total_point,
      </if>
      <if test="clientAssmCommunicationTotalPoint != null" >
        client_assm_communication_total_point,
      </if>
      <if test="clientAssmTimelyTotalPoint != null" >
        client_assm_timely_total_point,
      </if>
      <if test="clientAssmAchieveAvgPoint != null" >
        client_assm_achieve_avg_point,
      </if>
      <if test="clientAssmCommunicationAvgPoint != null" >
        client_assm_communication_avg_point,
      </if>
      <if test="clientAssmTimelyAvgPoint != null" >
        client_assm_timely_avg_point,
      </if>
      <if test="contactAssmTotalPoint != null" >
        contact_assm_total_point,
      </if>
      <if test="contactAssmAvgPoint != null" >
        contact_assm_avg_point,
      </if>
      <if test="validStatus != null" >
        valid_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null" >
        #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="defaultNation != null" >
        #{defaultNation,jdbcType=VARCHAR},
      </if>
      <if test="defaultProvice != null" >
        #{defaultProvice,jdbcType=VARCHAR},
      </if>
      <if test="defaultCity != null" >
        #{defaultCity,jdbcType=VARCHAR},
      </if>
      <if test="defaultDistrict != null" >
        #{defaultDistrict,jdbcType=VARCHAR},
      </if>
      <if test="dispatchCount != null" >
        #{dispatchCount,jdbcType=INTEGER},
      </if>
      <if test="dispatchSuccessfulCount != null" >
        #{dispatchSuccessfulCount,jdbcType=INTEGER},
      </if>
      <if test="dispatchAvgFee != null" >
        #{dispatchAvgFee,jdbcType=DECIMAL},
      </if>
      <if test="dispatchTotalFee != null" >
        #{dispatchTotalFee,jdbcType=DECIMAL},
      </if>
      <if test="dispatchMaxFee != null" >
        #{dispatchMaxFee,jdbcType=DECIMAL},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="belongCompany != null" >
        #{belongCompany,jdbcType=VARCHAR},
      </if>
      <if test="belongCompanyBussinessLicenseCode != null" >
        #{belongCompanyBussinessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="flagProvideInvoice != null" >
        #{flagProvideInvoice,jdbcType=BIT},
      </if>
      <if test="provideInvoiceType != null" >
        #{provideInvoiceType,jdbcType=VARCHAR},
      </if>
      <if test="provideInvoiceRate != null" >
        #{provideInvoiceRate,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvailable != null" >
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validApplyTime != null" >
        #{validApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null" >
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null" >
        #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAssessmentCount != null" >
        #{userAssessmentCount,jdbcType=INTEGER},
      </if>
      <if test="contactAssessmentCount != null" >
        #{contactAssessmentCount,jdbcType=INTEGER},
      </if>
      <if test="clientAssessmentCount != null" >
        #{clientAssessmentCount,jdbcType=INTEGER},
      </if>
      <if test="userAssmAchieveTotalPoint != null" >
        #{userAssmAchieveTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="userAssmCommunicationTotalPoint != null" >
        #{userAssmCommunicationTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="userAssmTimelyTotalPoint != null" >
        #{userAssmTimelyTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="userAssmAchieveAvgPoint != null" >
        #{userAssmAchieveAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="userAssmCommunicationAvgPoint != null" >
        #{userAssmCommunicationAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="userAssmTimelyAvgPoint != null" >
        #{userAssmTimelyAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="userEvaluatePoint != null" >
        #{userEvaluatePoint,jdbcType=DECIMAL},
      </if>
      <if test="clientAssmAchieveTotalPoint != null" >
        #{clientAssmAchieveTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="clientAssmCommunicationTotalPoint != null" >
        #{clientAssmCommunicationTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="clientAssmTimelyTotalPoint != null" >
        #{clientAssmTimelyTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="clientAssmAchieveAvgPoint != null" >
        #{clientAssmAchieveAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="clientAssmCommunicationAvgPoint != null" >
        #{clientAssmCommunicationAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="clientAssmTimelyAvgPoint != null" >
        #{clientAssmTimelyAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="contactAssmTotalPoint != null" >
        #{contactAssmTotalPoint,jdbcType=DECIMAL},
      </if>
      <if test="contactAssmAvgPoint != null" >
        #{contactAssmAvgPoint,jdbcType=INTEGER},
      </if>
      <if test="validStatus != null" >
        #{validStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource" >
    update bif_dispatch_human_resource
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null" >
        head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="defaultNation != null" >
        default_nation = #{defaultNation,jdbcType=VARCHAR},
      </if>
      <if test="defaultProvice != null" >
        default_provice = #{defaultProvice,jdbcType=VARCHAR},
      </if>
      <if test="defaultCity != null" >
        default_city = #{defaultCity,jdbcType=VARCHAR},
      </if>
      <if test="defaultDistrict != null" >
        default_district = #{defaultDistrict,jdbcType=VARCHAR},
      </if>
      <if test="dispatchCount != null" >
        dispatch_count = #{dispatchCount,jdbcType=INTEGER},
      </if>
      <if test="dispatchSuccessfulCount != null" >
        dispatch_successful_count = #{dispatchSuccessfulCount,jdbcType=INTEGER},
      </if>
      <if test="dispatchAvgFee != null" >
        dispatch_avg_fee = #{dispatchAvgFee,jdbcType=DECIMAL},
      </if>
      <if test="dispatchTotalFee != null" >
        dispatch_total_fee = #{dispatchTotalFee,jdbcType=DECIMAL},
      </if>
      <if test="dispatchMaxFee != null" >
        dispatch_max_fee = #{dispatchMaxFee,jdbcType=DECIMAL},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idCode != null" >
        id_code = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="belongCompany != null" >
        belong_company = #{belongCompany,jdbcType=VARCHAR},
      </if>
      <if test="belongCompanyBussinessLicenseCode != null" >
        belong_company_bussiness_license_code = #{belongCompanyBussinessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="flagProvideInvoice != null" >
        flag_provide_invoice = #{flagProvideInvoice,jdbcType=BIT},
      </if>
      <if test="provideInvoiceType != null" >
        provide_invoice_type = #{provideInvoiceType,jdbcType=VARCHAR},
      </if>
      <if test="provideInvoiceRate != null" >
        provide_invoice_rate = #{provideInvoiceRate,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="flagAvailable != null" >
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatePerson != null" >
        update_person = #{updatePerson,jdbcType=INTEGER},
      </if>
      <if test="registerTime != null" >
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validApplyTime != null" >
        valid_apply_time = #{validApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null" >
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUpdateTime != null" >
        user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAssessmentCount != null" >
        user_assessment_count = #{userAssessmentCount,jdbcType=INTEGER},
      </if>
      <if test="contactAssessmentCount != null" >
        contact_assessment_count = #{contactAssessmentCount,jdbcType=INTEGER},
      </if>
      <if test="clientAssessmentCount != null" >
        client_assessment_count = #{clientAssessmentCount,jdbcType=INTEGER},
      </if>
      <if test="userAssmAchieveTotalPoint != null" >
        user_assm_achieve_total_point = #{userAssmAchieveTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="userAssmCommunicationTotalPoint != null" >
        user_assm_communication_total_point = #{userAssmCommunicationTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="userAssmTimelyTotalPoint != null" >
        user_assm_timely_total_point = #{userAssmTimelyTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="userAssmAchieveAvgPoint != null" >
        user_assm_achieve_avg_point = #{userAssmAchieveAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="userAssmCommunicationAvgPoint != null" >
        user_assm_communication_avg_point = #{userAssmCommunicationAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="userAssmTimelyAvgPoint != null" >
        user_assm_timely_avg_point = #{userAssmTimelyAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="userEvaluatePoint != null" >
        user_evaluate_point = #{userEvaluatePoint,jdbcType=DECIMAL},
      </if>
      <if test="clientAssmAchieveTotalPoint != null" >
        client_assm_achieve_total_point = #{clientAssmAchieveTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="clientAssmCommunicationTotalPoint != null" >
        client_assm_communication_total_point = #{clientAssmCommunicationTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="clientAssmTimelyTotalPoint != null" >
        client_assm_timely_total_point = #{clientAssmTimelyTotalPoint,jdbcType=INTEGER},
      </if>
      <if test="clientAssmAchieveAvgPoint != null" >
        client_assm_achieve_avg_point = #{clientAssmAchieveAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="clientAssmCommunicationAvgPoint != null" >
        client_assm_communication_avg_point = #{clientAssmCommunicationAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="clientAssmTimelyAvgPoint != null" >
        client_assm_timely_avg_point = #{clientAssmTimelyAvgPoint,jdbcType=DECIMAL},
      </if>
      <if test="contactAssmTotalPoint != null" >
        contact_assm_total_point = #{contactAssmTotalPoint,jdbcType=DECIMAL},
      </if>
      <if test="contactAssmAvgPoint != null" >
        contact_assm_avg_point = #{contactAssmAvgPoint,jdbcType=INTEGER},
      </if>
      <if test="validStatus != null" >
        valid_status = #{validStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource" >
    update bif_dispatch_human_resource
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      default_nation = #{defaultNation,jdbcType=VARCHAR},
      default_provice = #{defaultProvice,jdbcType=VARCHAR},
      default_city = #{defaultCity,jdbcType=VARCHAR},
      default_district = #{defaultDistrict,jdbcType=VARCHAR},
      dispatch_count = #{dispatchCount,jdbcType=INTEGER},
      dispatch_successful_count = #{dispatchSuccessfulCount,jdbcType=INTEGER},
      dispatch_avg_fee = #{dispatchAvgFee,jdbcType=DECIMAL},
      dispatch_total_fee = #{dispatchTotalFee,jdbcType=DECIMAL},
      dispatch_max_fee = #{dispatchMaxFee,jdbcType=DECIMAL},
      id_type = #{idType,jdbcType=VARCHAR},
      id_code = #{idCode,jdbcType=VARCHAR},
      belong_company = #{belongCompany,jdbcType=VARCHAR},
      belong_company_bussiness_license_code = #{belongCompanyBussinessLicenseCode,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      flag_provide_invoice = #{flagProvideInvoice,jdbcType=BIT},
      provide_invoice_type = #{provideInvoiceType,jdbcType=VARCHAR},
      provide_invoice_rate = #{provideInvoiceRate,jdbcType=DECIMAL},
      memo = #{memo,jdbcType=VARCHAR},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      flag_available = #{flagAvailable,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      valid_apply_time = #{validApplyTime,jdbcType=TIMESTAMP},
      valid_time = #{validTime,jdbcType=TIMESTAMP},
      user_update_time = #{userUpdateTime,jdbcType=TIMESTAMP},
      user_assessment_count = #{userAssessmentCount,jdbcType=INTEGER},
      contact_assessment_count = #{contactAssessmentCount,jdbcType=INTEGER},
      client_assessment_count = #{clientAssessmentCount,jdbcType=INTEGER},
      user_assm_achieve_total_point = #{userAssmAchieveTotalPoint,jdbcType=INTEGER},
      user_assm_communication_total_point = #{userAssmCommunicationTotalPoint,jdbcType=INTEGER},
      user_assm_timely_total_point = #{userAssmTimelyTotalPoint,jdbcType=INTEGER},
      user_assm_achieve_avg_point = #{userAssmAchieveAvgPoint,jdbcType=DECIMAL},
      user_assm_communication_avg_point = #{userAssmCommunicationAvgPoint,jdbcType=DECIMAL},
      user_assm_timely_avg_point = #{userAssmTimelyAvgPoint,jdbcType=DECIMAL},
      user_evaluate_point = #{userEvaluatePoint,jdbcType=DECIMAL},
      client_assm_achieve_total_point = #{clientAssmAchieveTotalPoint,jdbcType=INTEGER},
      client_assm_communication_total_point = #{clientAssmCommunicationTotalPoint,jdbcType=INTEGER},
      client_assm_timely_total_point = #{clientAssmTimelyTotalPoint,jdbcType=INTEGER},
      client_assm_achieve_avg_point = #{clientAssmAchieveAvgPoint,jdbcType=DECIMAL},
      client_assm_communication_avg_point = #{clientAssmCommunicationAvgPoint,jdbcType=DECIMAL},
      client_assm_timely_avg_point = #{clientAssmTimelyAvgPoint,jdbcType=DECIMAL},
      contact_assm_total_point = #{contactAssmTotalPoint,jdbcType=DECIMAL},
      contact_assm_avg_point = #{contactAssmAvgPoint,jdbcType=INTEGER},
      valid_status = #{validStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--服务商账号密码登录-->
  <select id="serviceLogin" parameterType="com.teekee.blackrockservice.entity.bif.HumanResourceLoginParam" resultType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource">
      SELECT
          id,
          valid_status AS validStatus,
          flag_available AS flagAvailable
      FROM
          bif_dispatch_human_resource
      WHERE
          account = #{account,jdbcType=VARCHAR}
          AND `password` = #{password,jdbcType=VARCHAR}
          AND flag_deleted = 0
  </select>
  <!--手机号是否注册-->
  <select id="selectByAccount" parameterType="java.lang.String" resultType="java.lang.Boolean">
      SELECT COUNT(id)
      FROM bif_dispatch_human_resource
      WHERE account = #{account,jdbcType=VARCHAR}
             AND flag_deleted = 0
  </select>

  <!--手机号状态-->
  <select id="selectStateByAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List" />
      FROM bif_dispatch_human_resource
      WHERE account = #{account,jdbcType=VARCHAR}
             AND flag_deleted = 0
  </select>

  <select id="selectServiceInfoById" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResourceInfoShow">
      select
      id,
      first_name firstName,
      last_name lastName,
      mobile,
      qq,
      wechat,
      email,
      sex,
      default_provice defaultProvice,
      default_city defaultCity,
      head_portrait_url headPortraitUrl,
      valid_status validStatus,
      user_evaluate_point userEvaluatePoint
      from bif_dispatch_human_resource

      where id = #{id,jdbcType=INTEGER}

  </select>

  <update id="updateByServiceId" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResourceInfoShow">
    update bif_dispatch_human_resource
    <set >

      <if test="firstName != null" >
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null" >
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>

      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>

      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="headPortraitUrl != null" >
        head_portrait_url = #{headPortraitUrl,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--修改密码-->
  <update id="updatePasswordByAccount" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource">
    update bif_dispatch_human_resource
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where  1=1
    <if test="account != null" >
     AND account = #{account,jdbcType=VARCHAR}
    </if>
  </update>
  <!--根据mobile查询-->
  <select id="selectByMobile" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM `bif_dispatch_human_resource`
    WHERE
    mobile = #{account,jdbcType=VARCHAR}
    AND flag_deleted = 0
  </select>
  <!--服务商信息补全信息查询-->
  <select id="selectInfoById" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.GetHumanResourceServiceInfoShow">
   SELECT
    hr.id,
    hr.first_name AS firstName,
    hr.last_name AS lastName,
    val.description AS idType,
    val.id_code AS idCode,
    val.positive_image_url AS positiveImageUrl,
    val.contrary_image_url AS contraryImageUrl,
    val.handheld_image_url AS handheldImageUrl
    FROM
    bif_dispatch_human_resource hr
    LEFT JOIN(SELECT vv.*,dic.description FROM bif_dispatch_hr_autonym_valid vv LEFT JOIN cfg_data_dictionary dic on dic.`value` = vv.id_type WHERE vv.flag_last = 1 AND dic.type = "IDTYPE") val on val.user_id = hr.id
    LEFT JOIN (SELECT * FROM cfg_data_dictionary WHERE type = "INVOICE-TYPE") dic on hr.provide_invoice_type = dic.`value`
    WHERE
    hr.id = #{id,jdbcType=INTEGER}
    AND hr.flag_deleted = 0
	AND hr.flag_available = 1
  </select>
  <!--根据id查询公司以及发票信息-->
  <select id="selectCompanyInvoiceById" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.GetHumanResourceCompanyInvoice">
      SELECT
      hr.id,
      hr.belong_company AS belongCompany ,
      hr.belong_company_bussiness_license_code AS belongCompanyBussinessLicenseCode,
      hr.flag_provide_invoice AS  flagProvideInvoice,
      dic.description AS provideInvoiceType,
      hr.provide_invoice_rate AS  provideInvoiceRate
      FROM bif_dispatch_human_resource hr
	  LEFT JOIN (SELECT * FROM cfg_data_dictionary WHERE type = "INVOICE-TYPE") dic on dic.`value` = hr.provide_invoice_type
      WHERE
      hr.id = #{id,jdbcType=INTEGER}
      AND hr.flag_deleted = 0
      AND hr.flag_available = 1
  </select>
  <!--查询公司以及发票信息-->
  <select id="selectCompanyInvoice" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.GetHumanResourceCompanyInvoice">
      SELECT
      hr.id,
      hr.belong_company AS belongCompany ,
      hr.belong_company_bussiness_license_code AS belongCompanyBussinessLicenseCode,
      hr.flag_provide_invoice AS  flagProvideInvoice,
      dic.description AS provideInvoiceType,
      hr.provide_invoice_rate AS  provideInvoiceRate
      FROM bif_dispatch_human_resource hr
	  LEFT JOIN (SELECT * FROM cfg_data_dictionary WHERE type = "INVOICE-TYPE") dic on dic.`value` = hr.provide_invoice_type
      WHERE hr.flag_deleted = 0
      AND hr.flag_available = 1
  </select>
  <!--编辑关联公司&发票信息-->
  <update id="updateCompanyInvoice" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHumanResource" >
    update bif_dispatch_human_resource
    <set >
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="belongCompany != null" >
        belong_company = #{belongCompany,jdbcType=VARCHAR},
      </if>
      <if test="belongCompanyBussinessLicenseCode != null" >
        belong_company_bussiness_license_code = #{belongCompanyBussinessLicenseCode,jdbcType=VARCHAR},
      </if>
      <if test="flagProvideInvoice != null" >
        flag_provide_invoice = #{flagProvideInvoice,jdbcType=BIT},
      </if>
      <if test="provideInvoiceType != null" >
        provide_invoice_type = #{provideInvoiceType,jdbcType=VARCHAR},
      </if>
      <if test="provideInvoiceRate != null" >
        provide_invoice_rate = #{provideInvoiceRate,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--服务商是否冻结-->
  <select id="selectByHrId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM `bif_dispatch_human_resource`
    WHERE
    id = #{userId,jdbcType=INTEGER}
    AND flag_deleted = 0
    AND flag_available = 1
  </select>
</mapper>