<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.blackrockservice.mapper.bif.BifDispatchHrServiceAreaMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hr_id" property="hrId" jdbcType="INTEGER" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="flag_default" property="flagDefault" jdbcType="BIT" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hr_id, nation, province, city, flag_default, flag_deleted, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_service_area
    where id = #{id,jdbcType=INTEGER}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bif_dispatch_hr_service_area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea" >
    insert into bif_dispatch_hr_service_area (id, hr_id, nation, 
      province, city, flag_default, 
      flag_deleted, create_time)
    values (#{id,jdbcType=INTEGER}, #{hrId,jdbcType=INTEGER}, #{nation,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{flagDefault,jdbcType=BIT}, 
      #{flagDeleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea" >
    insert into bif_dispatch_hr_service_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hrId != null" >
        hr_id,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="flagDefault != null" >
        flag_default,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hrId != null" >
        #{hrId,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="flagDefault != null" >
        #{flagDefault,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea" >
    update bif_dispatch_hr_service_area
    <set >
      <if test="hrId != null" >
        hr_id = #{hrId,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="flagDefault != null" >
        flag_default = #{flagDefault,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea" >
    update bif_dispatch_hr_service_area
    set hr_id = #{hrId,jdbcType=INTEGER},
      nation = #{nation,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      flag_default = #{flagDefault,jdbcType=BIT},
      flag_deleted = #{flagDeleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据hrId查询默认区域-->
  <select id="selectDefaultAreaByHrId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from bif_dispatch_hr_service_area
    where hr_id = #{hrId,jdbcType=INTEGER}
    AND  flag_default = 1
    AND  flag_deleted = 0
  </select>

  <select id="selectServiceByHrId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select
    count(id)
    from bif_dispatch_hr_service_area
    where hr_id = #{hrId,jdbcType=INTEGER}
    AND  flag_deleted = 0
  </select>
  <!--根据hrId查询区域列表-->
  <select id="selectByHrId" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.ListBifDispatchHrServiceArea">
    select
    id,
    hr_id AS hrId,
    province,
    city,
    flag_default AS flagDefault
    from bif_dispatch_hr_service_area
    where hr_id = #{hrId,jdbcType=INTEGER}
    AND  flag_deleted = 0
    ORDER BY flag_default DESC
  </select>
  <select id="selectById" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.ListBifDispatchHrServiceArea">
    select
    id,
    hr_id AS hrId,
    province,
    city,
    flag_default AS flagDefault
    from bif_dispatch_hr_service_area
    where id = #{id,jdbcType=INTEGER}
    AND  flag_deleted = 0
  </select>
  <update id="updateDefaultByHrId" parameterType="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea" >
    update bif_dispatch_hr_service_area
    set
    flag_default = #{flagDefault,jdbcType=BIT}
    where hr_id = #{hrId,jdbcType=INTEGER}
  </update>
  <!--查询最近创建的服务区域-->
  <select id="selectLastTimeArea" parameterType="java.lang.Integer" resultType="com.teekee.blackrockservice.entity.bif.BifDispatchHrServiceArea">
    SELECT
        id,
        province,
		city,
        MAX( create_time ) AS createTime
    FROM
        bif_dispatch_hr_service_area
    WHERE
        hr_id = #{hrId,jdbcType=INTEGER}
    AND
        flag_deleted = 0
  </select>
</mapper>