<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.springboot.mapper.cfg.CfgCommunicationBrandMapper" >
  <resultMap id="BaseResultMap" type="com.platform.springboot.entity.cfg.CfgCommunicationBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
    <result column="flag_available" property="flagAvailable" jdbcType="BIT" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_name, brand_code, flag_available, flag_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cfg_communication_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.platform.springboot.entity.cfg.CfgCommunicationBrand" >
    insert into cfg_communication_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandCode != null" >
        brand_code,
      </if>
      <if test="flagAvailable != null" >
        flag_available,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null" >
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.springboot.entity.cfg.CfgCommunicationBrand" >
    update cfg_communication_brand
    <set >
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null" >
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null" >
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="list" resultMap="BaseResultMap" parameterType="com.platform.springboot.entity.cfg.CfgCommunicationBrand">
    select
    <include refid="Base_Column_List" />
    from cfg_communication_brand
    where flag_deleted = 0
    <if test="flagAvailable != null" >
      and flag_available = #{flagAvailable,jdbcType=BIT}
    </if>
  </select>
</mapper>