<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.springboot.mapper.cfg.CfgCommunicationSubBrandMapper" >
  <resultMap id="BaseResultMap" type="com.company.springboot.entity.cfg.CfgCommunicationSubBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="sub_brand_name" property="subBrandName" jdbcType="VARCHAR" />
    <result column="sub_brand_code" property="subBrandCode" jdbcType="VARCHAR" />
    <result column="flag_available" property="flagAvailable" jdbcType="BIT" />
    <result column="flag_deleted" property="flagDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, area_id, sub_brand_name, sub_brand_code, flag_available, flag_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cfg_communication_sub_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.company.springboot.entity.cfg.CfgCommunicationSubBrand" >
    insert into cfg_communication_sub_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="subBrandName != null" >
        sub_brand_name,
      </if>
      <if test="subBrandCode != null" >
        sub_brand_code,
      </if>
      <if test="flagAvailable != null" >
        flag_available,
      </if>
      <if test="flagDeleted != null" >
        flag_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="subBrandName != null" >
        #{subBrandName,jdbcType=VARCHAR},
      </if>
      <if test="subBrandCode != null" >
        #{subBrandCode,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null" >
        #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        #{flagDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.cfg.CfgCommunicationSubBrand" >
    update cfg_communication_sub_brand
    <set >
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="subBrandName != null" >
        sub_brand_name = #{subBrandName,jdbcType=VARCHAR},
      </if>
      <if test="subBrandCode != null" >
        sub_brand_code = #{subBrandCode,jdbcType=VARCHAR},
      </if>
      <if test="flagAvailable != null" >
        flag_available = #{flagAvailable,jdbcType=BIT},
      </if>
      <if test="flagDeleted != null" >
        flag_deleted = #{flagDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="list" resultMap="BaseResultMap" parameterType="com.company.springboot.entity.cfg.CfgCommunicationSubBrand" >
    select
    <include refid="Base_Column_List" />
    from cfg_communication_sub_brand
    where area_id = #{areaId,jdbcType=INTEGER}
    and flag_deleted = 0
    <if test="flagAvailable != null" >
      and flag_available = #{flagAvailable,jdbcType=BIT}
    </if>
  </select>
</mapper>