<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.springboot.mapper.cfg.CfgDispatchRouteMapper">
    <resultMap id="BaseResultMap" type="com.company.springboot.entity.cfg.CfgDispatchRoute">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="project_id" jdbcType="INTEGER" property="projectId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="persons" jdbcType="VARCHAR" property="persons" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="flag_project" jdbcType="BIT" property="flagProject" />
        <result column="flag_default" jdbcType="BIT" property="flagDefault" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_person" jdbcType="INTEGER" property="createPerson" />
        <result column="flag_take_status" jdbcType="BIT" property="flagTakeStatus" />
    </resultMap>
    <sql id="Base_Column_List">
    id, project_id, name, persons, start_time, flag_project, flag_default, create_time,
    create_person, flag_take_status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cfg_dispatch_route
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cfg_dispatch_route
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.company.springboot.entity.cfg.CfgDispatchRoute">
    insert into cfg_dispatch_route (id, project_id, name,
      persons, start_time, flag_project,
      flag_default, create_time, create_person,
      flag_take_status)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{persons,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{flagProject,jdbcType=BIT},
      #{flagDefault,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=INTEGER},
      #{flagTakeStatus,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.company.springboot.entity.cfg.CfgDispatchRoute">
        insert into cfg_dispatch_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="persons != null">
                persons,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="flagProject != null">
                flag_project,
            </if>
            <if test="flagDefault != null">
                flag_default,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createPerson != null">
                create_person,
            </if>
            <if test="flagTakeStatus != null">
                flag_take_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="persons != null">
                #{persons,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flagProject != null">
                #{flagProject,jdbcType=BIT},
            </if>
            <if test="flagDefault != null">
                #{flagDefault,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="flagTakeStatus != null">
                #{flagTakeStatus,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.company.springboot.entity.cfg.CfgDispatchRoute">
        update cfg_dispatch_route
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="persons != null">
                persons = #{persons,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flagProject != null">
                flag_project = #{flagProject,jdbcType=BIT},
            </if>
            <if test="flagDefault != null">
                flag_default = #{flagDefault,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson,jdbcType=INTEGER},
            </if>
            <if test="flagTakeStatus != null">
                flag_take_status = #{flagTakeStatus,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.company.springboot.entity.cfg.CfgDispatchRoute">
    update cfg_dispatch_route
    set project_id = #{projectId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      persons = #{persons,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      flag_project = #{flagProject,jdbcType=BIT},
      flag_default = #{flagDefault,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=INTEGER},
      flag_take_status = #{flagTakeStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--查询项目规则配置列表-->
    <select id="selectAll" resultType="com.company.springboot.entity.cfg.CfgDispatchRoute">
        SELECT route.id,route.name,
        DATE_FORMAT(route.start_time,'%Y-%c-%d %H:%i:%s') startTime,
        DATE_FORMAT(route.create_time,'%Y-%c-%d %H:%i:%s') createTime,
        route.flag_project flagProject,route.flag_default flagDefault,route.flag_take_status flagTakeStatus,
        CASE WHEN COUNT(route.id)=(SELECT count(1) FROM cfg_region WHERE LEVEL=3 AND region_name is NOT NULL AND region_name!='')
        or (route.flag_default=1 and route.persons is not null)
        THEN 1
        ELSE 0 END flagCheck
        FROM cfg_dispatch_route route
        LEFT JOIN cfg_dispatch_route_detail detail ON detail.route_id=route.id
        where 1=1
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            and  (TO_DAYS(start_time)=TO_DAYS(#{startTime,jdbcType=TIMESTAMP}))=1
        </if>
        <if test="createTime != null">
            and (TO_DAYS(create_time)=TO_DAYS(#{createTime,jdbcType=TIMESTAMP}))=1
        </if>
        GROUP BY id desc
    </select>


    <!--默认项目条数-->
    <select id="selectByIsNoDefault" resultType="java.lang.Integer">
    select
    count(1)
    from cfg_dispatch_route where flag_default=1
  </select>

    <!--非特定项目条数-->
    <select id="selectByIsNoProject" resultType="java.lang.Integer">
    select
    count(1)
    from cfg_dispatch_route where flag_project=0 and flag_default=0
  </select>


    <!--派工规则默认分配人员-->
    <select id="selectByDefaultPerson" resultType="java.lang.String">
    SELECT DISTINCT route.persons
    FROM cfg_dispatch_route route
    WHERE route.flag_default=1
  </select>


    <!--派工规则分配人员-->
    <select id="selectByPersons" parameterType="com.company.springboot.entity.fdp.FdpFaultOrderDispatchRequest" resultType="com.company.springboot.entity.cfg.CfgDispatchRouteDetail">
        SELECT detail.emergency_person emergencyPerson,
        detail.no_emergency_person noEmergencyPerson
        FROM cfg_dispatch_route route
        LEFT JOIN cfg_dispatch_route_detail detail ON route.id=detail.route_id
        WHERE detail.region=#{serviceCity}
        AND route.flag_take_status=1
        <if test="projectId != 0">
            AND route.project_id=#{projectId}
            AND route.flag_project=1
        </if>
        <if test="projectId == 0">
            AND route.flag_project=0
        </if>
        AND route.flag_default=0
        GROUP BY detail.region
        --     HAVING COUNT(detail.id)=(SELECT count(1) FROM cfg_region WHERE LEVEL=3 AND region_name is NOT NULL AND region_name!='');
    </select>

</mapper>