<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.cfg.CfgDataDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.cfg.CfgDataDictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, value, order_id, description
  </sql>
  <select id="selectListByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from cfg_data_dictionary
    where type = #{dtype,jdbcType=VARCHAR} order by order_id ASC
  </select>
  <select id="getDictionaryByTypeAndValue" resultMap="BaseResultMap" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDataDictionary" >
    select
    <include refid="Base_Column_List" />
    from cfg_data_dictionary
    where type = #{type,jdbcType=VARCHAR}
    AND value = #{value,jdbcType=VARCHAR}
  </select>
  <select id="selectAllList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from cfg_data_dictionary order by order_id ASC
  </select>
  <select id="listByPayFrequency" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cfg_data_dictionary
    where id in (select settlement_type from cfg_settlement_config where pay_frequency = #{id,jdbcType=INTEGER})
  </select>
</mapper>