<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teekee.waterdropservice.mapper.cfg.CfgDispatchDetailModelMapper" >
  <resultMap id="BaseResultMap" type="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dispatch_type" property="dispatchType" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="model_user_type" property="modelUserType" jdbcType="VARCHAR" />
    <result column="model_user_obj_id" property="modelUserObjId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dispatch_type, version, model_user_type, model_user_obj_id, create_time,create_person
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cfg_dispatch_detail_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cfg_dispatch_detail_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" >
    insert into cfg_dispatch_detail_model (id, dispatch_type, version, 
      model_user_type, model_user_obj_id, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{dispatchType,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{modelUserType,jdbcType=VARCHAR}, #{modelUserObjId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into cfg_dispatch_detail_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dispatchType != null" >
        dispatch_type,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="modelUserType != null" >
        model_user_type,
      </if>
      <if test="modelUserObjId != null" >
        model_user_obj_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dispatchType != null" >
        #{dispatchType,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="modelUserType != null" >
        #{modelUserType,jdbcType=VARCHAR},
      </if>
      <if test="modelUserObjId != null" >
        #{modelUserObjId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" >
    update cfg_dispatch_detail_model
    <set >
      <if test="dispatchType != null" >
        dispatch_type = #{dispatchType,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="modelUserType != null" >
        model_user_type = #{modelUserType,jdbcType=VARCHAR},
      </if>
      <if test="modelUserObjId != null" >
        model_user_obj_id = #{modelUserObjId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" >
    update cfg_dispatch_detail_model
    set dispatch_type = #{dispatchType,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      model_user_type = #{modelUserType,jdbcType=VARCHAR},
      model_user_obj_id = #{modelUserObjId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--查询最高版本列表-->
  <select id="selectModelList" resultType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel">
    SELECT
      model.id,
      model.dispatch_type dispatchType,
      model.version,
      model.model_user_type modelUserType,
      model.model_user_obj_id modelUserObjId,
      model.create_time createTime,
      model.create_person createPerson,
      sys.username createPersonName
      FROM
          (
						SELECT *
						FROM cfg_dispatch_detail_model
						WHERE id =(SELECT MAX(id) FROM cfg_dispatch_detail_model
												WHERE dispatch_type = #{dispatchType,jdbcType=VARCHAR}
												AND company_id = #{companyId,jdbcType=INTEGER}
												)
					)AS model
					LEFT JOIN sys_company_users sys on sys.id = model.create_person

      ORDER BY
          model.version DESC
  </select>
  <!--查询所有版本历史列表-->
  <select id="selectAllVersionList" resultType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel" parameterType="com.teekee.waterdropservice.entity.cfg.CfgDispatchDetailModel">
    SELECT
      model.id,
      model.dispatch_type dispatchType,
      model.version,
      model.model_user_type modelUserType,
      model.model_user_obj_id modelUserObjId,
      model.create_time createTime,
      model.create_person createPerson,
      sys.username createPersonName
      FROM(SELECT * FROM cfg_dispatch_detail_model
			WHERE
              dispatch_type = #{dispatchType,jdbcType=VARCHAR}
              AND company_id = #{companyId,jdbcType=INTEGER}
			  )AS model
			LEFT JOIN sys_company_users sys on sys.id = model.create_person
      ORDER BY
          model.version DESC
  </select>
</mapper>